<section class="py-120 overflow-hidden">
     <div class="container">
          <div class="row align-items-center">
               <div class="col-xl-6 col-lg-5 col-md-10">
                    <div class="position-relative z-1"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <img src="assets/images/thumbs/about-four-thumb1.png" alt="thumb">
                         <div>
                              <div class="about-four-details position-absolute text-center">
                                   <h2 class="text-main-600 ">22</h2>
                                   <p>YEARS EXPERIENCE</p>
                              </div>
                              <img class="about-four-shape-1 position-absolute tw-z-2" src="assets/images/shapes/about-four-shape1.png" alt="shape">
                              <img class="about-four-shape-2 position-absolute z-index-1" src="assets/images/shapes/about-four-shape2.png" alt="shape">
                              <img class="about-four-shape-3 position-absolute" src="assets/images/thumbs/about-four-thumb2.png" alt="shape">
                         </div>
                    </div>
               </div>
               <div class="col-xl-6 col-lg-7 col-md-9">
                    <div class="about-four-wrapper ps-xl-5"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <div class="tw-mb-6">
                              <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">About Us</span>
                              <h1 class="splitTextStyleOne cursor-big tw-mb-8">Modern Transport Safe Packaging</h1>
                              <p class="cursor-small text-neutral-900 tw-ps-205 border-start border-main-600 border-5 text-heading font-weight-bold">Competently implement efficient e-commerce without cross-unit growth strategies.</p>
                         </div>
                         <div class="border-bottom border-neutral-100 pb-4 d-flex justify-content-between flex-wrap row-gap-2">
                              <ul class="mb-mb-0 mb-3 mb-lg-3 mb-xl-0">
                                   <li class="tw-mb-4"><img src="assets/images/shapes/about-four-check.png" alt="img"> Unlimited Revisions</li>
                                   <li class="tw-mb-4"><img src="assets/images/shapes/about-four-check.png" alt="img"> Best Fitness Excercise</li>
                                   <li class="tw-mb-4"><img src="assets/images/shapes/about-four-check.png" alt="img"> Combine Fitness and</li>
                                   <li class=""><img src="assets/images/shapes/about-four-check.png" alt="img"> Best Solutions</li>
                               </ul>
                               <div>
                                   <img src="assets/images/thumbs/about-four-img.png" alt="img">
                               </div>
                         </div>
                         <div class="d-flex align-items-center tw-gap-56-px tw-mt-10 flex-wrap">
                              <a href="service.html" class="cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group rounded-0" data-block="button" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                   <span class="button__flair"></span>
                                   <span class="button__label">View services</span>
                                   <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                       <i class="ph-bold ph-check"></i>
                                   </span>
                               </a>
                              <div class="d-flex align-items-center tw-gap-205">
                                  <span class="tw-w-15 tw-h-15 rounded-circle tw-p-2 bg-white common-shadow-three flex-shrink-0">
                                      <img src="assets/images/thumbs/user-img.png" alt="">
                                  </span>
                                  <div class="d-flex flex-column tw-gap-1 cursor-small">
                                      <img src="assets/images/thumbs/signature.png" alt="">
                                      <span class="fw-semibold tw-text-sm text-main-600">Ceo & Founder</span>
                                  </div>
                              </div>
                          </div>
                    </div>
               </div>
          </div>
     </div>
</section>