<!-- ================================== About Section Start ======================================= -->
 <section class="about py-140 position-relative max-lg-overflow-hidden">
    <img src="assets/images/shapes/about-plane.png" alt="" class="cursor-big about-plane position-absolute tw-start-0 top-50">
    <img src="assets/images/thumbs/truck-head.png" alt="" class="truck-head cursor-big position-absolute tw-end-0 d-xxl-block d-none">

    <div class="container">
        <div class="row gy-5 flex-wrap-reverse">
            <div class="col-lg-5">
                <div class="position-relative tw-pb-11">
                    <div class="position-relative" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                        <img src="assets/images/thumbs/about-img.png" alt="" class="w-100 h-100 object-fit-cover">
                        <span class="cursor-big tw-w-75-px tw-h-75-px bg-main-600 d-flex justify-content-center align-items-center rounded-circle position-absolute tw-end-0 bottom-0 tw-me-305 tw-mb-305 d-lg-flex d-none">
                            <img src="assets/images/icons/play-bar.svg" alt="">
                        </span>
                    </div>
                    
                    <div class="positioned-image bg-white cursor-big common-shadow-four rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-start-0 tw-p-9" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                        <img src="assets/images/thumbs/glob-track.png" alt="">
                    </div>

                    <div class="tw-p-10 tw-pe-130-px tw--translate-x-30-px bg-main-600 position-absolute tw-start-0 bottom-0" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                        <h1 class="text-white tw-mb-4 cursor-big">25+</h1>
                        <div class="d-flex flex-column tw-gap-1 align-items-start">
                            <span class="text-white fw-medium cursor-small">Years Of Experience</span>
                            <img src="assets/images/shapes/line-shape.png" alt="">
                        </div>
                        <div class="cursor-small before-border position-relative tw-p-205 bg-white d-inline-flex align-items-start tw-gap-1 position-absolute top-0 tw-end-0 tw-mt-205 tw-me-205 z-1">
                            <span class="tw-text-xl fw-semibold text-main-600">4.9</span>
                            <span class="tw-text-xl fw-semibold text-main-600 d-flex tw--translate-y-4-px"><i class="ph-fill ph-star"></i></span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-7 ps-lg-5">
                <div class="">
                    <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                    <h1 class="splitTextStyleOne cursor-big tw-mb-8">Modern transport system & secure packaging</h1>
                    <p class="cursor-small text-neutral-900 tw-ps-205 border-start border-main-600 border-2">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>

                    <div class="tw-mt-9">
                        <div class="row gy-4">
                            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="animation-item d-flex align-items-center tw-gap-6">
                                    <span class="cursor-big animate__heartBeat">
                                        <img src="assets/images/icons/about-icon1.svg" alt="">
                                    </span>
                                    <h6 class="cursor-big">Air Freight <br> Transportation</h6>
                                </div>
                                <p class="cursor-small text-neutral-1000 tw-mt-605 line-clamp-2">Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.</p>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <div class="animation-item d-flex align-items-center tw-gap-6">
                                    <span class="cursor-big animate__heartBeat">
                                        <img src="assets/images/icons/about-icon2.svg" alt="">
                                    </span>
                                    <h6 class="cursor-big">Ocean Freight
                                        Transportation</h6>
                                </div>
                                <p class="cursor-small text-neutral-1000 tw-mt-605 line-clamp-2">Temperate ocean-bass sea chub bass sea chub
                                    treefish eulachon tidewater goby.</p>
                            </div>
                        </div>
                    </div>

                    <span class="tw-my-7 border-bottom border-neutral-100 d-block"></span>

                    <ul class="cursor-small d-flex flex-column tw-gap-2">
                        <li class="d-flex align-items-center tw-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                            <span class="text-neutral-1000 fw-medium">We approached WiaTech with complex project deliver</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                            <span class="text-neutral-1000 fw-medium">Awards Winning IT Solutions Company</span>
                        </li>
                    </ul>

                    <div class="d-flex align-items-center tw-gap-56-px tw-mt-10 flex-wrap">
                        <a href="#" class="cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group rounded-0" data-block="button" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <span class="button__flair"></span>
                            <span class="button__label">View services</span>
                            <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                <i class="ph-bold ph-check"></i>
                            </span>
                        </a>

                        <div class="d-flex align-items-center tw-gap-205" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <span class="tw-w-15 tw-h-15 rounded-circle tw-p-2 bg-white common-shadow-three flex-shrink-0">
                                <img src="assets/images/thumbs/user-img.png" alt="">
                            </span>
                            <div class="d-flex flex-column tw-gap-1 cursor-small">
                                <img src="assets/images/thumbs/signature.png" alt="">
                                <span class="fw-semibold tw-text-sm text-main-600">Ceo & Founder</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ================================== About Section End ======================================= -->