<!-- =========================== About Three Section start =============================== -->
<section class="py-140">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="tw-pe-9 tw-pb-6 tw-ps-5 position-relative h-100 tw-min-h-500-px">
                    <img src="assets/images/thumbs/about-three-img1.png" alt="" class="w-100 h-100 object-fit-cover">
                    <div class="position-absolute tw-start-0 bottom-0 bg-white tw-p-205 tw-rounded-lg common-shadow-five" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                        <img src="assets/images/thumbs/about-three-img2.png" alt="" class="w-100 h-100 object-fit-cover tw-rounded-lg">
                        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-light-animation cursor-big tw-w-75-px tw-h-75-px d-inline-flex justify-content-center align-items-center bg-main-two-600 text-white hover-text-white rounded-circle tw-text-xl position-absolute tw-start-50 tw--translate-middle top-50">
                            <i class="ph-fill ph-play"></i>
                        </a>
                    </div>
                    <div class="bg-main-two-600 tw-rounded-xl tw-py-105 position-absolute tw-end-0 top-50 tw--translate-y-50">
                        <div class="bg-main-600 tw-rounded-xl tw-px-7 tw-py-11">
                            <h5 class="writing-mode text-center font-carter text-white fw-normal cursor-big splitTextStyleOne">We Give <span class="fw-bolder">Donations</span> Poor People </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ps-lg-5">
                <div class="">
                    <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                    <h1 class="splitTextStyleOne cursor-big tw-mb-8">Modern transport system & secure packaging</h1>
                    <p class="cursor-small text-neutral-900 tw-ps-205 border-start border-main-600 border-2">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>

                    <div class="tw-mt-8">
                        <div class="row gy-4">
                            <div class="col-sm-7">
                                <div class="animation-item d-flex align-items-center tw-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <span class="before-circle position-relative z-1 cursor-big animate__heartBeat tw-pb-7 tw-pe-4 flex-shrink-0">
                                        <img src="assets/images/icons/features-icon1.svg" alt="">
                                    </span>
                                    <div class="">
                                        <h6 class="cursor-big splitTextStyleTwo">Air Freight Transportation</h6>
                                        <p class="cursor-small text-neutral-1000 tw-mt-3 line-clamp-2">Raising awareness about the charity's mission and cause.</p>
                                    </div>
                                </div>
                                <span class="tw-my-7 border-bottom border-neutral-200 d-block"></span>
                                <div class="animation-item d-flex align-items-center tw-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <span class="before-circle position-relative z-1 cursor-big animate__heartBeat tw-pb-7 tw-pe-4 flex-shrink-0">
                                        <img src="assets/images/icons/features-icon3.svg" alt="">
                                    </span>
                                    <div class="">
                                        <h6 class="cursor-big splitTextStyleTwo">Cargo Transportation</h6>
                                        <p class="cursor-small text-neutral-1000 tw-mt-3 line-clamp-2">Raising awareness about the charity's mission and cause.</p>
                                    </div>
                                </div>
                                <div class="tw-mt-9">
                                    <ul class="cursor-small d-flex flex-column tw-gap-4">
                                        <li class="d-flex align-items-center tw-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                            <span class="text-main-600 d-flex tw-text-xl"><i class="ph-fill ph-check-circle"></i></span>
                                            <span class="text-neutral-1000 fw-medium">We approached WiaTech with complex project deliver</span>
                                        </li>
                                        <li class="d-flex align-items-center tw-gap-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                            <span class="text-main-600 d-flex tw-text-xl"><i class="ph-fill ph-check-circle"></i></span>
                                            <span class="text-neutral-1000 fw-medium">Awards Winning IT Solutions Company</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="half-gradient-white position-relative z-1 text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="position-relative">
                                        <div class="max-w-158-px mx-auto">
                                            <img src="assets/images/thumbs/about-advisor.png" alt="" class="w-100 h-100 object-fit-cover">
                                        </div>
                                        <span class="d-flex tw-text-15 text-warning position-absolute tw-start-0 top-50 tw--translate-y-50 tw-ms-7">
                                            <img src="assets/images/icons/star-icon.svg" alt="">
                                        </span>
                                    </div>
                                    <h6 class="tw-mt-5 tw-mb-2 cursor-big">Alaxander Mehedi</h6>
                                    <p class="text-main-two-600 cursor-small tw-pb-13">Consult With Advisor?
                                        <a href="javascript:void(0)" class="text-decoration-underline text-main-600 cursor-big hover--translate-y-2 hover-text-main-600">Click Now</a>
                                    </p>
                                    <div class="bg-main-600 tw-p-2 d-flex justify-content-center align-items-center tw-gap-4 w-100">
                                        <span class="tw-w-9 tw-h-9 border border-neutral-400 rounded-circle d-flex justify-content-center align-items-center tw-text-lg text-white cursor-small">
                                            <i class="ph-bold ph-phone-call"></i>
                                        </span>
                                        <a href="tel:+1718-904-4450" class="cursor-big fw-semibold text-white hover--translate-y-2 hover-text-main-two-600 text-start">+1 718-904-4450</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== About Three Section End =============================== -->