<!-- =============================== About two css start ============================= -->
<section class="about-two py-140">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="about-two-thumbs position-relative h-100">
                    <div class="bg-white common-shadow-four tw-p-205 tw-rounded-xl  h-100">
                        <img src="assets/images/thumbs/about-two-img1.jpg" alt="" class="w-100 h-100 object-fit-cover tw-rounded-xl">
                    </div>
                    <div class="bg-white common-shadow-four tw-p-205 tw-rounded-xl about-two-thumbs-two position-absolute top-0 tw-end-0 tw-mt-8 xs-d-block d-none" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                        <img src="assets/images/thumbs/about-two-img2.png" alt="" class="w-100 h-100 object-fit-cover tw-rounded-xl">
                    </div>
                    <div class="bg-white common-shadow-four tw-p-205 tw-rounded-xl about-two-thumbs-three position-absolute bottom-0 tw-end-0 tw-mb-7 xs-d-block d-none" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
                        <img src="assets/images/thumbs/about-two-img3.png" alt="" class="w-100 h-100 object-fit-cover tw-rounded-xl">
                    </div>
                    <img src="assets/images/shapes/dotted-shape.png" alt="" class="position-absolute bottom-0 tw-end-0 z-n1  tw--me-32-px d-md-block d-none">
                </div>
            </div>
            <div class="col-lg-7">
                 <div class="ps-lg-5 ms-xxl-4">
                    <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                    <h2 class="splitTextStyleOne cursor-big tw-mb-10 h2">Modern transport system & secure packaging</h2>
                    <p class="cursor-small text-neutral-900 tw-text-xl">A full administration printing background. Print shirts for yourself
                        or your online business Beautiful, customizable template,</p>

                    <div class="tw-mt-12">  
                        <div class="row gy-4">
                            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="group tw-py-7 tw-px-6 border border-neutral-200 hover-border-main-600 hover-bg-main-50 tw-rounded-md tw-duration-300">
                                    <div class="d-flex align-items-center tw-gap-305">
                                        <span class="group-hover-bg-main-600 cursor-big tw-w-14 tw-h-14 bg-main-two-600 text-white rounded-circle d-flex justify-content-center align-items-center flex-shrink-0 tw-duration-300">
                                            <img src="assets/images/icons/tag-icon.svg" alt="">
                                        </span>
                                        <h6 class="tw-text-lg cursor-big">Smooth Automation</h6>
                                    </div>
                                    <p class="text-neutral-1000 tw-mt-205  cursor-small">No matter how much you know about a part icular medical</p>
                                </div>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <div class="group tw-py-7 tw-px-6 border border-neutral-200 hover-border-main-600 hover-bg-main-50 tw-rounded-md tw-duration-300">
                                    <div class="d-flex align-items-center tw-gap-305">
                                        <span class="group-hover-bg-main-600 cursor-big tw-w-14 tw-h-14 bg-main-two-600 text-white rounded-circle d-flex justify-content-center align-items-center flex-shrink-0 tw-duration-300">
                                            <img src="assets/images/icons/spy-icon.svg" alt="">
                                        </span>
                                        <h6 class="tw-text-lg cursor-big">Custom Branding Tools</h6>
                                    </div>
                                    <p class="text-neutral-1000 tw-mt-205  cursor-small">No matter how much you know about a part icular medical</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center tw-gap-6 tw-my-10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <span class="icon cursor-big">
                            <img src="assets/images/icons/hand-love.svg" alt="">
                        </span>
                        <p class="text-main-two-600 tw-text-lg cursor-small">If the NDIS is available in your area and you don't get any disability supports</p>
                    </div>
                    

                    <div class="d-flex align-items-center tw-gap-56-px tw-mt-10 flex-wrap">
                        <a href="#" class="cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group rounded-0" data-block="button" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <span class="button__flair"></span>
                            <span class="button__label">Contact Us</span>
                            <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                <i class="ph-bold ph-check"></i>
                            </span>
                        </a>

                        <div class="d-flex align-items-center tw-gap-3 flex-wrap" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class="">
                                <img src="assets/images/thumbs/client-img2.png" alt="" class="tw-w-10 tw-h-10 rounded-circle object-fit-cover tw-duration-300 hover-scale-2 z-1">
                                <img src="assets/images/thumbs/client-img1.png" alt="" class="tw-w-10 tw-h-10 rounded-circle object-fit-cover tw-duration-300 hover-scale-2 z-1 tw--ms-16-px">
                                <img src="assets/images/thumbs/client-img3.png" alt="" class="tw-w-10 tw-h-10 rounded-circle object-fit-cover tw-duration-300 hover-scale-2 z-1 tw--ms-16-px">
                                <img src="assets/images/thumbs/client-img4.png" alt="" class="tw-w-10 tw-h-10 rounded-circle object-fit-cover tw-duration-300 hover-scale-2 z-1 tw--ms-16-px">
                            </div>
                            <div class="d-flex flex-column tw-gap-1 align-items-start">
                                <span class="text-neutral-1000 fw-medium cursor-small">10m+ Trusted Global clients</span>
                                <img src="assets/images/shapes/line-shape2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== About two css end ============================= -->