<!-- ============================ Banner section start ======================================= -->
<section class="banner position-relative overflow-hidden">
    <img src="assets/images/shapes/plane-small.png" alt="" class="planeSmall cursor-big position-absolute top-0 tw-start-0 tw-mt-134-px z-2 d-xxl-block d-none">
    <img src="assets/images/shapes/triangle-shape.png" alt="" class="position-absolute bottom-0 tw-start-0 z-2 d-lg-block d-none">
    
    <div class="banner-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                 <img src="assets/images/thumbs/banner-img1.png" alt="" class="scale-bg position-absolute top-0 tw-start-0 z-n1 w-100 h-100 object-fit-cover">
                <div class="banner-item z-2 position-relative">
                    <div class="tw-container-1540-px mx-auto tw-px-4">
                        <div class="position-relative">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <span class="splitTextStyleTwo cursor-small text-main-600 fw-bold fst-italic tw-text-lg text-decoration-underline tw-mb-5">safe transportation & Logistics</span>
                                        <h1 class="splitTextStyleOne cursor-big text-white tw-text-80-px">Flexible logistics Fast Delivery & secure package</h1>
                                        
                                        <div class="d-flex tw-gap-11 tw-mt-13 flex-wrap">
                                           
                                           3
                                            <a href="about.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                Who we are
                                                <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                    <i class="ph-fill ph-caret-circle-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                    
                            <div class="cursor-big bg-blur-one tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-lg-5 py-4 tw-ms-auto tw-mt-3"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <span class="triangle-shape tw-w-10 tw-h-10 bg-main-600 position-absolute tw-start-0 bottom-0"></span>
                                <p class="text-white tw-text-lg line-clamp-3">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="swiper-slide">
                 <img src="assets/images/thumbs/banner-two-bg-1.png" alt="" class="scale-bg position-absolute top-0 tw-start-0 z-n1 w-100 h-100 object-fit-cover">
                <div class="banner-item z-2 position-relative">
                    <div class="tw-container-1540-px mx-auto tw-px-4">
                        <div class="position-relative">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <span class="splitTextStyleTwo cursor-small text-main-600 fw-bold fst-italic tw-text-lg text-decoration-underline tw-mb-5">safe transportation & Logistics</span>
                                        <h1 class="splitTextStyleOne cursor-big text-white tw-text-80-px">Flexible logistics Fast Delivery & secure package</h1>
                                        
                                        <div class="d-flex tw-gap-11 tw-mt-13 flex-wrap">
                                            <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                <span class="button__flair"></span>
                                                <span class="button__label">View services</span>
                                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                            </a>
                                            <a href="about.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                Who we are
                                                <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                    <i class="ph-fill ph-caret-circle-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                    
                            <div class="cursor-big bg-blur-one tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-lg-5 py-4 tw-ms-auto tw-mt-3"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <span class="triangle-shape tw-w-10 tw-h-10 bg-main-600 position-absolute tw-start-0 bottom-0"></span>
                                <p class="text-white tw-text-lg line-clamp-3">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="swiper-slide">
                 <img src="assets/images/thumbs/banner-img1.png" alt="" class="scale-bg position-absolute top-0 tw-start-0 z-n1 w-100 h-100 object-fit-cover">
                <div class="banner-item z-2 position-relative">
                    <div class="tw-container-1540-px mx-auto tw-px-4">
                        <div class="position-relative">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <span class="splitTextStyleTwo cursor-small text-main-600 fw-bold fst-italic tw-text-lg text-decoration-underline tw-mb-5">safe transportation & Logistics</span>
                                        <h1 class="splitTextStyleOne cursor-big text-white tw-text-80-px">Flexible logistics Fast Delivery & secure package</h1>
                                        
                                        <div class="d-flex tw-gap-11 tw-mt-13 flex-wrap">
                                            <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                <span class="button__flair"></span>
                                                <span class="button__label">View services</span>
                                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                    <i class="ph-bold ph-check"></i>
                                                </span>
                                            </a>
                                            <a href="about.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                Who we are
                                                <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                    <i class="ph-fill ph-caret-circle-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                    
                            <div class="cursor-big bg-blur-one tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-lg-5 py-4 tw-ms-auto tw-mt-3"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <span class="triangle-shape tw-w-10 tw-h-10 bg-main-600 position-absolute tw-start-0 bottom-0"></span>
                                <p class="text-white tw-text-lg line-clamp-3">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        
        <div class="container w-0">
            <div class="position-relative w-0">
                <div class="pagination-style-one text-start swiper-pagination banner-pagination cursor-big"></div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Banner section End ======================================= -->