 <!-- slider area start -->
 <section class="banner-four-area position-relative overflow-hidden tw-mt--52-px">
     <div class="banner-four-wrapper position-relative">
         <div class="swiper-container banner-four-active">
             <div class="swiper-wrapper">

                 <!-- slide item 1 -->
                 <div class="swiper-slide">
                     <div class="banner-four-height tw-h-950-px d-flex align-items-center justify-content-center">
                         <div class="banner-four-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img" data-background-image="assets/images/thumbs/banner-four-bg2.jpg"></div>
                         <div class="container">
                             <div class="row">
                                 <div class="col-xl-9 col-lg-8 col-md-11">
                                     <div class="banner-four-content">
                                         <div class="banner-four-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                             <h1 class="banner-four-title text-white splitTextStyleOne cursor-big tw-text-80-px tw-mb-6">Fast-Track Certification & Exceptional Worldwide Service</h1>
                                             <p class="banner-four-paragraph text-white tw-text-lg line-clamp-3 max-w-612-px">Professionally strategize stand-alone functionalities and cooperative total linkage. Objectively predominate virtual quality vectors orthogonal.</p>
                                         </div>
                                         <div class="banner-four-btn-box tw-translate-y-150-px opacity-0 d-inline-flex justify-content-center tw-mt-11">
                                             <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                  <span class="button__flair"></span>
                                                  <span class="button__label"> Explore The Services</span>
                                                  <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                      <i class="ph-bold ph-check"></i>
                                                  </span>
                                              </a>
                                              <a href="contact.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 tw-ms-5 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                  Contact Us
                                                  <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                      <i class="ph-fill ph-caret-circle-right"></i>
                                                  </span>
                                              </a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <!-- slide item 2 -->
                 <div class="swiper-slide">
                     <div class="banner-four-height tw-h-950-px d-flex align-items-center justify-content-center">
                         <div class="banner-four-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img" data-background-image="assets/images/thumbs/banner-four-bg1.png"></div>
                         <div class="container">
                             <div class="row">
                                 <div class="col-xl-8 col-lg-8 col-md-11">
                                     <div class="banner-four-content">
                                        <div class="banner-four-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                             <h1 class="banner-four-title text-white splitTextStyleOne cursor-big tw-text-80-px tw-mb-6">Expedited Certification & Superior Worldwide Service</h1>
                                             <p class="banner-four-paragraph text-white tw-text-lg line-clamp-3 max-w-612-px">Professionally strategize stand-alone functionalities and cooperative total linkage. Objectively predominate virtual quality vectors orthogonal.</p>
                                         </div>
                                         <div class="banner-four-btn-box tw-translate-y-150-px opacity-0 d-inline-flex justify-content-center tw-mt-11">
                                             <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                  <span class="button__flair"></span>
                                                  <span class="button__label"> Explore The Services</span>
                                                  <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                      <i class="ph-bold ph-check"></i>
                                                  </span>
                                              </a>
                                              <a href="contact.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 tw-ms-5 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                  Contact Us
                                                  <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                      <i class="ph-fill ph-caret-circle-right"></i>
                                                  </span>
                                              </a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
         <div class="banner-four-arrow-box">
             <button class="banner-slider-prev" tabindex="0" aria-label="Previous slide">
               <i class="ph ph-arrow-left"></i>
             </button>
             <button class="banner-slider-next" tabindex="0" aria-label="Next slide">
               <i class="ph ph-arrow-right"></i>
             </button>
         </div>
     </div>
 </section>
 <!-- slider area end -->
