<!-- ============================= Banner Two Start ============================= -->
<section class="banner-two overflow-hidden position-relative">
    <img src="assets/images/thumbs/banner-two-man-img.png" alt="" class="position-absolute tw-start-0 bottom-0 tw-z-99 d-lg-block d-none">

    <div class="banner-two-slider">
        <div class="swiper-wrapper">
            
            <div class="swiper-slide">
                <div class="scale-bg position-absolute top-0 tw-start-0 bg-img z-n1" data-background-image="assets/images/thumbs/banner-two-bg-1.png"></div>
                <div class="tw-pt-332-px tw-pb-132-px">
                    <div class="container">
                        <div class="banner-two py-5">
                            <h2 class="tw-text-150-px cursor-big"> 
                                <span class="text-white tw-ps-150-px splitTextStyleOne">Transport&</span>
                                <span class="text-white text-stroke-white splitTextStyleOne">Logistics</span> 
                                <span class="d-md-inline-flex d-none"><img src="assets/images/shapes/circle.png" alt="" class=""></span>
                            </h2>
                            <div class="cursor-big bg-blur-five tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-4 tw-ms-auto tw-mt-13" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <p class="text-white tw-text-lg line-clamp-3 splitTextStyleTwo">Temperate ocean-bass sea chub unicorn fish tree fish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="scale-bg position-absolute top-0 tw-start-0 bg-img z-n1" data-background-image="assets/images/thumbs/banner-two-bg-1.png"></div>
                <div class="tw-pt-332-px tw-pb-132-px">
                    <div class="container">
                        <div class="banner-two py-5">
                            <h2 class="tw-text-150-px cursor-big"> 
                                <span class="text-white tw-ps-150-px splitTextStyleOne">Transport&</span>
                                <span class="text-white text-stroke-white splitTextStyleOne">Logistics</span> 
                                <span class="d-md-inline-flex d-none"><img src="assets/images/shapes/circle.png" alt="" class=""></span>
                            </h2>
                            <div class="cursor-big bg-blur-five tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-4 tw-ms-auto tw-mt-13" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <p class="text-white tw-text-lg line-clamp-3 splitTextStyleTwo">Temperate ocean-bass sea chub unicorn fish tree fish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="scale-bg position-absolute top-0 tw-start-0 bg-img z-n1" data-background-image="assets/images/thumbs/banner-two-bg-1.png"></div>
                <div class="tw-pt-332-px tw-pb-132-px">
                    <div class="container">
                        <div class="banner-two py-5">
                            <h2 class="tw-text-150-px cursor-big"> 
                                <span class="text-white tw-ps-150-px splitTextStyleOne">Transport&</span>
                                <span class="text-white text-stroke-white splitTextStyleOne">Logistics</span> 
                                <span class="d-md-inline-flex d-none"><img src="assets/images/shapes/circle.png" alt="" class=""></span>
                            </h2>
                            <div class="cursor-big bg-blur-five tw-rounded-lg max-w-520-px px-xxl-5 px-lg-4 px-3 py-4 tw-ms-auto tw-mt-13" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <p class="text-white tw-text-lg line-clamp-3 splitTextStyleTwo">Temperate ocean-bass sea chub unicorn fish tree fish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="position-absolute tw-end-0 top-50 tw--translate-y-50 tw-me-13 min-w-max d-lg-block d-none">
        <div class="pagination-style-two swiper-pagination banner-two-pagination cursor-big"></div>
    </div>
    
    <div class="position-absolute tw-start-50 tw--translate-x-50 bottom-0 d-flex tw-gap-4 tw-mb-100-px">
        <div class=" cursor-big banner-two-swiper-button-prev tw-w-14 tw-h-14 border border-neutral-1100 rounded-circle tw-text-xl text-white hover-bg-main-600 hover-border-main-600 d-flex justify-content-center align-items-center tw-duration-300">
            <i class="ph ph-arrow-left"></i>
        </div>
        <div class=" cursor-big banner-two-swiper-button-next tw-w-14 tw-h-14 border border-neutral-1100 rounded-circle tw-text-xl text-white hover-bg-main-600 hover-border-main-600 d-flex justify-content-center align-items-center tw-duration-300">
            <i class="ph ph-arrow-right"></i> 
        </div>
    </div>
    
</section>
<!-- ============================= Banner Two End ============================= -->