<!-- Banner area start -->
<section class="banner-five-area banner-six-area position-relative overflow-hidden">
    <div class="banner-five-wrapper position-relative">
        <div class="swiper-container banner-six-active">
            <div class="swiper-wrapper">

                <!-- slide item 1 -->
                <div class="swiper-slide">
                    <div class="banner-five-height banner-six-height d-flex align-items-center justify-content-center">
                        <div class="banner-five-bg banner-six-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img"
                            data-background-image="assets/images/thumbs/banner-six-bg1.jpg"></div>
                        <div class="container-fluid gx-0">
                            <div class="row align-items-end justify-content-between">
                                <div class="col-xl-6 col-lg-8 col-md-11">
                                    <div class="banner-six-left">
                                        <div class="banner-five-content banner-six-content tw-mb-20">
                                            <div
                                                class="banner-five-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                                <h2
                                                    class="banner-five-title text-white splitTextStyleOne cursor-big tw-text-80-px mb-4 font-manrope">
                                                    Logistic With Smart Solutions</h2>
                                                <p
                                                    class="banner-five-paragraph text-white tw-text-xl line-clamp-3 fw-medium font-heading">
                                                    we deliver trust, speed, and reliability. Whether you're a small
                                                    business or a global enterprise, our smart logistics solutions are
                                                    designed.</p>
                                            </div>
                                        </div>
                                        <div
                                            class="banner-six-bottom d-flex align-items-center justify-content-between position-relative z-2">
                                            <div class="banner-six-bottom-items">
                                                <a class="banner-six-bottom-link tw-pt-4 text-white tw-text-lg fw-medium d-flex justify-content-between"
                                                    href="javascript:void(0)">Land Transport <span class="tw-text-lg"><i
                                                            class="ph ph-arrow-up-right"></i></span></a>
                                            </div>
                                            <div class="banner-six-bottom-items">
                                                <a class="banner-six-bottom-link tw-pt-4 text-white tw-text-lg fw-medium d-flex justify-content-between"
                                                    href="javascript:void(0)">Air Freight <span class="tw-text-lg"><i
                                                            class="ph ph-arrow-up-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="banner-six-form bg-white tw-p-10 position-relative z-2">
                                        <h4 class="font-manrope tw-text-lg tw-mb-4">Track your order</h4>
                                        <div class="">
                                            <form action="#" class="d-flex flex-sm-row flex-column tw-gap-5">
                                                <div class="position-relative flex-grow-1">
                                                    <input type="text"
                                                        class="tw-h-14 bg-white-01 tw-ps-12 border text-heading border-neutral-100 focus-border-main-600 text-white focus-outline-0 w-100 cursor-big tw-pe-6"
                                                        placeholder="Enter your tracking number">
                                                    <span
                                                        class="text-heading tw-text-lg position-absolute top-50 tw-start-0 tw--translate-y-50 tw-ms-5 d-flex">
                                                        <i class="ph ph-envelope-simple"></i>
                                                    </span>
                                                    <button type="submit"
                                                        class="cursor-small tw-w-14 h-100 bg-main-six-600 button--stroke group active--translate-y-2 fw-semibold flex-grow-1 flex-shrink-0 position-absolute top-50 translate-middle-y end-0"
                                                        data-block="button">
                                                        <span
                                                            class="text-white tw-text-xl d-flex justify-content-center align-items-center position-relative group-hover-text-main-600 tw-duration-500">
                                                            <i class="ph ph-arrow-up-right"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- slide item 2 -->
                <div class="swiper-slide">
                    <div class="banner-five-height banner-six-height d-flex align-items-center justify-content-center">
                        <div class="banner-five-bg banner-six-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img"
                            data-background-image="assets/images/thumbs/banner-six-bg2.jpg"></div>
                        <div class="container-fluid gx-0">
                            <div class="row align-items-end justify-content-between">
                                <div class="col-xl-6 col-lg-8 col-md-11">
                                    <div class="banner-six-left">
                                        <div class="banner-five-content banner-six-content tw-mb-20">
                                            <div
                                                class="banner-five-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                                <h2
                                                    class="banner-five-title text-white splitTextStyleOne cursor-big tw-text-80-px mb-4 font-manrope">
                                                    Intelligent Logistics Solutions</h2>
                                                <p
                                                    class="banner-five-paragraph text-white tw-text-xl line-clamp-3 fw-medium font-heading">
                                                    we deliver trust, speed, and reliability. Whether you're a small
                                                    business or a global enterprise, our smart logistics solutions are
                                                    designed.</p>
                                            </div>
                                        </div>
                                        <div
                                            class="banner-six-bottom d-flex align-items-center justify-content-between position-relative z-2">
                                            <div class="banner-six-bottom-items">
                                                <a class="banner-six-bottom-link tw-pt-4 text-white tw-text-lg fw-medium d-flex justify-content-between"
                                                    href="javascript:void(0)">Land Transport <span class="tw-text-lg"><i
                                                            class="ph ph-arrow-up-right"></i></span></a>
                                            </div>
                                            <div class="banner-six-bottom-items">
                                                <a class="banner-six-bottom-link tw-pt-4 text-white tw-text-lg fw-medium d-flex justify-content-between"
                                                    href="javascript:void(0)">Air Freight <span class="tw-text-lg"><i
                                                            class="ph ph-arrow-up-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="banner-six-form bg-white tw-p-10 position-relative z-2">
                                        <h4 class="font-manrope tw-text-lg tw-mb-4">Track your order</h4>
                                        <div class="">
                                            <form action="#" class="d-flex flex-sm-row flex-column tw-gap-5">
                                                <div class="position-relative flex-grow-1">
                                                    <input type="text"
                                                        class="tw-h-14 bg-white-01 tw-ps-12 border text-heading border-neutral-100 focus-border-main-600 text-white focus-outline-0 w-100 cursor-big tw-pe-6"
                                                        placeholder="Enter your tracking number">
                                                    <span
                                                        class="text-heading tw-text-lg position-absolute top-50 tw-start-0 tw--translate-y-50 tw-ms-5 d-flex">
                                                        <i class="ph ph-envelope-simple"></i>
                                                    </span>
                                                    <button type="submit"
                                                        class="cursor-small tw-w-14 h-100 bg-main-six-600 group active--translate-y-2 fw-semibold flex-grow-1 flex-shrink-0 position-absolute top-50 translate-middle-y end-0"
                                                        data-block="button">
                                                        <span
                                                            class="text-white tw-text-xl d-flex justify-content-center align-items-center position-relative group-hover-text-main-600 tw-duration-500">
                                                            <i class="ph ph-arrow-up-right"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="banner-six-arrow-box">
            <button class="banner-six-prev">
                <span><img src="assets/images/icons/banner-six-left-arrow.svg" alt="arrow"></span>
            </button>
            <button class="banner-six-next">
                <span><img src="assets/images/icons/banner-six-right-arrow.svg" alt="arrow"></span>
            </button>
        </div>
    </div>
</section>
<!-- Banner area end -->