 <!-- Banner area start -->
 <section class="banner-five-area position-relative overflow-hidden tw-mt--52-px">
     <div class="banner-five-wrapper position-relative">
         <div class="swiper-container banner-five-active">
             <div class="swiper-wrapper">

                 <!-- slide item 1 -->
                 <div class="swiper-slide">
                     <div class="banner-five-height tw-h-1120-px d-flex align-items-center justify-content-center">
                         <div class="banner-five-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img" data-background-image="assets/images/thumbs/banner-five-bg1.png"></div>
                         <div class="container">
                             <div class="row justify-content-center">
                                 <div class="col-xl-9 col-lg-8 col-md-11">
                                     <div class="banner-five-content text-center tw-mt-134-px">
                                         <div class="banner-five-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                             <h1 class="banner-five-title text-white splitTextStyleOne cursor-big tw-text-80-px mb-4">Express Certification with Outstanding Service</h1>
                                             <p class="banner-five-paragraph text-white tw-text-lg line-clamp-3 max-w-612-px m-auto">Professionally strategize stand-alone functionalities and cooperative total linkage. Objectively predominate virtual quality vectors orthogonal.</p>
                                         </div>
                                         <div class="banner-five-btn-box tw-translate-y-150-px opacity-0 d-inline-flex justify-content-center tw-mt-11">
                                             <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                  <span class="button__flair"></span>
                                                  <span class="button__label"> Explore The Services</span>
                                                  <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                      <i class="ph-bold ph-check"></i>
                                                  </span>
                                              </a>
                                              <a href="about.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 ml-20 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                  Contact Us
                                                  <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                      <i class="ph-fill ph-caret-circle-right"></i>
                                                  </span>
                                              </a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <!-- slide item 2 -->
                 <div class="swiper-slide">
                     <div class="banner-five-height tw-h-1120-px d-flex align-items-center justify-content-center">
                         <div class="banner-five-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img" data-background-image="assets/images/thumbs/banner-five-bg2.png"></div>
                         <div class="container">
                             <div class="row justify-content-center">
                                 <div class="col-xl-9 col-lg-8 col-md-11">
                                     <div class="banner-five-content text-center tw-mt-134-px">
                                         <div class="banner-five-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                             <h1 class="banner-five-title text-white splitTextStyleOne cursor-big tw-text-80-px mb-4">Accelerated Certification & Global-Class Service</h1>
                                             <p class="banner-five-paragraph text-white tw-text-lg line-clamp-3 max-w-612-px m-auto">Professionally strategize stand-alone functionalities and cooperative total linkage. Objectively predominate virtual quality vectors orthogonal.</p>
                                         </div>
                                         <div class="banner-five-btn-box tw-translate-y-150-px opacity-0 d-inline-flex justify-content-center tw-mt-11">
                                             <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                  <span class="button__flair"></span>
                                                  <span class="button__label"> Explore The Services</span>
                                                  <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                      <i class="ph-bold ph-check"></i>
                                                  </span>
                                              </a>
                                              <a href="about.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 ml-20 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                  Contact Us
                                                  <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                      <i class="ph-fill ph-caret-circle-right"></i>
                                                  </span>
                                              </a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

                 <!-- slide item 3 -->
                 <div class="swiper-slide">
                     <div class="banner-five-height tw-h-1120-px d-flex align-items-center justify-content-center">
                         <div class="banner-five-bg position-absolute w-100 h-100 top-0 start-0 scale-100 bg-img" data-background-image="assets/images/thumbs/banner-five-bg3.jpg"></div>
                         <div class="container">
                             <div class="row justify-content-center">
                                 <div class="col-xl-9 col-lg-8 col-md-11">
                                     <div class="banner-five-content text-center tw-mt-134-px">
                                         <div class="banner-five-title-box tw--translate-y-150 position-relative z-3 opacity-0 tw-mb-8">
                                             <h1 class="banner-five-title text-white splitTextStyleOne cursor-big tw-text-80-px mb-4">Rapid Approval & Elite Global Assistance</h1>
                                             <p class="banner-five-paragraph text-white tw-text-lg line-clamp-3 max-w-612-px m-auto">Professionally strategize stand-alone functionalities and cooperative total linkage. Objectively predominate virtual quality vectors orthogonal.</p>
                                         </div>
                                         <div class="banner-five-btn-box tw-translate-y-150-px opacity-0 d-inline-flex justify-content-center tw-mt-11">
                                             <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                                  <span class="button__flair"></span>
                                                  <span class="button__label"> Explore The Services</span>
                                                  <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                                      <i class="ph-bold ph-check"></i>
                                                  </span>
                                              </a>
                                              <a href="about.html" class="cursor-small d-inline-flex align-items-center tw-gap-2 ml-20 text-white fw-semibold hover-text-main-600 group active--translate-y-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                                  Contact Us
                                                  <span class="text-main-600 d-flex group-hover-text-white tw-duration-200 tw-text-base">
                                                      <i class="ph-fill ph-caret-circle-right"></i>
                                                  </span>
                                              </a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>


             </div>
         </div>
        <div class="banner-five-arrow-box">
            <button class="banner-five-prev">
              <i class="ph ph-arrow-left"></i>
            </button>
            <button class="banner-five-next">
              <i class="ph ph-arrow-right"></i>
            </button>
        </div>
        <div class="banner-five-dots position-absolute dots-color">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
        </div>
     </div>
 </section>
 <!-- Banner area end -->
