<section class="py-120">
     <div class="container">
          <div class="row">
               <div class="tw-mb-6 text-center"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"> Latest Blog </span>
                    <h1 class="splitTextStyleOne cursor-big tw-mb-8">Latest News & Articles</h1>
               </div>
          </div>
          <div class="row">
               <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="tw-mb-7"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <div class="tw-mb-5 overflow-hidden">
                              <a class="d-block" href="blog-details.html"><img class="hover-scale-108 tw-duration-300 w-100 h-100 object-fit-cover" src="assets/images/thumbs/blog-four-thumb1.png" alt="thumb"></a>
                         </div>
                         <h5 class="tw-mb-5">
                              <a href="blog-details.html" class="splitTextStyleTwo line-clamp-2 hover-text-main-600 cursor-big">Express delivery is going to slow down in 2022</a>
                         </h5>
                         <div class="tw-mb-505 d-flex align-items-center tw-gap-6 flex-wrap">
                              <div class="d-flex align-items-center tw-gap-2 cursor-small">
                                  <span class="text-main-600 tw-text-lg"><i class="ph-bold ph-user-circle"></i></span>
                                  <span class="text-neutral-600 tw-text-sm">Mehedii .H</span>
                              </div>
                              <div class="d-flex align-items-center tw-gap-2 cursor-small">
                                  <span class="text-main-600 tw-text-lg"><i class="ph-bold ph-chats-circle"></i></span>
                                  <span class="text-neutral-600 tw-text-sm">Comments (03)</span>
                              </div>
                         </div>
                         <a href="blog-details.html" class="text-neutral-900 fw-semibold hover-text-main-600 cursor-small hover--translate-y-1 tw-duration-150 d-flex align-items-center tw-gap-2">
                              <span class=" text-decoration-underline">Read More</span> 
                              <i class="ph-bold ph-caret-right"></i>
                          </a>
                    </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="tw-mb-7"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                         <div class="tw-mb-5 overflow-hidden">
                              <a class="d-block" href="blog-details.html"><img class="hover-scale-108 tw-duration-300 w-100 h-100 object-fit-cover" src="assets/images/thumbs/blog-four-thumb2.png" alt="thumb"></a>
                         </div>
                         <h5 class="tw-mb-5">
                              <a href="blog-details.html" class="splitTextStyleTwo line-clamp-2 hover-text-main-600 cursor-big">USA exhibition support for teneso NewYork.</a>
                         </h5>
                         <div class="tw-mb-505 d-flex align-items-center tw-gap-6 flex-wrap">
                              <div class="d-flex align-items-center tw-gap-2 cursor-small">
                                  <span class="text-main-600 tw-text-lg"><i class="ph-bold ph-user-circle"></i></span>
                                  <span class="text-neutral-600 tw-text-sm">Mehedii .H</span>
                              </div>
                              <div class="d-flex align-items-center tw-gap-2 cursor-small">
                                  <span class="text-main-600 tw-text-lg"><i class="ph-bold ph-chats-circle"></i></span>
                                  <span class="text-neutral-600 tw-text-sm">Comments (03)</span>
                              </div>
                         </div>
                         <a href="blog-details.html" class="text-neutral-900 fw-semibold hover-text-main-600 cursor-small hover--translate-y-1 tw-duration-150 d-flex align-items-center tw-gap-2">
                              <span class=" text-decoration-underline">Read More</span> 
                              <i class="ph-bold ph-caret-right"></i>
                          </a>
                    </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="tw-mb-7"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                         <div class="tw-mb-5 overflow-hidden">
                              <a class="d-block" href="blog-details.html"><img class="hover-scale-108 tw-duration-300 w-100 h-100 object-fit-cover" src="assets/images/thumbs/blog-four-thumb3.png" alt="thumb"></a>
                         </div>
                         <h5 class="tw-mb-5">
                              <a href="blog-details.html" class="splitTextStyleTwo line-clamp-2 hover-text-main-600 cursor-big">New Additions to our great Metro trucks.</a>
                         </h5>
                         <div class="tw-mb-505 d-flex align-items-center tw-gap-6 flex-wrap">
                              <div class="d-flex align-items-center tw-gap-2 cursor-small">
                                  <span class="text-main-600 tw-text-lg"><i class="ph-bold ph-user-circle"></i></span>
                                  <span class="text-neutral-600 tw-text-sm">Mehedii .H</span>
                              </div>
                              <div class="d-flex align-items-center tw-gap-2 cursor-small">
                                  <span class="text-main-600 tw-text-lg"><i class="ph-bold ph-chats-circle"></i></span>
                                  <span class="text-neutral-600 tw-text-sm">Comments (03)</span>
                              </div>
                         </div>
                         <a href="blog-details.html" class="text-neutral-900 fw-semibold hover-text-main-600 cursor-small hover--translate-y-1 tw-duration-150 d-flex align-items-center tw-gap-2">
                              <span class=" text-decoration-underline">Read More</span> 
                              <i class="ph-bold ph-caret-right"></i>
                          </a>
                    </div>
               </div>
          </div>
     </div>
</section>