<section class="blog-six-area py-120">
    <div class="container container-six">
        <div class="row justify-content-end">
            <div class="col-xl-12">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h6 class="section-six-subtitle tw-pb-3 fw-normal font-heading tw-text-lg text-main-six-600 tw-mb-12">/ Our Blog & News</h6>
                </div>
            </div>
            <div class="col-xl-6 col-lg-9">
                <div class="tw-mb-16" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <h2 class="section-six-title font-manrope fw-bolder">READ OUR LATEST INSIGHT, BLOG AND NEWS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="tw-mb-6 position-relative z-1 overflow-hidden">
                        <a class="d-block" href="blog-details.html"><img class="hover-scale-108 mw-100 tw-duration-300 w-100 h-100 object-fit-cover" src="assets/images/thumbs/blog-six-thumb1.jpg" alt="thumb"></a>
                        <div class="position-absolute top-0 start-0 tw-mt-4 tw-ms-4">
                            <span class="bg-main-six-2-600 font-heading fw-medium text-white tw-py-1 tw-px-5">Logistic</span>
                        </div>
                    </div>
                    <div class="blog-six-meta tw-mb-4">
                        <span class="font-manrope tw-text-lg text-main-six-600 position-relative z-1 tw-ps-9">24 April, 2026</span>
                    </div>
                    <div class="tw-me-10">
                        <h4 class="tw-text-2xl tw-mb-4"><a href="blog-details.html">Logistics Communications in People’s Daily Lives</a></h4>
                        <p class="tw-text-lg font-heading tw-leading-body">Vix ut ignota deserunt partien ad, pros tale falli periculis ad, idque deseruisse constituam.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="tw-mb-6 position-relative z-1 overflow-hidden">
                        <a class="d-block" href="blog-details.html"><img class="hover-scale-108 mw-100 tw-duration-300 w-100 h-100 object-fit-cover" src="assets/images/thumbs/blog-six-thumb2.jpg" alt="thumb"></a>
                        <div class="position-absolute top-0 start-0 tw-mt-4 tw-ms-4">
                            <span class="bg-main-six-2-600 font-heading fw-medium text-white tw-py-1 tw-px-5">Transport</span>
                        </div>
                    </div>
                    <div class="blog-six-meta tw-mb-4">
                        <span class="font-manrope tw-text-lg text-main-six-600 position-relative z-1 tw-ps-9">24 April, 2026</span>
                    </div>
                    <div class="tw-me-10">
                        <h4 class="tw-text-2xl tw-mb-4"><a href="blog-details.html">How Public Transport Can Lead the Charge in Sustainability</a></h4>
                        <p class="tw-text-lg font-heading tw-leading-body">Vix ut ignota deserunt partien ad, pros tale falli periculis ad, idque deseruisse constituam.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="tw-mb-6 position-relative z-1 overflow-hidden">
                        <a class="d-block" href="blog-details.html"><img class="hover-scale-108 mw-100 tw-duration-300 w-100 h-100 object-fit-cover" src="assets/images/thumbs/blog-six-thumb3.jpg" alt="thumb"></a>
                        <div class="position-absolute top-0 start-0 tw-mt-4 tw-ms-4">
                            <span class="bg-main-six-2-600 font-heading fw-medium text-white tw-py-1 tw-px-5">Logistic</span>
                        </div>
                    </div>
                    <div class="blog-six-meta tw-mb-4">
                        <span class="font-manrope tw-text-lg text-main-six-600 position-relative z-1 tw-ps-9">24 April, 2026</span>
                    </div>
                    <div class="tw-me-10">
                        <h4 class="tw-text-2xl tw-mb-4"><a href="blog-details.html">Global Sustainable Transport and Logistics Solutions</a></h4>
                        <p class="tw-text-lg font-heading tw-leading-body">Vix ut ignota deserunt partien ad, pros tale falli periculis ad, idque deseruisse constituam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>