<!-- =================================== Brand One Start ===================================== -->
<div class="py-140 tw-mt-9 position-relative z-1">
    <img src="assets/images/shapes/testimonials-brand-bg.png" alt="" class="position-absolute bottom-0 tw-start-0 tw-end-0 z-n1 w-100 h-100">
    <!-- Brand Start -->
    <div class="container">
        <div class="">
            <div class="left-right-line text-center position-relative z-1">
                <p class="d-inline-block tw-text-xl fw-bold text-main-two-600 tw-px-10 bg-bg-color cursor-small">Trusted and funded by more then <span class="text-main-600">900</span> companies</p>
            </div>

            <div class="tw-mt-12">
                <div class="brand-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img1.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img2.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img3.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img4.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img5.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img2.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand End -->
</div>
<!-- =================================== Brand One End ===================================== -->