

<section class="pb-120 overflow-hidden">
     <div class="container">
          <div class="row">
               <div class="tw-mb-6 text-center"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">  Happy Clients </span>
                    <h1 class="splitTextStyleOne cursor-big tw-mb-8">Trusted By Our 365,000 Clients</h1>
               </div>
          </div>
          <div class="row">
               <div class="col-xxl-12">
                   <div class="brand-four-slider"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                       <div class="brand-four-active overflow-hidden swiper-container">
                           <div class="swiper-wrapper">
                               <div class="brand-four-item text-center swiper-slide">
                                   <div class="brand-four-thumb">
                                       <img src="assets/images/thumbs/brand-four-thumb1.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item text-center swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb2.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item text-center swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb3.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item text-center swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb4.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item text-center swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb5.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item text-center swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb6.png" alt="thumb">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
     </div>
</section>



