<!-- ========================= brand Three Start ============================= -->
<div class="brand-three-slider-wrapper tw-mt-13">
    <div class="container">
        <div class="brand-three-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"> 
                    <div class="text-center cursor-big">
                        <img src="assets/images/thumbs/brand-three-img1.png" alt="" class="max-w-175-px">
                    </div>
                </div>
                <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> 
                    <div class="text-center cursor-big">
                        <img src="assets/images/thumbs/brand-three-img2.png" alt="" class="max-w-175-px">
                    </div>
                </div>
                <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300"> 
                    <div class="text-center cursor-big">
                        <img src="assets/images/thumbs/brand-three-img3.png" alt="" class="max-w-175-px">
                    </div>
                </div>
                <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400"> 
                    <div class="text-center cursor-big">
                        <img src="assets/images/thumbs/brand-three-img4.png" alt="" class="max-w-175-px">
                    </div>
                </div>
                <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> 
                    <div class="text-center cursor-big">
                        <img src="assets/images/thumbs/brand-three-img5.png" alt="" class="max-w-175-px">
                    </div>
                </div>
                <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600"> 
                    <div class="text-center cursor-big">
                        <img src="assets/images/thumbs/brand-two-img6.png" alt="" class="max-w-175-px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= brand Three End ============================= -->