<!-- ==================== Brand Start Here ==================== -->
<div class="brand-six-area py-120">
    <div class="container container-six">
        <div class="row justify-content-center">
            <div class="col-xxl-12">
                <div class="brand-six-slider" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="brand-six-active swiper-container overflow-hidden">
                        <div class="swiper-wrapper">
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb1.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb2.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb3.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb4.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb5.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb6.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb1.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb2.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb3.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb4.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb5.png" alt="brand">
                                </div>
                            </div>
                            <div class="brand-six-wrapper swiper-slide">
                                <div class="brand-six-thumb">
                                    <img src="assets/images/thumbs/brand-six-thumb6.png" alt="brand">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Brand End Here ==================== -->