<!-- Barnd area start -->
<div class="barnd-five-area overflow-hidden bg-img tw-pt-13 z-2 tw-mt--172-px" data-background-image="assets/images/thumbs/brand-five-bg.png">
     <div class="container">
          <div class="row">
               <div class="col-xxl-12">
                   <div class="brand-four-slider"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                       <div class="brand-four-active overflow-hidden swiper-container">
                           <div class="swiper-wrapper">
                               <div class="brand-four-item swiper-slide">
                                   <div class="brand-four-thumb">
                                       <img src="assets/images/thumbs/brand-four-thumb1.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb2.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb3.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb4.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb5.png" alt="thumb">
                                   </div>
                               </div>
                               <div class="brand-four-item swiper-slide">
                                   <div class="brand-four-thumb">
                                        <img src="assets/images/thumbs/brand-four-thumb6.png" alt="thumb">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
     </div>
</div>
<!-- barnd area start -->


