<section class="call-to-action-four-area position-relative z-1 bg-neutral-50">
     <div class="container">
          <div class="row justify-content-end">
               <div class="col-xl-6 col-lg-7 col-md-7">
                    <div class="call-to-action-four-wrapper tw-p-40-50-px tw-ml-30-px bg-img" data-background-image="assets/images/thumbs/call-to-action-four-bg.png">
                         <div class="tw-mb-4">
                              <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"> Let’s Talk </span>
                              <h1 class="splitTextStyleOne cursor-big tw-mb-8 text-white"> Let’s Talk You Need Any Help?</h1>
                         </div>
                         <div class="call-to-action-four-call-item d-flex gap-3 tw-mb-6">
                              <div class="call-to-action-four-call-icon">
                                  <a class="tw-w-50-px tw-h-50-px d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-circle line-height-1 tw-text-2xl" href="tel:+025757576560"><i class="ph ph-phone-call"></i></a>
                              </div>
                              <div class="call-to-action-four-call-number">
                                  <span class="d-block text-white fw-bold tw-mb-1">Have Any Question</span>
                                  <a class="text-main-600 fw-bold tw-mb-2 hover-text-underline tw-text-2xl" href="tel:+025757576560">+025 757 576 560</a>
                              </div>
                          </div>
                         <div>
                              <a href="service.html" class="cursor-small btn btn-main hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                   <span class="button__flair"></span>
                                   <span class="button__label"> Contact Us</span>
                                   <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                       <i class="ph-bold ph-check"></i>
                                   </span>
                               </a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div>
          <img class="call-to-action-four-shape position-absolute top-0 start-0 w-80 h-100 object-fit-cover" src="assets/images/shapes/call-to-action-shape.png" alt="">
     </div>
</section>