<section class="choose-us-six-area pt-120 tw-pb-13 position-relative z-1 overflow-hidden">
    <div class="container container-six">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7">
                <div class="choose-us-six-thumb position-relative z-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <img src="assets/images/thumbs/choose-us-six-thumb.jpg" alt="thumb">
                    <div class="choose-us-six-call-wrap position-absolute">
                        <div class="choose-us-six-call bg-main-six-600 tw-py-10 tw-px-13 d-inline-flex tw-gap-5">
                            <div class="">
                                <span class="tw-text-9 text-white"><i class="ph ph-headset"></i></span>
                            </div>
                            <div class="">
                                <span class="d-block font-manrope tw-text-lg fw-bold text-white tw-mb-4">Support Center:</span>
                                <div class="tw-mb-1">
                                    <span class="text-white fw-bold font-heading">Phone: </span>
                                    <a class="font-heading fw-medium text-white" href="tel:+63552584250">+398 00 929 239</a>
                                </div>
                                <div>
                                    <span class="text-white fw-bold font-heading">Email: </span>
                                    <a class="font-heading fw-medium text-white" href="mailto:hellologiku@gmail.com">hellologiku@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="choose-us-six-right tw-ps-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div>
                        <div>
                            <h6 class="section-six-subtitle tw-pb-3 fw-normal font-heading tw-text-lg text-main-six-600 tw-mb-12">/ Why Choose Us</h6>
                        </div>
                        <div class="tw-mb-14">
                            <h2 class="section-six-title font-manrope tw-text-12 fw-bolder">DRIVING GROWTH THROUGH RELIABLE TRANSPORT & SUPPLY CHAIN SOLUTIONS</h2>
                        </div>
                    </div>
                    <div class="choose-us-six-wrap">
                        <div class="tw-mb-10">
                            <p class="choose-us-six-paragraph font-heading tw-text-lg">Founded with a mission to make logistics simpler and smarter, Logisku has grown into a full-service provider trusted by businesses of all sizes. We understand the challenges of modern shipping and are dedicated to providing fast, flexible, and cost-effective solutions tailored to your needs.</p>
                        </div>
                        <div class="choose-us-six-list">
                            <ul class="">
                                <li class="font-heading tw-text-lg fw-medium text-neutral-1000 float-start w-50 tw-mb-2 d-inline-flex align-items-center tw-gap-3"><span class="tw-text-xl text-main-six-600"><i class="ph-bold ph-check"></i></span> Intermodal Shipping</li>
                                <li class="font-heading tw-text-lg fw-medium text-neutral-1000 float-start w-50 tw-mb-2 d-inline-flex align-items-center tw-gap-3"><span class="tw-text-xl text-main-six-600"><i class="ph-bold ph-check"></i></span> Container Freight</li>
                                <li class="font-heading tw-text-lg fw-medium text-neutral-1000 float-start w-50 tw-mb-2 d-inline-flex align-items-center tw-gap-3"><span class="tw-text-xl text-main-six-600"><i class="ph-bold ph-check"></i></span> Freeze product Shipping</li>
                                <li class="font-heading tw-text-lg fw-medium text-neutral-1000 float-start w-50 tw-mb-2 d-inline-flex align-items-center tw-gap-3"><span class="tw-text-xl text-main-six-600"><i class="ph-bold ph-check"></i></span> Hot Shot Trucking</li>
                            </ul>
                        </div>
                        <div>
                            <a class="bg-main-six-2-600 text-white hover-bg-main-six font-heading fw-bold tw-py-1 tw-pe-1 tw-ps-7 d-inline-flex align-items-center tw-gap-4" href="contact.html">Explore More <span class="tw-w-12 tw-h-12 lh-1 d-inline-flex align-items-center justify-content-center bg-white text-main-six-2-600"><i class="ph-bold ph-arrow-up-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="choose-us-six-shape position-absolute bottom-0 end-0 z-n1" src="assets/images/shapes/choose-us-six-bg-shape.png" alt="shape">
    </div> 
</section>