


<section class="chooseus-four-area tw-pt-200-px pb-120 bg-img position-relative z-1" data-background-image="assets/images/thumbs/chooseus-four-bg.png">
     <div class="container">
          <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6 col-md-10">
                    <div   data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <div class="tw-mb-12">
                              <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600">Why Choose Us</span>
                              <h1 class="splitTextStyleOne cursor-big tw-mb-4 text-white">Why Choose For Us</h1>
                              <p class="text-white">Dramatically enhance interactive metrics for reliable services. Proactively unleash fully researched e-commerce.</p>
                         </div>
                         <div class="d-flex gap-3 tw-mb-4">
                              <div class="chooseus-four-icon position-relative z-1">
                                   <span><img src="assets/images/shapes/chooseus-four-icon1.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h5 class="text-white tw-mb-2">Fast Transportion Service</h5>
                                   <p class="text-neutral-900">Enhance interactive metrics for reliable services. <br> Proactively unleash fully researched.</p>
                              </div>
                         </div>
                         <div class="d-flex gap-3 tw-mb-4">
                              <div class="chooseus-four-icon position-relative z-1">
                                   <span><img src="assets/images/shapes/chooseus-four-icon2.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h5 class="text-white tw-mb-2">24/7 Online Support</h5>
                                   <p class="text-neutral-900">Enhance interactive metrics for reliable services. <br> Proactively unleash fully researched.</p>
                              </div>
                         </div>
                         <div class="d-flex gap-3 tw-mb-4">
                              <div class="chooseus-four-icon position-relative z-1">
                                   <span><img src="assets/images/shapes/chooseus-four-icon3.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h5 class="text-white tw-mb-2">Safety And Reliability</h5>
                                   <p class="text-neutral-900">Enhance interactive metrics for reliable services. <br> Proactively unleash fully researched.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                    <div class="chooseus-four-thumb position-relative z-1"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                         <img src="assets/images/thumbs/chooseus-four-thumb.png" alt="thumb">
                         <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-inherit-animation cursor-big tw-w-75-px tw-h-75-px d-inline-flex justify-content-center align-items-center bg-main-600 text-white hover-text-main-two-700 rounded-circle tw-text-xl position-absolute tw-start-50 tw--translate-middle top-50">
                              <i class="ph-fill ph-play"></i>
                         </a>
                    </div>
               </div>
          </div>
     </div>
     <div>
          <img class="planeSmall position-absolute tw-start-0 top-0 z-index-1" src="assets/images/shapes/chooseus-four-1.png" alt="shapes">
          <img class="updown-animation position-absolute bottom-0 tw-end-0 z-index-1" src="assets/images/shapes/chooseus-four-2.png" alt="shapes">
     </div>
</section>
