<div class="pt-120 tw-pb-165-px bg-img" data-background-image="assets/images/thumbs/chooseus-five-bg.png">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-xl-7">
                    <div class="tw-mb-80-px text-center"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"> Why Choose Us </span>
                         <h2 class="tw-text-60-px splitTextStyleOne cursor-big tw-mb-4 text-white">Why Choose For Us</h2>
                         <p class="cursor-small tw-ps-205 font-weight-bold text-white">Dramatically enhance interactive metrics for reliable services. <br> Proactively unleash fully researched e-commerce.</p>
                    </div>
               </div>
          </div>
          <div class="row align-items-end">
               <div class="col-xl-4 col-lg-4 col-md-4">
                    <div  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <div class="chooseus-five-wrap d-flex tw-gap-5 tw-mb-7">
                              <div class="feature-four-icon chooseus-five-icon position-relative z-1 tw-mb-3">
                                   <span class="cursor-big bg-main-600 tw-w-50-px tw-h-50-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/chooseus-five-icon1.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h6 class="text-white tw-mb-3">Fast Transportion Service</h6>
                                   <p class="text-neutral-1000">Enhance interactive metrics for reliable services. Proactively researched.</p>
                              </div>
                         </div>
                         <div class="chooseus-five-wrap d-flex tw-gap-5 tw-mb-7">
                              <div class="feature-four-icon chooseus-five-icon position-relative z-1 tw-mb-3">
                                   <span class="cursor-big bg-main-600 tw-w-50-px tw-h-50-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/chooseus-five-icon2.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h6 class="text-white tw-mb-3">Safety And Reliability</h6>
                                   <p class="text-neutral-1000">Enhance interactive metrics for reliable services. Proactively researched.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="chooseus-five-thumb text-center"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                         <img src="assets/images/thumbs/chooseus-five-thumb.png" alt="thumb">
                    </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4">
                    <div  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                         <div class="chooseus-five-wrap d-flex tw-gap-5 tw-mb-7">
                              <div class="feature-four-icon chooseus-five-icon position-relative z-1 tw-mb-3">
                                   <span class="cursor-big bg-main-600 tw-w-50-px tw-h-50-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/chooseus-five-icon3.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h6 class="text-white tw-mb-3">24/7 Online Support</h6>
                                   <p class="text-neutral-1000">Enhance interactive metrics for reliable services. Proactively researched.</p>
                              </div>
                         </div>
                         <div class="chooseus-five-wrap d-flex tw-gap-5 tw-mb-7">
                              <div class="feature-four-icon chooseus-five-icon position-relative z-1 tw-mb-3">
                                   <span class="cursor-big bg-main-600 tw-w-50-px tw-h-50-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/chooseus-five-icon4.png" alt="icon"></span>
                              </div>
                              <div>
                                   <h6 class="text-white tw-mb-3">Online Tracking</h6>
                                   <p class="text-neutral-1000">Enhance interactive metrics for reliable services. Proactively researched.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>