
<!-- ========================== Contact us three section start ================================= -->
<section class="py-140 position-relative overflow-hidden">
    <img src="assets/images/shapes/contact-us-three-plane.png" alt="" class="contact-us-three-plane position-absolute tw-end-0 top-0 tw-mt-254-px">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-7">
                <div class="">
                    <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                    <h1 class="splitTextStyleOne cursor-big tw-mb-8">Modern transport system & secure packaging</h1>
                    <p class="cursor-small text-neutral-900 tw-ps-205 border-start border-main-600 border-2">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>

                    <div class="d-flex d-flex flex-sm-nowrap flex-wrap tw-mt-10">
                        <div class="tw-pe-32-px tw-me-32-px border-end border-neutral-200" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class=" max-w-130-px">
                                <img src="assets/images/icons/service-icon1.svg" alt="" class="cursor-big">
                                <h6 class="cursor-small tw-text-base tw-mt-4 fw-semibold">Replenishment and picking</h6>
                            </div>
                        </div>
                        <div class="tw-pe-32-px tw-me-32-px border-end border-neutral-200" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <div class=" max-w-130-px">
                                <img src="assets/images/icons/service-icon5.svg" alt="" class="cursor-big">
                                <h6 class="cursor-small tw-text-base tw-mt-4 fw-semibold">Warehousing operation</h6>
                            </div>
                        </div>
                        <div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class=" max-w-130-px">
                                <img src="assets/images/icons/tranport-way-icon33.svg" alt="" class="cursor-big">
                                <h6 class="cursor-small tw-text-base tw-mt-4 fw-semibold">Transportation Processing</h6>
                            </div>
                        </div>
                    </div>
                    <div class="tw-mt-13" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-12 tw-h-12 border border-neutral-200 rounded-circle d-flex justify-content-center align-items-center cursor-small">
                                <img src="assets/images/icons/message-double.svg" alt="">
                            </span>
                            <h5 class="">
                                <a href="tel:+1718-904-4450" class="text-main-600 fw-bold font-body cursor-big hover-scale-108">+1 718-904-4450</a>
                            </h5>
                        </div>
                        <p class="tw-text-sm fw-semibold tw-mt-2 cursor-small text-main-two-600">Consult With It Advisor? 
                            <a href="#" class="text-decoration-underline text-main-600 cursor-big hover-scale-108">Click Now</a>
                        </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-5">
                <div class="position-relative">
                    <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-light-animation cursor-big tw-w-75-px tw-h-75-px d-inline-flex justify-content-center align-items-center bg-main-600 text-white hover-text-main-two-700 rounded-circle tw-text-xl position-absolute tw-start-50 tw--translate-middle top-50 z-1">
                        <i class="ph-fill ph-play"></i>
                    </a>
                    <div class="row gy-4">
                        <div class="col-6">
                            <div class="">
                                <img src="assets/images/thumbs/contact-us-three-img1.png" alt="" class="clip-top-left w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <img src="assets/images/thumbs/contact-us-three-img2.png" alt="" class="clip-bottom-right w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Contact us three section End ================================= -->

