<section class="contact-six-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-9">
                <div class="contact-six-left tw-mt-10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div>
                        <h6
                            class="section-six-subtitle  tw-pb-3 fw-normal font-heading tw-text-lg text-main-six-2-600 tw-mb-12">
                            / Request a Quote</h6>
                    </div>
                    <div class="tw-mb-10">
                        <h2 class="section-six-title font-manrope fw-bolder tw-mb-8">DELIVERING MORE THAN PACKAGES OF
                            LOGISTICS</h2>
                        <p class="tw-text-lg tw-leading-body">Founded with a mission to make logistics simpler and
                            smarter, Logistick has grown into a full-service provider trusted by businesses of all
                            sizes.</p>
                    </div>
                    <div class="contact-six-thumb">
                        <img src="assets/images/thumbs/contact-six-thumb.jpg" alt="thumb">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="position-relative bg-white tw-py-12 px-lg-5 tw-px-56" data-aos="fade-up"
                    data-aos-duration="1000" data-aos-delay="300">
                    <h4 class="tw-mb-6 cursor-big font-manrope">REQUEST A QUOTE</h4>
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <label for="personalInfo"
                                    class="cursor-small font-heading tw-text-lg text-black tw-mb-4">Personal
                                    Data*</label>
                                <input type="text"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none tw-text-sm fw-medium font-heading"
                                    id="personalInfo" placeholder="John Smith">
                            </div>
                            <div class="col-sm-6">
                                <label for="personalInfo"
                                    class="cursor-small font-heading tw-text-lg tw-mb-4 opacity-0">Personal
                                    Data*</label>
                                <input type="email"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none tw-text-sm fw-medium font-heading"
                                    id="Email" placeholder="Email">
                            </div>
                            <div class="col-sm-6">
                                <input type="text"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none tw-text-sm fw-medium font-heading"
                                    placeholder="+12 (090) 393 033">
                            </div>
                            <div class="col-sm-6">
                                <select id="deliveryInfo"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none form-select tw-text-sm fw-medium font-heading">
                                    <option value="" selected hidden>Choose Subject</option>
                                    <option value="">Choose Subject</option>
                                    <option value="">Chandpur</option>
                                    <option value="">Sylhet</option>
                                    <option value="">Ranngpur</option>
                                </select>
                            </div>
                            <div class="tw-shop-sidebar-price-range-head tw-mt-6">
                                <div class="tw-shop-price-filter tw-mb">
                                    <a class="tw-text-lg font-heading text-black" href="javascript:void(0)">DIST
                                        (Miles):</a>
                                    <input class="tw-text-lg font-heading text-black" type="text" id="amount">
                                </div>
                                <div id="slider-range"
                                    class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                    <div class="ui-slider-range ui-corner-all ui-widget-header"
                                        style="left: 10%; width: 65%;"></div><span tabindex="0"
                                        class="ui-slider-handle ui-corner-all ui-state-default"
                                        id="ui-slider-handle-left-contral" style="left: 10%;"></span><span tabindex="0"
                                        class="ui-slider-handle ui-corner-all ui-state-default"
                                        style="left: 75%;"></span>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <label for="personalInfo"
                                    class="cursor-small font-heading tw-text-lg tw-mb-4 text-black">Shipment
                                    Data*</label>
                                <select id="FreightType"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none form-select tw-text-sm fw-medium font-heading">
                                    <option value="" selected hidden>Freight Type</option>
                                    <option value="">Freight Type</option>
                                    <option value="">Freight Type</option>
                                    <option value="">Freight Type</option>
                                    <option value="">Freight Type</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="personalInfo"
                                    class="cursor-small font-heading tw-text-lg tw-mb-4 opacity-0">Personal
                                    Data*</label>
                                <input type="text"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none tw-text-sm fw-medium font-heading"
                                    placeholder="City of Departure">
                            </div>
                            <div class="col-sm-6">
                                <select id="Incoterms"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none form-select">
                                    <option value="" selected hidden>Incoterms</option>
                                    <option value="">Incoterms</option>
                                    <option value="">Incoterms</option>
                                    <option value="">Incoterms</option>
                                    <option value="">Incoterms</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text"
                                    class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600  border focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none tw-text-sm fw-medium font-heading"
                                    placeholder="Height">
                            </div>
                            <div class="col-sm-12">
                                <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mt-4">
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border border-neutral-300" type="checkbox"
                                            value="" id="Fragile">
                                        <label class="form-check-label  tw-text-sm fw-medium font-heading"
                                            for="Fragile">Fragile</label>
                                    </div>
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border border-neutral-300" type="checkbox"
                                            value="" id="Expressdelivery">
                                        <label class="form-check-label  tw-text-sm fw-medium font-heading"
                                            for="Expressdelivery">Express delivery</label>
                                    </div>
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border border-neutral-300" type="checkbox"
                                            value="" id="Insurance">
                                        <label class="form-check-label  tw-text-sm fw-medium font-heading"
                                            for="Insurance">Insurance</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div>
                                    <button
                                        class="bg-main-six-600 hover-bg-main-six-2 text-white font-heading fw-bold tw-py-1 tw-pe-1 tw-ps-7 d-inline-flex align-items-center tw-gap-4">Request
                                        A Quote <span
                                            class="tw-w-12 tw-h-12 lh-1 d-inline-flex align-items-center justify-content-center bg-white text-main-six-600"><i
                                                class="ph-bold ph-arrow-up-right"></i></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>