<!-- ========================== Contact us section start =============================== -->
<section class="d-xl-flex">
    <div class="w-100 xl-w-50 position-relative">
        <div class="d-flex h-100">
            <img src="assets/images/thumbs/contact-us-img1.png" alt="" class="d-sm-block d-none">
            <div class="text-center animation-item bg-main-two-600 tw-py-12 tw-px-6 flex-grow-1">
                <span class="cursor-big">
                    <img src="assets/images/icons/conact-us-icon1.svg" alt="" class="animate__wobble">
                </span>
                <h2 class="splitTextStyleOne text-white tw-mb-8 tw-mt-6 cursor-big">Need Our Services?</h2>
                <a href="javascript:void(0)"
                    class="cursor-small fw-bold text-white d-inline-flex align-items-center tw-gap-5 hover-text-main-600">
                    Contact With us
                    <img src="assets/images/icons/arrow-right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="w-100 xl-w-50 position-relative">
        <div class="d-sm-flex">
            <div class="position-relative">
                <img src="assets/images/thumbs/contact-us-img2.png" alt="" class="w-100 h-100 object-fit-cover">
                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                    class="play-button circle-border bg-inherit-animation cursor-big tw-w-75-px tw-h-75-px d-flex justify-content-center align-items-center bg-main-three-600 text-main-two-600 hover-text-main-two-700 active-scale-094 rounded-circle tw-text-xl position-absolute top-50 tw-start-50 translate-middle">
                    <i class="ph-fill ph-play"></i>
                </a>
            </div>
            <div class="text-center animation-item bg-main-600 tw-py-12 tw-px-6 flex-grow-1">
                <span class="cursor-big">
                    <img src="assets/images/icons/conact-us-icon2.svg" alt="" class="animate__wobble">
                </span>
                <h2 class="splitTextStyleOne text-white tw-mb-8 tw-mt-6 cursor-big">Discuss With Agents</h2>
                <a href="javascript:void(0)"
                    class="cursor-small fw-bold text-white d-inline-flex align-items-center tw-gap-5 hover-text-main-two-600">
                    Contact With us
                    <img src="assets/images/icons/arrow-right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Contact us section End =============================== -->