<!-- ================================= Counter Section Start ==================================== -->
<section class="counter d-lg-flex">

    <div class="w-100 lg-w-50 position-relative">
        <img src="assets/images/shapes/counter-shape.png" alt="" class="position-absolute top-0 tw-start-0">
        <img src="assets/images/thumbs/counter-img.png" alt="" class="w-100 h-100 object-fit-cover">
        <div class="bg-main-two-600 tw-p-10 position-absolute tw-start-0 bottom-0 tw-end-0 z-1">
            <div class="row gy-4">
                <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="d-flex align-items-center tw-gap-8">
                        <div>
                            <svg class="radial-progress cursor-big" data-percentage="90" viewBox="0 0 80 80">
                                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                                <text class="percentage bg-white" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">
                                    90%
                                </text>
                            </svg>
                        </div>
                        <div class="">
                            <h6 class="tw-text-xl text-white tw-mb-4 cursor-big">Container Delivery</h6>
                            <p class="text-white line-clamp-2 max-w-210-px cursor-small">End to end fiber optic cable nnectivity for stable</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="d-flex align-items-center tw-gap-8">
                        <div>
                            <svg class="radial-progress cursor-big" data-percentage="70" viewBox="0 0 80 80">
                                <circle class="incomplete" cx="40" cy="40" r="35"></circle>
                                <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
                                <text class="percentage bg-white" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">
                                    70%
                                </text>
                            </svg>
                        </div>
                        <div class="">
                            <h6 class="tw-text-xl text-white tw-mb-4 cursor-big">Good Packaging</h6>
                            <p class="text-white line-clamp-2 max-w-210-px cursor-small">End to end fiber optic cable nnectivity for stable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="w-100 tw-ps-110-px lg-w-50 bg-img py-120 position-relative z-1 h-auto d-flex flex-column justify-content-center overflow-hidden" data-background-image="assets/images/shapes/counter-bg.png">
        <img src="assets/images/thumbs/counter-bg-img.png" alt="" class="counter-bg-img position-absolute bottom-0 tw-end-0 z-n1">
        <img src="assets/images/thumbs/biman-blue.png" alt="" class="blue-biman position-absolute top-0 tw-end-0 z-n1">

        <div class="max-w-632-px">
            <div class="">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h1 class="splitTextStyleOne cursor-big tw-mb-8">We Provide Full Assistance in Freight & Warehousing</h1>
                <p class="cursor-small text-neutral-900">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater. Flier, bighe carp Devario shortnose sucker platy smalleye </p>
            </div>
            <div class="tw-mt-10 d-flex flex-wrap tw-gap-5">
                <div class="text-center flex-grow-1 max-w-190-px w-100 bg-main-600 tw-rounded-lg tw-px-8 tw-py-10"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <h2 class="cursor-big counter font-body text-white tw-mb-2">35+</h2>
                    <p class="cursor-small text-white tw-text-lg">Countries Represented</p>
                </div>
                <div class="text-center flex-grow-1 max-w-190-px w-100 bg-main-two-600 tw-rounded-lg tw-px-8 tw-py-10"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h2 class="cursor-big counter font-body text-white tw-mb-2">853+</h2>
                    <p class="cursor-small text-white tw-text-lg">Projects completed</p>
                </div>
                <div class="text-center flex-grow-1 max-w-190-px w-100 bg-main-three-600 tw-rounded-lg tw-px-8 tw-py-10"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <h2 class="cursor-big counter font-body text-main-two-600 tw-mb-2">35+</h2>
                    <p class="cursor-small text-main-two-600 tw-text-lg">Total Revuneue</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= Counter Section End ==================================== -->