<section class="counter-six-area position-relative z-1 tw-pt-18 pb-120">
    <div class="container container-six">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="counter-six-wrapper tw-me-20" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h4 class="tw-text-lg font-heading tw-pb-4 tw-mb-8 border-bottom border-neutral-100">REDUCTION IN TRANSIT DELAYS</h4>
                    <div class="d-flex align-items-center tw-gap-6">
                        <div>
                            <span><img src="assets/images/icons/counter-six-icon1.svg" alt="icon"></span>
                        </div>
                        <h2 class="cursor-big counter tw-text-21 text-main-six-600 text-stroke-main-six-600 hover-text tw-duration-500">537%</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="counter-six-wrapper tw-me-20" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <h4 class="tw-text-lg font-heading tw-pb-4 tw-mb-8 border-bottom border-neutral-100">IMPROVED SUPPLY CHAIN EFFICIENCY</h4>
                    <div class="d-flex align-items-center tw-gap-6">
                        <div>
                            <span><img src="assets/images/icons/counter-six-icon2.svg" alt="icon"></span>
                        </div>
                        <h2 class="cursor-big counter tw-text-21 text-main-six-600 hover-text tw-duration-400">503K</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="counter-six-wrapper tw-me-20" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <h4 class="tw-text-lg font-heading tw-pb-4 tw-mb-8 border-bottom border-neutral-100">REDUCTION IN SHIPPING DELAYS</h4>
                    <div class="d-flex align-items-center tw-gap-6">
                        <div>
                            <span><img src="assets/images/icons/counter-six-icon3.svg" alt="icon"></span>
                        </div>
                        <h2 class="cursor-big counter tw-text-21 text-main-six-600 text-stroke-main-six-600 hover-text tw-duration-300">855+</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>