<section class="cta-six-area position-relative z-1">
    <div class="cta-six-bg position-absolute w-100 top-0 start-0 z-n1 bg-img" data-background-image="assets/images/thumbs/cta-six-bg.jpg"></div>
    <div class="container container-six">
        <div class="row align-items-end justify-content-between">
            <div class="col-xl-6 col-lg-7">
                <div class="cta-six-top-content tw-me-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div>
                        <h6 class="section-six-subtitle border-bottom border-neutral-800 tw-pb-3 fw-normal font-heading tw-text-lg text-white tw-mb-12">/ Why Choose Us</h6>
                    </div>
                    <h2 class="section-six-title font-heading fw-bolder text-white tw-mb-6">SHAPING THE FUTURE OF LOGISTICS, ONE DELIVERY AT A TIME</h2>
                    <p class="text-white font-heading">Founded with a mission to make logistics simpler and smarter, Logistick has grown into a full-service provider trusted by businesses of all size.</p>
                </div>
            </div>
            <div class="col-xl-4  col-lg-5">
                <div class="bg-white tw-ms-19" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="tw-p-9">
                        <h4 class="tw-mb-4 tw-text-2xl">Logistic solutions</h4>
                        <p class="font-heading tw-text-lg mb-0 tw-leading-body">This includes paperwork like transport contracts, customs declarations.</p>
                    </div>
                    <div class="text-center">
                        <a class="bg-main-six-600 hover-bg-main-six-2 text-white w-100 tw-py-4 font-heading fw-bold d-inline-flex align-items-center justify-content-center tw-gap-2" href="contact.html">Discover More <span class="tw-text-lg"><i class="ph ph-arrow-up-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta-six-two-area py-120">
    <div class="container container-six">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="d-flex tw-gap-8 tw-mb-7" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div>
                        <span class="tw-w-19 tw-h-19"><img src="assets/images/icons/cta-six-icon1.svg" alt="icon"></span>
                    </div>
                    <div>
                        <h4 class="tw-text-2xl font-manrope tw-mb-4">24/7 Hours Support</h4>
                        <p class="tw-text-lg font-heading tw-leading-body">Providing the best transport & shipping services currently available allover.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="d-flex tw-gap-8 tw-mb-7" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div>
                        <span class="tw-w-19 tw-h-19"><img src="assets/images/icons/cta-six-icon2.svg" alt="icon"></span>
                    </div>
                    <div>
                        <h4 class="tw-text-2xl font-manrope tw-mb-4">Real-Time Tracking</h4>
                        <p class="tw-text-lg font-heading tw-leading-body">Providing the best transport & shipping services currently available allover.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="d-flex tw-gap-8 tw-mb-7" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div>
                        <span class="tw-w-19 tw-h-19"><img src="assets/images/icons/cta-six-icon3.svg" alt="icon"></span>
                    </div>
                    <div>
                        <h4 class="tw-text-2xl font-manrope tw-mb-4">Fast & Efficient Delivery</h4>
                        <p class="tw-text-lg font-heading tw-leading-body">Providing the best transport & shipping services currently available allover.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>