<!-- ============================= Facility Section Start ================================ -->
<section class="facility pt-140">
    <div class="container">
        <div class="tw-pb-12 border-bottom border-neutral-100">
            <div class="row gy-5">
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center tw-gap-7 animation-item">
                        <span class="cursor-big flex-shrink-0 tw-w-108-px tw-h-108-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center">
                            <img src="assets/images/icons/facility-icon1.svg" alt="" class="animate__bounce">
                        </span>
                        <div class="flex-grow-1">
                            <h5 class="tw-mb-4 cursor-big">Get Compensation</h5>
                            <p class="text-neutral-1000 cursor-small">Temperate ocean-bass seachub treefish eulachon.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center tw-gap-7 animation-item">
                        <span class="cursor-big flex-shrink-0 tw-w-108-px tw-h-108-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center">
                            <img src="assets/images/icons/facility-icon2.svg" alt="" class="animate__bounce">
                        </span>
                        <div class="flex-grow-1">
                            <h5 class="tw-mb-4 cursor-big">No Spend Your Time</h5>
                            <p class="text-neutral-1000 cursor-small">Temperate ocean-bass seachub treefish eulachon.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center tw-gap-7 animation-item">
                        <span class="cursor-big flex-shrink-0 tw-w-108-px tw-h-108-px bg-main-50 rounded-circle d-flex justify-content-center align-items-center">
                            <img src="assets/images/icons/facility-icon3.svg" alt="" class="animate__bounce">
                        </span>
                        <div class="flex-grow-1">
                            <h5 class="tw-mb-4 cursor-big">Warehouse Facilities</h5>
                            <p class="text-neutral-1000 cursor-small">Temperate ocean-bass seachub treefish eulachon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Facility Section End ================================ -->