<!-- ========================== FAQ section start ============================ -->
<section class="faq half-bg-h-32 pt-140">
    <div class="container">
        <div class="bg-main-two-600 tw-rounded-xl tw-p-100-px position-relative z-1 overflow-hidden">
            <img src="assets/images/shapes/faq-bg-shape.png" alt="" class="position-absolute top-0 h-100 tw-start-40 z-n1">
            
            <div class="row gy-5">
                <div class="col-lg-6">
                    <div class="tw-mb-12">
                        <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                        <h2 class="splitTextStyleOne text-white cursor-big tw-mb-9">Modern transport & secure packaging</h2>
                    </div>
                    <div class="d-flex d-flex flex-sm-nowrap flex-wrap">
                        <div class="tw-pe-32-px tw-me-32-px border-end border-neutral-1100"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class=" max-w-130-px">
                                <img src="assets/images/icons/service-icon1.svg" alt="" class="cursor-big">
                                <h6 class="cursor-small tw-text-base text-white tw-mt-4 fw-semibold">Replenishment and picking</h6>
                            </div>
                        </div>
                        <div class="tw-pe-32-px tw-me-32-px border-end border-neutral-1100"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <div class=" max-w-130-px">
                                <img src="assets/images/icons/service-icon5.svg" alt="" class="cursor-big">
                                <h6 class="cursor-small tw-text-base text-white tw-mt-4 fw-semibold">Warehousing operation</h6>
                            </div>
                        </div>
                        <div class="" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <div class=" max-w-130-px">
                                <img src="assets/images/icons/tranport-way-icon3.svg" alt="" class="cursor-big">
                                <h6 class="cursor-small tw-text-base text-white tw-mt-4 fw-semibold">Transportation Processing</h6>
                            </div>
                        </div>
                    </div>
                    <div class="tw-mt-13" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="d-flex align-items-center tw-gap-3">
                            <span class="tw-w-12 tw-h-12 border border-white rounded-circle d-flex justify-content-center align-items-center cursor-small">
                                <img src="assets/images/icons/message-double.svg" alt="">
                            </span>
                            <h5 class="">
                                <a href="tel:+1718-904-4450" class="text-main-600 fw-bold font-body cursor-big hover-scale-108">+1 718-904-4450</a>
                            </h5>
                        </div>
                        <p class="tw-text-sm fw-semibold text-white tw-mt-2 cursor-small">Consult With It Advisor? 
                            <a href="#" class="text-decoration-underline text-white hover-text-main-600  cursor-big hover-scale-108">Click Now</a>
                        </p>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="">
                        <div class="accordion common-accordion" id="accordionExample">
                            <div class="accordion-item tw-p-205 tw-rounded-lg bg-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <h2 class="accordion-header">
                                    <button class="accordion-button cursor-big tw-py-4 tw-px-24-px tw-rounded-lg fw-bold tw-text-base" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How do you organize a storage for bulk items?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body max-w-400-px">
                                        <p class="text-neutral-1000 cursor-small">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item tw-p-205 tw-rounded-lg bg-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <h2 class="accordion-header">
                                    <button class="accordion-button cursor-big tw-py-4 tw-px-24-px tw-rounded-lg fw-bold tw-text-base collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What Are My Business Management Options?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body max-w-400-px">
                                        <p class="text-neutral-1000 cursor-small">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item tw-p-205 tw-rounded-lg bg-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <h2 class="accordion-header">
                                    <button class="accordion-button cursor-big tw-py-4 tw-px-24-px tw-rounded-lg fw-bold tw-text-base collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How do you monitor stock levels?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body max-w-400-px">
                                        <p class="text-neutral-1000 cursor-small">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item tw-p-205 tw-rounded-lg bg-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <h2 class="accordion-header">
                                    <button class="accordion-button cursor-big tw-py-4 tw-px-24-px tw-rounded-lg fw-bold tw-text-base collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How do you monitor stock levels?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body max-w-400-px">
                                        <p class="text-neutral-1000 cursor-small">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ========================== FAQ section end ============================ -->