<section class="faq-six-area py-120 position-relative z-1">
    <div class="container container-six">
        <div class="row">
            <div class="col-xl-12">
                <div>
                    <h6 class="section-six-subtitle tw-pb-3 fw-normal font-heading tw-text-lg text-main-six-600 tw-mb-8">/ Frequently Asked Questions</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="tw-mb-7" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h2 class="section-six-title font-manrope fw-bolder tw-mb-10">YOUR MOST POPULAR QUESTIONS ABOUT LOGISTICK</h2>
                    <div>
                        <a class="bg-main-six-600 hover-bg-main-six-2 text-white font-heading fw-bold tw-py-1 tw-pe-1 tw-ps-7 d-inline-flex align-items-center tw-gap-4" href="contact.html">Request A Quote <span class="tw-w-12 tw-h-12 lh-1 d-inline-flex align-items-center justify-content-center bg-white text-main-six-600"><i class="ph-bold ph-arrow-up-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="faq-six-accordion">
                    <div class="accordion common-accordion" id="accordionExample">
                        <div class="accordion-item tw-p-205 bg-white border-transparent" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <h2 class="accordion-header">
                                <button class="accordion-button cursor-big tw-py-4 tw-px-24-px fw-semibold tw-text-xl font-manrope" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Do you offer express or same-day delivery?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body pt-0">
                                    <p class="font-heading te-text-lg cursor-small tw-leading-body">We provide a wide range of services including local delivery, national freight, warehouse storage, last-mile delivery, and customized logistics solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item tw-p-205 bg-white border-transparent" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <h2 class="accordion-header">
                                <button class="accordion-button cursor-big tw-py-4 tw-px-24-px fw-semibold tw-text-xl font-manrope collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Do you provide warehousing or storage services?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body pt-0">
                                    <p class="font-heading te-text-lg cursor-small tw-leading-body">We provide a wide range of services including local delivery, national freight, warehouse storage, last-mile delivery, and customized logistics solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item tw-p-205 bg-white border-transparent" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <h2 class="accordion-header">
                                <button class="accordion-button cursor-big tw-py-4 tw-px-24-px fw-semibold tw-text-xl font-manrope collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Do you handle fragile or sensitive items?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body pt-0">
                                    <p class="font-heading te-text-lg cursor-small tw-leading-body">We provide a wide range of services including local delivery, national freight, warehouse storage, last-mile delivery, and customized logistics solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item tw-p-205 bg-white border-transparent" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <h2 class="accordion-header">
                                <button class="accordion-button cursor-big tw-py-4 tw-px-24-px fw-semibold tw-text-xl font-manrope collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Can I schedule recurring deliveries?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body pt-0">
                                    <p class="font-heading te-text-lg cursor-small tw-leading-body">We provide a wide range of services including local delivery, national freight, warehouse storage, last-mile delivery, and customized logistics solutions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item tw-p-205 bg-white border-transparent" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <h2 class="accordion-header">
                                <button class="accordion-button cursor-big tw-py-4 tw-px-24-px fw-semibold tw-text-xl font-manrope collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    What types of logistics services do you offer?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body pt-0">
                                    <p class="font-heading te-text-lg cursor-small tw-leading-body">We provide a wide range of services including local delivery, national freight, warehouse storage, last-mile delivery, and customized logistics solutions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="faq-six-bg-shape position-absolute z-n1" src="assets/images/shapes/faq-six-bg-shape.png" alt="shape">
    </div>
</section>




