<!-- ======================================== Section Features section start ===================================== -->
 <section class="features bg-neutral-50 bg-img" data-background-image="assets/images/shapes/features-bg.png">
    <div class="row g-0 features-item-wrapper">
        <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
            <div class="features-item animation-item p-80-px tw-duration-300 position-relative h-100">
                <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">01</span>
                <span class="pb-60-px cursor-big animate__wobble">
                    <img src="assets/images/icons/features-icon1.svg" alt="">
                </span>
                <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Warehouse Facility</h5>
                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="features-item animation-item p-80-px tw-duration-300 position-relative h-100 bg-white common-shadow-two">
                <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">02</span>
                <span class="pb-60-px cursor-big animate__wobble">
                    <img src="assets/images/icons/features-icon2.svg" alt="">
                </span>
                <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Cost Effective Pricing</h5>
                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
            <div class="features-item animation-item p-80-px tw-duration-300 position-relative h-100">
                <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">03</span>
                <span class="pb-60-px cursor-big animate__wobble">
                    <img src="assets/images/icons/features-icon3.svg" alt="">
                </span>
                <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Air Freight Facility</h5>
                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            <div class="features-item animation-item p-80-px tw-duration-300 position-relative h-100">
                <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">04</span>
                <span class="pb-60-px cursor-big animate__wobble">
                    <img src="assets/images/icons/features-icon4.svg" alt="">
                </span>
                <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Container Delivery</h5>
                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
            </div>
        </div>
    </div>
 </section>
<!-- ======================================== Section Features section End ===================================== -->