<section class="feature-four-area overflow-hidden position-relative z-1 tw-mt--60-px">
     <div class="container">
          <div class="feature-four-bg tw-p-40-px tw-mb-40-px tw-rounded-xl bg-white common-shadow-ten">
               <div class="row align-items-center justify-content-between tw-mb-12">
                    <div class="col-xl-5">
                         <div class="mb-4"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                              <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-tw-mb-305">Features</span>
                              <h1 class="splitTextStyleOne cursor-big tw-mb-8">What We Offer</h1>
                         </div>
                    </div>
                    <div class="col-xl-5 col-lg-8 col-md-8">
                         <div class="position-relative"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                              <p class="cursor-small text-neutral-900 tw-ps-205 border-start border-main-600 border-5 text-heading font-weight-bold">Collaboratively customize front-end materials with standardized infomediaries. Holisticly engineer performance based value. Assertively benchmark turnkey web-readiness rather than long.</p>
                         </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4">
                         <div class="feature-four-arrow-box d-flex justify-content-end gap-2"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                              <button class="feature-slider-prev" tabindex="0" aria-label="Previous slide">
                                   <i class="ph ph-arrow-left"></i>
                              </button>
                              <button class="feature-slider-next" tabindex="0" aria-label="Next slide">
                                   <i class="ph ph-arrow-right"></i>
                              </button>
                          </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-xxl-12">
                        <div class="feature-four-slider position-relative overflow-hidden"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <div class="feature-four-active swiper-container">
                                <div class="swiper-wrapper">
     
                                   <!-- Items 1 -->
                                   <div class="feature-four-wrapper bg-neutral-50 tw-rounded-lg tw-p-40-35-px swiper-slide">
                                        <div class="feature-four-icon position-relative z-1 tw-mb-3">
                                             <span class="cursor-big bg-main-600 tw-w-60-px tw-h-60-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/feature-four-icon1.png" alt="icon"></span>
                                        </div>
                                        <h5 class="tw-mb-3">Warehouse Storage</h5>
                                        <p>Globally initiate resource maximizing total linkage via enabled process improvements.</p>
                                   </div>
     
                                   <!-- Items 2 -->
                                   <div class="feature-four-wrapper bg-neutral-50 tw-rounded-lg tw-p-40-35-px swiper-slide">
                                        <div class="feature-four-icon position-relative z-1 tw-mb-3">
                                             <span class="cursor-big bg-main-600 tw-w-60-px tw-h-60-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/feature-four-icon2.png" alt="icon"></span>
                                        </div>
                                        <h5 class="tw-mb-3">Transparent Pricing</h5>
                                        <p>Globally initiate resource maximizing total linkage via enabled process improvements.</p>
                                   </div>
     
                                   <!-- Items 3 -->
                                   <div class="feature-four-wrapper bg-neutral-50 tw-rounded-lg tw-p-40-35-px swiper-slide">
                                        <div class="feature-four-icon position-relative z-1 tw-mb-3">
                                             <span class="cursor-big bg-main-600 tw-w-60-px tw-h-60-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/feature-four-icon3.png" alt="icon"></span>
                                        </div>
                                        <h5 class="tw-mb-3">Online Tracking</h5>
                                        <p>Globally initiate resource maximizing total linkage via enabled process improvements.</p>
                                   </div>
     
                                   <!-- Items 1 -->
                                   <div class="feature-four-wrapper bg-neutral-50 tw-rounded-lg tw-p-40-35-px swiper-slide">
                                        <div class="feature-four-icon position-relative z-1 tw-mb-3">
                                             <span class="cursor-big bg-main-600 tw-w-60-px tw-h-60-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/feature-four-icon1.png" alt="icon"></span>
                                        </div>
                                        <h5 class="tw-mb-3">Warehouse Storage</h5>
                                        <p>Globally initiate resource maximizing total linkage via enabled process improvements.</p>
                                   </div>
     
                                   <!-- Items 2 -->
                                   <div class="feature-four-wrapper bg-neutral-50 tw-rounded-lg tw-p-40-35-px swiper-slide">
                                        <div class="feature-four-icon position-relative z-1 tw-mb-3">
                                             <span class="cursor-big bg-main-600 tw-w-60-px tw-h-60-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/feature-four-icon2.png" alt="icon"></span>
                                        </div>
                                        <h5 class="tw-mb-3">Transparent Pricing</h5>
                                        <p>Globally initiate resource maximizing total linkage via enabled process improvements.</p>
                                   </div>
     
                                   <!-- Items 3 -->
                                   <div class="feature-four-wrapper bg-neutral-50 tw-rounded-lg tw-p-40-35-px swiper-slide">
                                        <div class="feature-four-icon position-relative z-1 tw-mb-3">
                                             <span class="cursor-big bg-main-600 tw-w-60-px tw-h-60-px d-flex justify-content-center align-items-center rounded-circle tw-duration-300 bg-main-two-60"><img src="assets/images/shapes/feature-four-icon3.png" alt="icon"></span>
                                        </div>
                                        <h5 class="tw-mb-3">Online Tracking</h5>
                                        <p>Globally initiate resource maximizing total linkage via enabled process improvements.</p>
                                   </div>
     
     
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
          </div>
     </div>
</section>



