<!-- ==================== Footer Start Here ==================== -->
<footer class="footer footer-six-area position-relative z-1 mt-auto pt-140 overflow-hidden">
    <div class="container container-six">
        <div class="row">
            <div class="col-xl-6">
                <div class="">
                    <div class="logo tw-mb-6">
                        <a href="index.html"><img src="assets/images/logo/white-logo.png" alt="footer"></a>
                    </div>
                    <div>
                        <h6
                            class="font-heading tw-text-lg fw-normal text-main-six-2-600 border-bottom border-neutral-950 tw-me-25 tw-pb-4 tw-mb-6">
                            Main Branch</h6>
                    </div>
                    <div>
                        <span class="font-manrope tw-text-3xl text-white fw-medium">4517 Washington. mg Manchester, <br>
                            Kentucky 39495, London, UK</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="footer-six-top-shape position-relative z-1">
                    <img class="position-absolute end-0 top-0 z-n1" src="assets/images/shapes/footer-six-country.png"
                        alt="country">
                </div>
            </div>
        </div>
        <div class="tw-pt-84-px tw-pb-84-px">
            <div class="row gy-5">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="footer-six-col-1">
                        <h5 class="text-white tw-mb-6 cursor-big splitTextStyleTwo font-manrope tw-text-xl fw-semibold">
                            Newslatter</h5>
                        <div class="tw-mt-15 tw-mb-6">
                            <form action="#" class="position-relative z-1">
                                <div class="position-relative flex-grow-1">
                                    <input type="text"
                                        class="footer-six-input tw-h-15 tw-rounded-2xl bg-white tw-ps-12 border border-neutral-1100 focus-border-main-600 text-black-50 focus-outline-0 w-100 cursor-big tw-pe-6"
                                        placeholder="Email Address">
                                    <span
                                        class="text-black-50 tw-text-lg position-absolute top-50 tw-start-0 tw--translate-y-50 tw-ms-5 d-flex">
                                        <i class="ph ph-envelope-simple"></i>
                                    </span>
                                    <button type="submit"
                                        class="footer-six-input-btn cursor-small tw-w-11 tw-h-11 bg-main-six-2-600 tw-me-2 button--stroke group active--translate-y-2 fw-semibold flex-grow-1 flex-shrink-0 position-absolute top-50 translate-middle-y end-0"
                                        data-block="button">
                                        <span
                                            class="text-white tw-text-xl d-flex justify-content-center rounded-circle align-items-center position-relative group-hover-text-main-600 tw-duration-500">
                                            <i class="ph-bold ph-arrow-up-right"></i>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <p class="font-heading tw-mb-6 fw-medium text-white-50">By subscribing, you’re accept <a
                                class="text-white text-decoration-underline" href="javascript:void(0)">Privacy
                                Policy</a></p>
                        <div>
                            <ul class="cursor-small d-flex align-items-center tw-gap-3">
                                <li>
                                    <a href="https://www.facebook.com"
                                        class="tw-w-14 tw-h-13 border border-neutral-1100 text-white tw-text-2xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                                        <i class="ph ph-facebook-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com"
                                        class="tw-w-14 tw-h-13 border border-neutral-1100 text-white tw-text-2xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                                        <i class="ph ph-x-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com"
                                        class="tw-w-14 tw-h-13 border border-neutral-1100 text-white tw-text-2xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                                        <i class="ph ph-instagram-logo"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com"
                                        class="tw-w-14 tw-h-13 border border-neutral-1100 text-white tw-text-2xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                                        <i class="ph ph-youtube-logo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 ps-xxl-5" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="200">
                    <div class="footer-six-col-2">
                        <h5 class="text-white tw-mb-6 cursor-big splitTextStyleTwo font-manrope tw-text-xl fw-semibold">
                            Quick Links</h5>
                        <ul class="d-flex flex-column tw-gap-6">
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-600 fw-medium font-heading">About
                                    Us</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-600 fw-medium font-heading">Pricing
                                    Plan</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-600 fw-medium font-heading">Team
                                    Member</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-600 fw-medium font-heading">Our
                                    Insight</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-600 fw-medium font-heading">24/7
                                    Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6 ps-xxl-5" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="300">
                    <div class="footer-six-col-3">
                        <h5 class="text-white tw-mb-6 cursor-big splitTextStyleTwo font-manrope tw-text-xl fw-semibold">
                            Our Services</h5>
                        <ul class="d-flex flex-column tw-gap-6">
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-six-2-600 fw-medium font-heading">Real-Time
                                    Tracking</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-six-2-600 fw-medium font-heading">Freight
                                    Forwarding</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-six-2-600 fw-medium font-heading">Warehousing
                                    & Distribution</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-six-2-600 fw-medium font-heading">Multi-Modal
                                    Transport</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="cursor-small position-relative text-neutral-500 hover-text-main-six-2-600 fw-medium font-heading">Supply
                                    Chain Management</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 ps-xxl-5">
                    <div class="footer-six-col-4 d-flex flex-column flex-wrap tw-gap-10">
                        <div class="">
                            <div>
                                <span class="tw-text-18 text-main-six-600"><i class="ph ph-headset"></i></span>
                            </div>
                            <a class="cursor-big text-white tw-text-3xl font-manrope tw-mb-4"
                                href="tel:+880(123)45688">+12 (029) 838 994</a>
                            <a class="cursor-small hover--translate-x-2 position-relative text-neutral-500 hover-text-main-600 text-white tw-text-3xl font-manrope"
                                href="mailto:support@gmail.com">lologistick@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative z-1">
        <div class="container-fluid gx-0">
            <div class="border-top border-dashed border-neutral-1100 border-0 tw-py-5">
                <div class="text-center">
                    <p class="text--white text-line-1 fw-normal cursor-small fw-medium font-heading">Copyright @2025 <a
                            href="https://themeforest.net/user/wowtheme7/portfolio"
                            class="text-main-600 hover--translate-y-1 fw-bold hover-underline hover-text-main-600 cursor-big">wowtheme7</a>
                        All Rights Reserved</p>
                </div>
            </div>
        </div>
        <div>
            <img class="footer-six-mricro osition-absolute z-n1" src="assets/images/shapes/footer-six-mricro.png"
                alt="mricro">
        </div>
    </div>
</footer>
<!-- ==================== Footer End Here ==================== -->