<!-- ==================== Header Start Here ==================== -->
<header class="header-six-area transition-all bg-white">
    <div class="container-fluid gx-0">
        <div class="row gx-0">
            <div class="col-xl-12">
                <nav class="d-flex justify-content-between py-lg-0 py-3">

                    <div class="d-flex align-items-center">
                        <!-- Logo Start -->
                        <a href="index.html" class="cursor-big">
                            <img src="assets/images/logo/logo-6.png" alt="Logo" class="max-w-175-px">
                        </a>
                        <!-- Logo End  -->

                    </div>

                    <!-- Header Right start -->
                    <div class="d-flex gap-xxl-5 gap-3">
                        <div class="header-six-wrap d-flex align-items-center tw-gap-36-px flex-shrink-0">

                            <!-- Menu Start  -->
                            <div class="header-menu d-lg-block d-none ps-108-px">
                                @@include('../partials/_nav-menu.html', {
                                "class" : "xl-tw-gap-8 tw-gap-4"
                                })
                            </div>
                            <!-- Menu End  -->


                            <!-- Cart Start -->
                            <div class="header-six-cart d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)" class="position-relative cursor-small">
                                    <img src="assets/images/icons/shope-six.svg" alt="shope">
                                    <span
                                        class="min-w-max tw-w-505 tw-h-505 lh-1 bg-main-six-600 text-white tw-text-sm d-inline-flex justify-content-center align-items-center rounded-pill position-absolute top-50 tw-start-50">0</span>
                                </a>
                            </div>
                            <!-- Cart End -->


                            <!-- Search Start -->
                            <div class="header-six-search">
                                <button class="open-search">
                                    <span class="tw-text-2xl"><i class="ph-bold ph-magnifying-glass"></i></span>
                                </button>
                            </div>
                            <!-- Search End -->

                            <!-- call Start -->
                            <div class="header-six-call tw-px-10 h-100 d-flex align-items-center tw-gap-3">
                                <div class="">
                                    <a class="tw-text-9 text-main-six-600" href="tel:+63552584250"><i
                                            class="ph ph-headset"></i></a>
                                </div>
                                <div class="">
                                    <span class="d-block font-heading">Call Emergency</span>
                                    <a class="font-heading fw-medium tw-text-lg text-black"
                                        href="tel:+63552584250">(635) 5258-4250</a>
                                </div>
                            </div>
                            <!-- call End -->



                            <!-- Bar icon -->
                            <button type="button"
                                class="header-six-offcanvas position-relative z-1 offcanvas-bar-icon cursor-small bg-main-six-2-600 h-100 tw-px-17 d-inline-flex align-items-center tw-gap-4 font-heading text-white tw-text-lg fw-bold">
                                Get A Quote
                                <span><img src="assets/images/icons/bers-six.svg" alt="bers"></span>
                            </button>
                            <!-- Bar icon End -->
                        </div>

                        <button type="button" class="toggle-mobileMenu leading-none d-lg-none tw-text-9 tw-me-5">
                            <i class="ph ph-list"></i>
                        </button>
                    </div>

                    <!-- Header Right End  -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->