<!-- ==================== Header Start Here ==================== -->
<header class="transition-all links-white">
    <div class="tw-container-1760-px tw-px-4 pe-lg-0 mx-auto">
        <nav class="bg-green d-flex justify-content-between tw-ps-3 tw-pe-100-px py-lg-0 py-3">

            <div class="d-flex">
                <!-- Logo Start -->
                <a href="index.html"
                    class="cursor-big bg-main-600 d-lg-flex d-none justify-content-center align-items-center tw-ps-10 tw-pe-14 hexagon-right">
                    <img src="assets/images/logo/logo4.png" alt="Logo" class="max-w-175-px">
                </a>
                <!-- Logo End  -->
                <!-- Logo Start -->
                <a href="index.html" class="d-lg-none d-flex justify-content-center align-items-center">
                    <img src="assets/images/logo/logo3.png" alt="Logo" class="max-w-175-px">
                </a>
                <!-- Logo End  -->

                <!-- Menu Start  -->
                <div class="header-menu d-lg-block d-none ps-108-px">
                    @@include('../partials/_nav-menu.html', {
                    "class" : "xl-tw-gap-12 tw-gap-4"
                    })
                </div>
                <!-- Menu End  -->
            </div>

            <!-- Header Right start -->
            <div class="d-flex gap-xxl-5 gap-3">
                <div class="d-flex align-items-center tw-gap-36-px flex-shrink-0">
                    @@include('../partials/_login-register.html', {
                    "wrapperClass": 'align-self-center',
                    "textColor": 'text-white',
                    "textColor": 'text-white'
                    })
                    <!-- Language Start -->
                    <div class="cursor-small position-relative group-item hover-mt-0 xs-d-block d-none">
                        <div class="d-flex align-items-center tw-gap-2">
                            <a href="javascript:void(0)"
                                class="selected-text text-white py-lg-4 d-flex align-items-center gap-2">
                                <span
                                    class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle common-shadow d-flex justify-content-center align-items-center">
                                    <img src="assets/images/thumbs/flag1.png" alt=""
                                        class="w-100 h-100 object-fit-cover rounded-circle">
                                </span>
                                English
                            </a>
                            <span class="text-white">
                                <i class="ph-bold ph-caret-down"></i>
                            </span>
                        </div>
                        <ul
                            class="lang-dropdown tw-max-h-300-px overflow-y-auto scroll-sm bg-white common-shadow tw-px-4 tw-py-3 position-absolute tw-end-0 top-100 min-w-max tw-rounded-lg d-flex flex-column tw-gap-3 tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 tw-duration-200 group-hover-item-mt-0 tw-mt-4 tw-z-99">
                            <li>
                                <a href="javascript:void(0)"
                                    class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 tw-duration-150">
                                    <span
                                        class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="assets/images/thumbs/flag1.png" alt=""
                                            class="w-100 h-100 object-fit-cover rounded-circle">
                                    </span>
                                    English
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 tw-duration-150">
                                    <span
                                        class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="assets/images/thumbs/flag2.png" alt=""
                                            class="w-100 h-100 object-fit-cover rounded-circle">
                                    </span>
                                    Japan
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 tw-duration-150">
                                    <span
                                        class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="assets/images/thumbs/flag3.png" alt=""
                                            class="w-100 h-100 object-fit-cover rounded-circle">
                                    </span>
                                    French
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 tw-duration-150">
                                    <span
                                        class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="assets/images/thumbs/flag4.png" alt=""
                                            class="w-100 h-100 object-fit-cover rounded-circle">
                                    </span>
                                    Germany
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 tw-duration-150">
                                    <span
                                        class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="assets/images/thumbs/flag6.png" alt=""
                                            class="w-100 h-100 object-fit-cover rounded-circle">
                                    </span>
                                    Bangladesh
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"
                                    class="text-black d-flex align-items-center gap-2 hover-text-main-600 active--translate-y-1 tw-duration-150">
                                    <span
                                        class="tw-w-25-px tw-h-25-px border border-white border-2 rounded-circle d-flex justify-content-center align-items-center">
                                        <img src="assets/images/thumbs/flag5.png" alt=""
                                            class="w-100 h-100 object-fit-cover rounded-circle">
                                    </span>
                                    Sought Kores
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Language End -->

                    <!-- Cart Start -->
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="javascript:void(0)" class="position-relative cursor-small">
                            <img src="assets/images/icons/cart-icon.svg" alt="">
                            <span
                                class="min-w-max tw-h-405 tw-p-1 bg-main-600 text-white d-flex justify-content-center align-items-center rounded-pill position-absolute bottom-100 tw-start-50">0</span>
                        </a>
                    </div>
                    <!-- Cart End -->

                    <!-- Line Start -->
                    <span class="line light-white h-100 d-xl-block d-none"></span>
                    <!-- Line End -->

                    <!-- Bar icon -->
                    <button type="button"
                        class="offcanvas-bar-icon cursor-small hover--translate-y-1 active--translate-y-05 tw-duration-150 xs-d-block d-none">
                        <img src="assets/images/icons/bars-two.svg" alt="">
                    </button>
                    <!-- Bar icon End -->
                </div>

                <button type="button" class="toggle-mobileMenu leading-none d-lg-none text-white tw-text-9">
                    <i class="ph ph-list"></i>
                </button>
            </div>

            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->