<!-- ============================== How it work three section start ================================ -->
<section class="how-it-work-three py-140">
    <div class="container">
        <div class="max-w-756-px mx-auto text-center tw-pb-16">
            <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Safe Transportation & Logistics</span>
            <h2 class="splitTextStyleOne cursor-big h1">Introducing The most Modern way of Transportation</h2>
        </div>

        <div class="how-it-work-item-wrapper">
            <div class="row gy-4">
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="transport-way-item transport-card style-two position-relative text-center">
                        <img src="assets/images/icons/rocket.svg" alt="" class="rocket position-absolute tw-start-full bottom-0 tw-mb--88-px d-lg-block d-none">
                        
                        <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center tw-transition-all tw-duration-300">
                            <img src="assets/images/icons/transport-way-icon1.svg" alt="">
                        </span>
                        <div class="transport-way-item__content border border-neutral-50 bg-neutral-50 tw-py-15 tw-px-24-px tw-rounded tw-duration-300">
                            <h5 class="tw-mb-6 cursor-big line-clamp-1">Select services</h5>
                            <p class="text-neutral-1000 cursor-small line-clamp-2">Temperate ocean-bass sea chub chub treefish eulachon tidewater</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="transport-way-item transport-card style-two position-relative text-center">
                        <img src="assets/images/icons/rocket.svg" alt="" class="rocket position-absolute tw-start-full bottom-0 tw-mb--88-px d-lg-block d-none">
                        
                        <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center tw-transition-all tw-duration-300">
                            <img src="assets/images/icons/transport-way-icon2.svg" alt="">
                        </span>
                        <div class="transport-way-item__content border border-neutral-50 bg-neutral-50 tw-py-15 tw-px-24-px tw-rounded tw-duration-300">
                            <h5 class="tw-mb-6 cursor-big line-clamp-1">Parcel information</h5>
                            <p class="text-neutral-1000 cursor-small line-clamp-2">Temperate ocean-bass sea chub chub treefish eulachon tidewater</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="transport-way-item transport-card style-two position-relative text-center">
                        <img src="assets/images/icons/rocket.svg" alt="" class="rocket position-absolute tw-start-full bottom-0 tw-mb--88-px d-lg-block d-none">
                        
                        <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center tw-transition-all tw-duration-300">
                            <img src="assets/images/icons/transport-way-icon3.svg" alt="">
                        </span>
                        <div class="transport-way-item__content border border-neutral-50 bg-neutral-50 tw-py-15 tw-px-24-px tw-rounded tw-duration-300">
                            <h5 class="tw-mb-6 cursor-big line-clamp-1">Transportation</h5>
                            <p class="text-neutral-1000 cursor-small line-clamp-2">Temperate ocean-bass sea chub chub treefish eulachon tidewater</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="transport-way-item transport-card style-two position-relative text-center">
                        <img src="assets/images/icons/rocket.svg" alt="" class="rocket position-absolute tw-start-full bottom-0 tw-mb--88-px d-lg-block d-none">
                        
                        <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center tw-transition-all tw-duration-300">
                            <img src="assets/images/icons/transport-way-icon4.svg" alt="">
                        </span>
                        <div class="transport-way-item__content border border-neutral-50 bg-neutral-50 tw-py-15 tw-px-24-px tw-rounded tw-duration-300">
                            <h5 class="tw-mb-6 cursor-big line-clamp-1">Delivery Products</h5>
                            <p class="text-neutral-1000 cursor-small line-clamp-2">Temperate ocean-bass sea chub chub treefish eulachon tidewater</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- ============================== How it work three section End ================================ -->