<!-- ============================== Key Features section Start ================================== -->
 <section class="key-features py-160 position-relative">
    <img src="assets/images/thumbs/ship.png" alt="" class="curve-animation position-absolute top-0 tw-mt-16 tw-end-0 tw-me-14">
    <img src="assets/images/shapes/key-features-dotted.png" alt="" class="position-absolute bottom-0 tw-end-0">
    
    <div class="position-relative z-1">
        <img src="assets/images/shapes/key-features-shape.png" alt="" class="position-absolute bottom-0 tw-start-0 w-100 z-n1">
        
        <div class="container">
            <div class="max-w-810-px mx-auto text-center tw-mb-15">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h1 class="splitTextStyleOne cursor-big tw-mb-8">Why we are considered the best in business</h1>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div class="d-flex flex-column tw-gap-70-px">
                        <div class="animation-item">
                            <span class="tw-mb-8 cursor-small animate__flipInY">
                                <img src="assets/images/icons/key-features-icon1.svg" alt="">
                            </span>
                            <h5 class="cursor-big">Decentralized Trade</h5>
                            <p class="text-neutral-1000 cursor-small fw-medium">Temperate ocean-bass sea chub treefish eulachon tidewater goby.</p>
                        </div>
                        <div class="animation-item">
                            <span class="tw-mb-8 cursor-small animate__flipInY">
                                <img src="assets/images/icons/key-features-icon2.svg" alt="">
                            </span>
                            <h5 class="tw-mb-5 cursor-big">Direct Transport</h5>
                            <p class="text-neutral-1000 cursor-small fw-medium">Temperate ocean-bass sea chub treefish eulachon tidewater goby.</p>
                        </div>
                        <div class="animation-item">
                            <span class="tw-mb-8 cursor-small animate__flipInY">
                                <img src="assets/images/icons/key-features-icon3.svg" alt="">
                            </span>
                            <h5 class="tw-mb-5 cursor-big">Good Packaging</h5>
                            <p class="text-neutral-1000 cursor-small fw-medium">Temperate ocean-bass sea chub treefish eulachon tidewater goby.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-block d-none">
                    <div class="bg-neutral-50 tw-py-8 tw-px-3 border tw-border-dashed border-neutral-200 tw-rounded-3xl position-relative h-100">
                        <img src="assets/images/thumbs/kay-features-img.png" alt="">
    
                        <div class="bg-white-blur tw-py-10 px-lg-5 tw-px-6 position-absolute bottom-0 tw-start-50 translate-50-rotate-10 tw-rounded-32-px min-w-max tw-mb-14">
                            <h1 class="cursor-big">Since <span class="text-main-600">1998</span> </h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-6 ps-xxl-5">
                    <div class="d-flex flex-column tw-gap-70-px">
                        <div class="animation-item">
                            <span class="tw-mb-8 cursor-small animate__flipInY">
                                <img src="assets/images/icons/key-features-icon4.svg" alt="">
                            </span>
                            <h5 class="tw-mb-5 cursor-big">Highly Flexible</h5>
                            <p class="text-neutral-1000 cursor-small fw-medium">Temperate ocean-bass sea chub treefish eulachon tidewater goby.</p>
                        </div>
                        <div class="animation-item">
                            <span class="tw-mb-8 cursor-small animate__flipInY">
                                <img src="assets/images/icons/key-features-icon5.svg" alt="">
                            </span>
                            <h5 class="tw-mb-5 cursor-big">Secure Delivery</h5>
                            <p class="text-neutral-1000 cursor-small fw-medium">Temperate ocean-bass sea chub treefish eulachon tidewater goby.</p>
                        </div>
                        <div class="animation-item">
                            <span class="tw-mb-8 cursor-small animate__flipInY">
                                <img src="assets/images/icons/key-features-icon6.svg" alt="">
                            </span>
                            <h5 class="tw-mb-5 cursor-big">Air Freight Facility</h5>
                            <p class="text-neutral-1000 cursor-small fw-medium">Temperate ocean-bass sea chub treefish eulachon tidewater goby.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ============================== Key Features section End ================================== -->