<!-- ======================== Login register form start ================================ -->
<div class="account-wrapper position-relative">
    <div class="d-flex align-items-center tw-gap-4">
        <button type="button" class="register-button">Register</button>
        <button type="button" class="login-button">Login</button>
    </div>
    <div class="bg-neutral-200 tw-p-5">
        <div class="bg-main-600 text-white tw-p-2">
            <h6 class="text-white tw-text-base">Logistick</h6>
        </div>
    </div>
</div>
<!-- ======================== Login register form end ================================ -->