<!-- ======================== Login register form start ================================ -->
<div class="account-wrapper position-relative @@wrapperClass">
    <div class="d-sm-flex d-none align-items-center tw-gap-4">
        <button type="button" class="hover-underline @@textColor register-button d-lg-block d-none">Register</button>
        <button type="button" class="hover-underline @@textColor login-button">Login</button>
    </div>
    <div class="d-sm-none d-block">
        <button type="button"
            class="login-button text-neutral-900 tw-text-xl  line-height-1 d-flex hover-text-main-600">
            <i class="ph-fill ph-user"></i>
        </button>
    </div>

    <!-- Login Form Start -->
    <div class="bg-neutral-100 tw-p-5 before-triangle-up position-absolute end-0 top-100 tw-mt-2 account-form-box">
        <div class="d-flex align-items-start justify-content-between tw-gap-4">
            <div class="d-flex align-items-end tw-gap-4">
                <div class="bg-main-600 text-white tw-p-2 triangle-shape-before position-relative">
                    <h6 class="text-white tw-text-sm text-uppercase">Logistick</h6>
                </div>
                <h6 class="tw-text-sm mb-1">Login</h6>
            </div>
            <button type="button"
                class="account-form__button tw-text-lg text-heading hover-text-main-600 hover-scale-108">
                <i class="ph ph-x"></i>
            </button>
        </div>

        <form action="#" class="tw-mt-4 d-flex flex-column tw-gap-3">
            <div class="">
                <input type="email"
                    class="cursor-small tw-px-4 tw-py-3 bg-white tw-placeholder-text-main-two-600 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-2 shadow-none flex-grow-1 border border-neutral-300 focus-border-main-600 tw-duration-300"
                    placeholder="Email Address" required>
            </div>
            <div class="position-relative">
                <input type="text"
                    class="cursor-small tw-ps-4 tw-pe-10 tw-py-3 bg-white tw-placeholder-text-main-two-600 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-2 shadow-none flex-grow-1 border border-neutral-300 focus-border-main-600 tw-duration-300"
                    id="createPassword" placeholder="Password" required>
                <span
                    class="toggle-password position-absolute top-50 tw-end-0 tw-me-4 tw-text-xl text-heading tw--translate-y-50 ph-bold ph-eye-slash"
                    id="#createPassword"></span>
            </div>
            <div class="">
                <a href="javascript:void(0)" class="text-primary hover-underline tw-text-sm">Forgot / Reset Password</a>
            </div>
            <div class="d-flex align-items-center tw-gap-2 tw-my-2">
                <div class="common-check d-flex align-items-center tw-gap-2 mb-0">
                    <input class="form-check-input" type="checkbox" id="remember">
                    <div class="form-check-label fw-medium">
                        <label class=" text-black" for="remember">Remember me</label>
                    </div>
                </div>
                <span class="text-primary d-flex" title="More info">
                    <i class="ph-fill ph-info"></i>
                </span>
            </div>
            <div class="">
                <button type="submit"
                    class="cursor-small btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-2 tw-px-4 tw-py-4 w-100"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label d-flex align-items-center tw-gap-3"> <i
                            class="ph-fill ph-lock-key d-flex"></i> Login</span>
                </button>
            </div>
            <div class="d-flex align-items-center tw-gap-1">
                <span class="text-black tw-text-sm">Not Registered? </span>
                <a href="javascript:void(0)" class="text-primary hover-underline tw-text-sm register-button">Register
                    Now</a>
            </div>
        </form>
    </div>
    <!-- Login Form End -->

    <!-- RegisterForm Start -->
    <div
        class="bg-neutral-100 tw-p-5 before-triangle-up position-absolute end-0 top-100 tw-mt-2 account-form-box register-form">
        <div class="d-flex align-items-start justify-content-between tw-gap-4">
            <div class="d-flex align-items-end tw-gap-4">
                <div class="bg-main-600 text-white tw-p-2 triangle-shape-before position-relative">
                    <h6 class="text-white tw-text-sm text-uppercase">Logistick</h6>
                </div>
                <h6 class="tw-text-sm mb-1">Register</h6>
            </div>
            <button type="button"
                class="account-form__button tw-text-lg text-heading hover-text-main-600 hover-scale-108">
                <i class="ph ph-x"></i>
            </button>
        </div>

        <form action="#" class="tw-mt-4 d-flex flex-column tw-gap-3">
            <div class="">
                <input type="text"
                    class="cursor-small tw-px-4 tw-py-3 bg-white tw-placeholder-text-main-two-600 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-2 shadow-none flex-grow-1 border border-neutral-300 focus-border-main-600 tw-duration-300"
                    placeholder="Username" required>
            </div>
            <div class="">
                <input type="email"
                    class="cursor-small tw-px-4 tw-py-3 bg-white tw-placeholder-text-main-two-600 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-2 shadow-none flex-grow-1 border border-neutral-300 focus-border-main-600 tw-duration-300"
                    placeholder="Email Address" required>
            </div>
            <div class="position-relative">
                <input type="text"
                    class="cursor-small tw-ps-4 tw-pe-10 tw-py-3 bg-white tw-placeholder-text-main-two-600 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-2 shadow-none flex-grow-1 border border-neutral-300 focus-border-main-600 tw-duration-300"
                    id="createPasswordTwo" placeholder="Password" required>
                <span
                    class="toggle-password position-absolute top-50 tw-end-0 tw-me-4 tw-text-xl text-heading tw--translate-y-50 ph-bold ph-eye-slash"
                    id="#createPasswordTwo"></span>
            </div>
            <div class="d-flex align-items-center tw-gap-2 tw-my-2">
                <div class="common-check d-flex align-items-center tw-gap-2 mb-0">
                    <input class="form-check-input" type="checkbox" id="condition">
                    <div class="form-check-label fw-medium">
                        <label class=" text-black" for="condition">I agree with terms & conditions</label>
                    </div>
                </div>
            </div>
            <div class="">
                <button type="submit"
                    class="cursor-small btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-2 tw-px-4 tw-py-4 w-100"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label d-flex align-items-center tw-gap-3"> <i
                            class="ph-fill ph-lock-key d-flex"></i> Register</span>
                </button>
            </div>
            <div class="d-flex align-items-center tw-gap-1">
                <span class="text-black tw-text-sm">Have an account? </span>
                <a href="javascript:void(0)" class="login-button text-primary hover-underline tw-text-sm">Login
                    Now</a>
            </div>
        </form>
    </div>
    <!-- RegisterForm End -->
</div>
<!-- ======================== Login register form end ================================ -->