
<!-- ============================= Marquee section start ========================== -->
<div class="tw-mt-12 overflow-hidden tw-pb-12 border-bottom border-neutral-100">
   <div class="marquee right-to-left">
      <div class="d-inline-flex align-items-center tw-gap-14 tw-mx-7">
         <img src="assets/images/icons/features-icon3.svg" alt="img" class="cursor-big">
         <h1 class="tw-text-110-px cursor-big text-stroke-neutral-900">Packaging</h1>
      </div>
      <div class="d-inline-flex align-items-center tw-gap-14 tw-mx-7">
         <img src="assets/images/icons/features-icon1.svg" alt="img" class="cursor-big">
         <h1 class="tw-text-110-px cursor-big">Transportation</h1>
      </div>
      <div class="d-inline-flex align-items-center tw-gap-14 tw-mx-7">
         <img src="assets/images/icons/features-icon4.svg" alt="img" class="cursor-big">
         <h1 class="tw-text-110-px cursor-big text-neutral-300">Logistics</h1>
      </div>
      <div class="d-inline-flex align-items-center tw-gap-14 tw-mx-7">
         <img src="assets/images/icons/features-icon3.svg" alt="img" class="cursor-big">
         <h1 class="tw-text-110-px cursor-big">Transportation</h1>
      </div>
   </div>
</div>
<!-- ============================= Marquee section End ========================== -->
