<!-- mega menu start -->
<div
    class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-z-99">
    <div class="row g-4">
        <div class="col-lg-4 col-md-6">
            <div class="mega-menu-item group-item">
                <div class="">
                    <span class="text-uppercase text-neutral-900 tw-mb-4 fw-medium tw-text-sm">SHIPMENT DEFAULTS</span>
                    <div class="d-flex flex-column tw-gap-3">
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Delivery Option</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Shipment
                            Protection</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">customs Clearance</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Customs
                            Declaration</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Courier Pickups</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Return Shipment</a>
                        <a href="javascript:void(0)" class="text-main-two-600 hover-text-main-600 hover-underline">Save
                            Shipment</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Assigning Shipment</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Currency and
                            Measurement</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Address</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="mega-menu-item group-item">
                <div class="">
                    <span class="text-uppercase text-neutral-900 tw-mb-4 fw-medium tw-text-sm">MY SAVED SETTINGS</span>
                    <div class="d-flex flex-column tw-gap-3">
                        <a href="javascript:void(0)" class="text-main-two-600 hover-text-main-600 hover-underline">My
                            DHL Accounts</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Authorized Account
                            Usage</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Access eSecure</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Packaging Settings</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Shipment Retroment</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Printer Settings</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Notifications and
                            Sharing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="mega-menu-item group-item">
                <div class="">
                    <span class="text-uppercase text-neutral-900 tw-mb-4 fw-medium tw-text-sm">MY CUSTOM
                        CLEARANCE SETTINGS</span>
                    <div class="d-flex flex-column tw-gap-3">
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Customs Invoice
                            Template</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Shipment Tax IDs</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Access eSecure</a>
                        <a href="product-list.html" class="text-main-two-600 hover-text-main-600 hover-underline">My
                            Product/Item
                            List</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Digital Customs
                            Invoice</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Printer Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mega menu end -->