<!-- mega menu start -->
<div
    class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-z-99">
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="mega-menu-item group-item">
                <div class="">
                    <span class="text-uppercase text-neutral-900 tw-mb-4 fw-medium tw-text-sm">Manage Shipments</span>
                    <div class="d-flex flex-column tw-gap-3">
                        <a href="javascript:void(0)" class="text-main-two-600 hover-text-main-600 hover-underline">All
                            Shipments</a>
                        <a href="javascript:void(0)" class="text-main-two-600 hover-text-main-600 hover-underline">My
                            Pickups</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Address Book</a>
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Reports</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mega-menu-item group-item">
                <div class="">
                    <span class="text-uppercase text-neutral-900 tw-mb-4 fw-medium tw-text-sm">Require Actions</span>
                    <div class="d-flex flex-column tw-gap-3">
                        <a href="javascript:void(0)"
                            class="text-main-two-600 hover-text-main-600 hover-underline">Shipping Today
                            (35)</a>
                        <a href="javascript:void(0)" class="text-main-two-600 hover-text-main-600 hover-underline">Ready
                            to Print (6)</a>
                        <a href="javascript:void(0)" class="text-main-two-600 hover-text-main-600 hover-underline">View
                            All
                            Unsubmitted</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mega menu end -->