<!-- Nav menu Start -->
<ul class="nav-menu cursor-small d-lg-flex align-items-center @@class">
    <li class="nav-menu__item has-submenu position-relative activePage">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 text-main-two-600 tw-py-9 fw-medium w-100 tw-pe-4">Home</a>
        <ul
            class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-menu__item activePage">
                <a href="index.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Home One</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-2.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Home Two</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-3.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Home Three</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-4.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Home Four</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-5.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Home Five</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="index-6.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Home Six</a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 text-main-two-600 tw-py-9 fw-medium w-100 tw-pe-4">Pages</a>
        <ul
            class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="about.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    About </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="service.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Service </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="service-details.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">Service
                    Details</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    News</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="blog-details.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    News Details</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="project.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Project</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="project-details.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Project Details</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="team.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Team</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="team-details.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Team Details</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="welcome.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Welcome </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="address-book.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Address Book </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="add-contact.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Add New Contact </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="upload-contacts.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Upload Contacts </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="create-shipment.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Create Shipment </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="custom-declaration.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Custom Declaration </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="create-shipment-print.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Shipment Print
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="select-packaging.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Select Packaging
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="shipment-confirmation.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Shipment Confirmation
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="shipment-separately.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Shipment Separately
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="contact.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Contact Us
                </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="not-sure.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Not Sure
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 text-main-two-600 tw-py-9 fw-medium w-100 tw-pe-4">
            Shipments
        </a>
        @@include('../partials/_mega-menu.html')
    </li>
    <li class="nav-menu__item has-submenu">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 text-main-two-600 tw-py-9 fw-medium w-100 tw-pe-4">
            Shipment Settings
        </a>
        @@include('../partials/_mega-menu-two.html')
    </li>

    <li class="nav-menu__item has-submenu position-relative">
        <a href="javascript:void(0)"
            class="nav-menu__link hover--translate-y-1 text-main-two-600 tw-py-9 fw-medium w-100 tw-pe-4">Ship </a>
        <ul
            class="nav-submenu scroll-sm position-absolute start-0 top-100 tw-w-max bg-white tw-rounded-md tw-p-2 tw-mt-4 tw-duration-200 tw-z-99">
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="monitor-shipment.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Create a Shipment </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Create a Shipment from Past </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Create a Shipment from Favorite</a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Get a Rte and Time Quote </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Schedule a Pickup </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="upload-shipment-file.html"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Upload a Shipment File </a>
            </li>
            <li class="nav-submenu__item d-block tw-rounded tw-duration-200 position-relative">
                <a href="javascript:void(0)"
                    class="nav-submenu__link hover-bg-neutral-100 text-black fw-medium w-100 d-block tw-py-2 tw-px-305 tw-rounded">
                    Order Supplies </a>
            </li>
        </ul>
    </li>
</ul>
<!-- Nav menu End  -->