<!-- ======================= Offcanvas sidebar popup start ================================= -->
<div class="offcanvas-sidebar tw-p-8 bg-white position-fixed top-0 end-0 tw-max-h-screen tw-z-999 max-w-400-px w-100 tw-translate-x-full overflow-y-auto">
    <button type="button" class="cursor-small offcanvas-sidebar__close border border-main-600 tw-w-10 tw-h-10 text-main-600 rounded-circle d-flex justify-content-center align-items-center tw-text-xl hover-bg-main-600 hover-text-white position-absolute tw-mt-8 top-0 tw-end-0 tw-me-8 z-1"> 
        <i class="ph-bold ph-x"></i>
    </button>
    
    <div class="d-flex flex-column tw-gap-8 overflow-hidden">
        <div class="animation-item">
            <a href="index.html" class="cursor-big">
                <img src="assets/images/logo/logo2.png" alt="Logo" class="max-w-200-px">
            </a>
        </div>
        <div>
            <h4 class="cursor-big tw-mb-5 animation-item">About Us </h4>
            <p class="cursor-small text-neutral-950 animation-item">Temperate ocean-bass sea chub unicorn fish treefish eulachon tidewater goby. Flier, bighe carp Devario shortnose sucker platy smalleye</p>
        </div>
        <div>
            <h4 class="cursor-big tw-mb-5 animation-item">Contact Us </h4>
            <div class="d-flex flex-column tw-gap-6">
                <div class="cursor-small animation-item d-flex align-items-center tw-gap-5">
                    <span class="tw-w-10 tw-h-10 flex-shrink-0 bg-main-600 rounded-circle text-white tw-text-xl d-flex justify-content-center align-items-center">
                        <i class="ph ph-phone"></i>
                    </span>
                    <a href="tel:+880(123)45688" class="text-main-two-600 hover-text-main-600 hover--translate-x-1 fw-medium tw-text-lg">+880 (123) 456 88</a>
                </div>
                <div class="cursor-small animation-item d-flex align-items-center tw-gap-5">
                    <span class="tw-w-10 tw-h-10 flex-shrink-0 bg-main-600 rounded-circle text-white tw-text-xl d-flex justify-content-center align-items-center">
                        <i class="ph ph-map-pin"></i>
                    </span>
                    <a href="mailto:support@gmail.com" class="text-main-two-600 hover-text-main-600 hover--translate-x-1 fw-medium tw-text-lg">support@gmail.com</a>
                </div>
                <div class="cursor-small animation-item d-flex align-items-start tw-gap-5">
                    <span class="tw-w-10 tw-h-10 flex-shrink-0 bg-main-600 rounded-circle text-white tw-text-xl d-flex justify-content-center align-items-center">
                        <i class="ph ph-phone"></i>
                    </span>
                    <p class="text-main-two-600 fw-medium tw-text-lg">55 Main Street, 2nd block
                        Malborne, Australia</p>
                </div>
            </div>
        </div>
        <div class="">
            <h4 class="cursor-big tw-mb-5 animation-item">Contact Us </h4>
            <ul class="cursor-small d-flex align-items-center tw-gap-3 animation-item">
                <li>
                    <a href="https://www.facebook.com" class="tw-w-11 tw-h-11 border border-neutral-200 rounded-circle text-main-two-600 tw-text-xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                        <i class="ph ph-facebook-logo"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com" class="tw-w-11 tw-h-11 border border-neutral-200 rounded-circle text-main-two-600 tw-text-xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                        <i class="ph ph-x-logo"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" class="tw-w-11 tw-h-11 border border-neutral-200 rounded-circle text-main-two-600 tw-text-xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                        <i class="ph ph-instagram-logo"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com" class="tw-w-11 tw-h-11 border border-neutral-200 rounded-circle text-main-two-600 tw-text-xl d-flex justify-content-center align-items-center hover-bg-main-600 hover-text-white hover-border-main-600 active-scale-09 tw-duration-200">
                        <i class="ph ph-youtube-logo"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- ======================= Offcanvas sidebar popup End ================================= -->