<!-- ========================= Order Css start ============================== -->
<section class="order d-lg-flex">   
    <div class="lg-w-60 bg-main-two-600 position-relative z-1">
        <img src="assets/images/thumbs/truck-light.png" alt="" class="truck-light position-absolute bottom-0 tw-start-0 z-n1 d-lg-block d-none">
        
        <div class="tw-p-100-px">
            <div class="max-w-660-px tw-ms-auto">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h2 class="splitTextStyleOne text-white cursor-big tw-mb-9">We Provide Full Assistance Freight & Warehousing</h2>
                <p class="cursor-small text-neutral-900 text-white">A full administration printing background. Print shirts for yourself or your online business Beautiful, customizable template,</p>

                <div class="tw-mt-16 d-grid xs-grid-cols-2 tw-gap-56-px">
                    <div class="d-flex align-items-start tw-gap-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <span class="flex-shrink-0">
                            <img src="assets/images/icons/order-icon1.svg" alt="">
                        </span>
                        <div class="">
                            <h6 class="tw-text-lg text-white cursor-big">Global Logistics Operation</h6>
                            <span class="text-white cursor-small fw-lighter tw-mt-4 d-inline-block">Never at water me might. hunted unable merely by</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-start tw-gap-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <span class="flex-shrink-0">
                            <img src="assets/images/icons/order-icon2.svg" alt="">
                        </span>
                        <div class="">
                            <h6 class="tw-text-lg text-white cursor-big">Online Tracking System</h6>
                            <span class="text-white cursor-small fw-lighter tw-mt-4 d-inline-block">Never at water me might. hunted unable merely by</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-start tw-gap-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <span class="flex-shrink-0">
                            <img src="assets/images/icons/order-icon3.svg" alt="">
                        </span>
                        <div class="">
                            <h6 class="tw-text-lg text-white cursor-big">Modern Warehousing Techniq</h6>
                            <span class="text-white cursor-small fw-lighter tw-mt-4 d-inline-block">Never at water me might. hunted unable merely by</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-start tw-gap-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <span class="flex-shrink-0">
                            <img src="assets/images/icons/order-icon4.svg" alt="">
                        </span>
                        <div class="">
                            <h6 class="tw-text-lg text-white cursor-big">Great logistical support.</h6>
                            <span class="text-white cursor-small fw-lighter tw-mt-4 d-inline-block">Never at water me might. hunted unable merely by</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="lg-w-40">
        <div class="tw-pt-76-px h-100 position-relative z-1 d-flex flex-column justify-content-end">
            <img src="assets/images/thumbs/order-right-img.png" alt="" class="position-absolute top-0 tw-start-0 w-100 h-100 z-n1 object-fit-cover">
            <form action="#" class="bg-blur-five tw-px-54-px tw-py-16"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <label for="track" class="text-white tw-text-lg fw-bold tw-mb-3 cursor-small">Track your shipment</label>
                <div class="d-flex tw-gap-5">
                    <input type="text" class="cursor-big tw-px-7 tw-py-505 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none flex-grow-1" placeholder="Enter your tracking id" id="track">
                    <button type="submit" class="flex-shrink-0 cursor-small btn btn-main hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 fw-semibold tw-px-54-px" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Track order</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ========================= Order Css end ============================== -->