<section class="portfolio-four-area pt-120 position-relative z-1 overflow-hidden">
     <div class="portfolio-four-bg bg-img position-absolute w-100 tw-h-670-px top-0 start-0 z-index-1" data-background-image="assets/images/thumbs/portfolio-four-bg.png"></div>
     <div class="portfolio-four-top">
          <div class="container">
               <div class="row align-items-center justify-content-between tw-mb-4">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                         <div class="tw-mb-4"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                              <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"> Our Portfolio </span>
                              <h1 class="splitTextStyleOne cursor-big tw-mb-8 text-white">Let's Check Out Our All Portfolio</h1>
                         </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4">
                         <div class="feature-four-arrow-box d-flex justify-content-end gap-2"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                              <button class="portfolio-four-prev" tabindex="0" aria-label="Previous slide">
                                   <i class="ph ph-arrow-left"></i>
                              </button>
                              <button class="portfolio-four-next" tabindex="0" aria-label="Next slide">
                                   <i class="ph ph-arrow-right"></i>
                              </button>
                          </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="portfolio-four-bottom tw-m-lr-200-px">
          <div class="container-fluid">
               <div class="row">
                    <div class="col-xl-12">
                          <div class="portfolio-four-slider position-relative overflow-hidden"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                              <div class="portfolio-four-active swiper-container">
                                  <div class="swiper-wrapper">
       
                                     <!-- Items 1 -->
                                     <div class="swiper-slide scale-100">
                                        <div class="portfolio-four-wrap my-100 tw-transition-ease-in">
                                            <div class="thumb">
                                                <img src="assets/images/thumbs/portfolio-four-thumb1.png" alt="img">
                                            </div>
                                            <div class="portfolio-four-content position-absolute bottom-0 start-0 tw-transition-ease-in tw-rounded-md opacity-0 d-flex justify-content-between align-items-center bg-white tw-m-20-px tw-p-20-px">
                                                <div class="portfolio-four-content-inner">
                                                    <p class="mb-0 tw-text-xs">Logistics Transportation</p>
                                                    <h6 class="mb-0 tw-text-base">Specialist Transport Services.</h6>
                                                </div>
                                                <a href="#" class="tw-w-30-px tw-h-30-px line-height-1 d-inline-flex align-items-center justify-content-center rounded-circle bg-main-600 text--white"><i class="ph ph-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
     
                                   <!-- Items 2 -->
                                    <div class="swiper-slide scale-100">
                                        <div class="portfolio-four-wrap my-100 tw-transition-ease-in">
                                            <div class="thumb">
                                                <img src="assets/images/thumbs/portfolio-four-thumb2.png" alt="img">
                                            </div>
                                            <div class="portfolio-four-content position-absolute bottom-0 start-0 tw-transition-ease-in tw-rounded-md opacity-0 d-flex justify-content-between align-items-center bg-white tw-m-20-px tw-p-20-px">
                                                <div class="portfolio-four-content-inner">
                                                    <p class="mb-0 tw-text-xs">Logistics Transportation</p>
                                                    <h6 class="mb-0 tw-text-base">Specialist Transport Services.</h6>
                                                </div>
                                                <a href="#" class="tw-w-30-px tw-h-30-px line-height-1 d-inline-flex align-items-center justify-content-center rounded-circle bg-main-600 text--white"><i class="ph ph-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
     
                                   <!-- Items 3 -->
                                    <div class="swiper-slide scale-100">
                                        <div class="portfolio-four-wrap my-100 tw-transition-ease-in">
                                            <div class="thumb">
                                                <img src="assets/images/thumbs/portfolio-four-thumb3.png" alt="img">
                                            </div>
                                            <div class="portfolio-four-content position-absolute bottom-0 start-0 tw-transition-ease-in tw-rounded-md opacity-0 d-flex justify-content-between align-items-center bg-white tw-m-20-px tw-p-20-px">
                                                <div class="portfolio-four-content-inner">
                                                    <p class="mb-0 tw-text-xs">Logistics Transportation</p>
                                                    <h6 class="mb-0 tw-text-base">Specialist Transport Services.</h6>
                                                </div>
                                                <a href="#" class="tw-w-30-px tw-h-30-px line-height-1 d-inline-flex align-items-center justify-content-center rounded-circle bg-main-600 text--white"><i class="ph ph-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
       
                                     <!-- Items 1 -->
                                     <div class="swiper-slide scale-100">
                                        <div class="portfolio-four-wrap my-100 tw-transition-ease-in">
                                            <div class="thumb">
                                                <img src="assets/images/thumbs/portfolio-four-thumb1.png" alt="img">
                                            </div>
                                            <div class="portfolio-four-content position-absolute bottom-0 start-0 tw-transition-ease-in tw-rounded-md opacity-0 d-flex justify-content-between align-items-center bg-white tw-m-20-px tw-p-20-px">
                                                <div class="portfolio-four-content-inner">
                                                    <p class="mb-0 tw-text-xs">Logistics Transportation</p>
                                                    <h6 class="mb-0 tw-text-base">Specialist Transport Services.</h6>
                                                </div>
                                                <a href="#" class="tw-w-30-px tw-h-30-px line-height-1 d-inline-flex align-items-center justify-content-center rounded-circle bg-main-600 text--white"><i class="ph ph-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
     
                                   <!-- Items 2 -->
                                    <div class="swiper-slide scale-100">
                                        <div class="portfolio-four-wrap my-100 tw-transition-ease-in">
                                            <div class="thumb">
                                                <img src="assets/images/thumbs/portfolio-four-thumb2.png" alt="img">
                                            </div>
                                            <div class="portfolio-four-content position-absolute bottom-0 start-0 tw-transition-ease-in tw-rounded-md opacity-0 d-flex justify-content-between align-items-center bg-white tw-m-20-px tw-p-20-px">
                                                <div class="portfolio-four-content-inner">
                                                    <p class="mb-0 tw-text-xs">Logistics Transportation</p>
                                                    <h6 class="mb-0 tw-text-base">Specialist Transport Services.</h6>
                                                </div>
                                                <a href="#" class="tw-w-30-px tw-h-30-px line-height-1 d-inline-flex align-items-center justify-content-center rounded-circle bg-main-600 text--white"><i class="ph ph-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
     
                                   <!-- Items 3 -->
                                    <div class="swiper-slide scale-100">
                                        <div class="portfolio-four-wrap my-100 tw-transition-ease-in">
                                            <div class="thumb">
                                                <img src="assets/images/thumbs/portfolio-four-thumb3.png" alt="img">
                                            </div>
                                            <div class="portfolio-four-content position-absolute bottom-0 start-0 tw-transition-ease-in tw-rounded-md opacity-0 d-flex justify-content-between align-items-center bg-white tw-m-20-px tw-p-20-px">
                                                <div class="portfolio-four-content-inner">
                                                    <p class="mb-0 tw-text-xs">Logistics Transportation</p>
                                                    <h6 class="mb-0 tw-text-base">Specialist Transport Services.</h6>
                                                </div>
                                                <a href="#" class="tw-w-30-px tw-h-30-px line-height-1 d-inline-flex align-items-center justify-content-center rounded-circle bg-main-600 text--white"><i class="ph ph-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
       
                                  </div>
                              </div>
                          </div>
     
                    </div>
               </div>
          </div>
     </div>
</section>
