<section class="pb-120">
     <div class="container">
          <div class="row justify-content-center">
               <div class="col-xl-6 col-lg-8">
                    <div class="tw-mb-10 text-center"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305"> Pricing Plan </span>
                         <h2 class="tw-text-60-px splitTextStyleOne cursor-big tw-mb-4">Our Flexible Price</h2>
                         <p class="cursor-small tw-ps-205 text-heading font-weight-bold">Dramatically enhance interactive metrics for reliable services. Proactively unleash fully researched e-commerce.</p>
                    </div>
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6">
                   <div class="pricing-five-inner bg-white common-shadow-eleven tw-mb-8"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                       <div class="pricing-header tw-border-bottom tw-mb-6 tw-pb-2">
                           <h4 class="d-inline-block position-relative tw-mb-4 tw-text-2xl">Basic Plan</h4>
                           <div class="price d-flex align-items-end tw-gap-1">
                               <h2 class="text-main-600 fw-bolder text-main-600">$60</h2>
                               <span class="text-black position-relative tw-mb-2">/Per Month</span>
                           </div>
                       </div>
                       <div class="details">
                           <ul class="single-list-inner tw-mb-40-px">
                               <li><i class="ph ph-check-circle"></i> 1 warehouse</li>
                               <li><i class="ph ph-check-circle"></i> Custom business rules</li>
                               <li><i class="ph ph-check-circle"></i> Real-time rate shopping</li>
                               <li class="unavailable"><i class="ph ph-check-circle"></i> 100 freight shipments</li>
                               <li class="unavailable"><i class="ph ph-check-circle"></i> Any time 24/7 hour support</li>
                           </ul>
                           <a href="service.html" class="pricing-five-btn cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group rounded-0" data-block="button">
                              <span class="button__flair"></span>
                              <span class="button__label">Choose Plan</span>
                              <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                  <i class="ph-bold ph-check"></i>
                              </span>
                          </a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6">
                   <div class="pricing-five-inner bg-white common-shadow-eleven tw-mb-8"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                       <div class="pricing-header tw-border-bottom tw-mb-6 tw-pb-2">
                           <h4 class="d-inline-block position-relative tw-mb-4 tw-text-2xl">Standard Plan</h4>
                           <div class="price d-flex align-items-end tw-gap-1">
                               <h2 class="text-main-600 fw-bolder text-main-600">$100</h2>
                               <span class="text-black position-relative tw-mb-2">/Per Month</span>
                           </div>
                       </div>
                       <div class="details">
                           <ul class="single-list-inner tw-mb-40-px">
                               <li><i class="ph ph-check-circle"></i> 1 warehouse</li>
                               <li><i class="ph ph-check-circle"></i> Custom business rules</li>
                               <li><i class="ph ph-check-circle"></i> Real-time rate shopping</li>
                               <li><i class="ph ph-check-circle"></i> 100 freight shipments</li>
                               <li class="unavailable"><i class="ph ph-check-circle"></i> Any time 24/7 hour support</li>
                           </ul>
                           <a href="service.html" class="pricing-five-btn cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group rounded-0" data-block="button">
                              <span class="button__flair"></span>
                              <span class="button__label">Choose Plan</span>
                              <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                  <i class="ph-bold ph-check"></i>
                              </span>
                          </a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 col-md-6">
                   <div class="pricing-five-inner bg-white common-shadow-eleven tw-mb-8"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                       <div class="pricing-header tw-border-bottom tw-mb-6 tw-pb-2">
                           <h4 class="d-inline-block position-relative tw-mb-4 tw-text-2xl">Premium Plan</h4>
                           <div class="price d-flex align-items-end tw-gap-1">
                               <h2 class="text-main-600 fw-bolder text-main-600">$160</h2>
                               <span class="text-black position-relative tw-mb-2">/Per Month</span>
                           </div>
                       </div>
                       <div class="details">
                           <ul class="single-list-inner tw-mb-40-px">
                               <li><i class="ph ph-check-circle"></i> 1 warehouse</li>
                               <li><i class="ph ph-check-circle"></i> Custom business rules</li>
                               <li><i class="ph ph-check-circle"></i> Real-time rate shopping</li>
                               <li><i class="ph ph-check-circle"></i> 100 freight shipments</li>
                               <li><i class="ph ph-check-circle"></i> Any time 24/7 hour support</li>
                           </ul>
                           <a href="service.html" class="pricing-five-btn cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group rounded-0" data-block="button">
                              <span class="button__flair"></span>
                              <span class="button__label">Choose Plan</span>
                              <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative tw-duration-500">
                                  <i class="ph-bold ph-check"></i>
                              </span>
                          </a>
                       </div>
                   </div>
               </div>
           </div>
     </div>
</section>

