<!-- ============================== Process and features section start ================================= -->
<section class="pt-140 position-relative">
    <img src="assets/images/shapes/testimonials-brand-bg.png" alt="" class="position-absolute bottom-0 tw-start-0 tw-end-0 z-n1 w-100">
    
    <!-- Process start -->
    <div class=" position-relative z-1">
        <img src="assets/images/thumbs/ship-big.png" alt="" class="ship-big position-absolute tw-start-0 bottom-0 tw-ms-106-px z-2 d-xxl-block d-none">
        
        
        <div class="container">
            <div class="max-w-1024-px mx-auto text-center tw-pb-16">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Safe Transportation & Logistics</span>
                <h2 class="splitTextStyleOne cursor-big h1">Provide quick & safe transportation all over the world</h2>
            </div>
    
            <div class="position-relative z-1"> 
                <img src="assets/images/thumbs/process-bg-img.png" alt="" class="position-absolute w-100 tw-h-100--44-px top-0 tw-start-0 z-1 tw-translate-y-44-px">
    
                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-light-animation cursor-big tw-w-75-px tw-h-75-px d-flex justify-content-center align-items-center bg-main-600 text-white hover-text-main-two-700 active-scale-094 rounded-circle tw-text-xl position-absolute top-50 tw-start-50 translate-middle z-1">
                    <i class="ph-fill ph-play"></i>
                </a>
    
                <div class="bg-white max-w-444-px ms-auto sm-tw-me-96-px common-shadow-five position-relative z-1"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <h5 class="tw-py-7 bg-main-600 text-center text-white fw-semibold cursor-big">How can process?</h5>
                    <div class="tw-px-54-px tw-py-15">
                        <ul class="dashed-line d-flex flex-column tw-gap-74-px position-relative">
                            <li class="animation-item">
                                <div class="d-flex align-items-center tw-gap-5">
                                    <span class="tw-w-14 tw-h-14 bg-main-600 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0 cursor-small">
                                        <img src="assets/images/icons/process-icon1.svg" alt="" class="animate__bounce">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h5 class="tw-mb-4 cursor-big">Choose products</h5>
                                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem. </p>
                                    </div>
                                </div>
                            </li>
                            <li class="animation-item">
                                <div class="d-flex align-items-center tw-gap-5">
                                    <span class="tw-w-14 tw-h-14 bg-main-600 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0 cursor-small">
                                        <img src="assets/images/icons/process-icon2.svg" alt="" class="animate__bounce">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h5 class="tw-mb-4 cursor-big">Packaging & Ready</h5>
                                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem. </p>
                                    </div>
                                </div>
                            </li>
                            <li class="animation-item">
                                <div class="d-flex align-items-center tw-gap-5">
                                    <span class="tw-w-14 tw-h-14 bg-main-600 rounded-circle d-flex justify-content-center align-items-center flex-shrink-0 cursor-small">
                                        <img src="assets/images/icons/process-icon3.svg" alt="" class="animate__bounce">
                                    </span>
                                    <div class="flex-grow-1">
                                        <h5 class="tw-mb-4 cursor-big">Delivery Product</h5>
                                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde omnis iste natus error sit elit volupt atem. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process End -->

    <!-- Section Features section start -->
    <div class="features">
        <div class="row g-0 features-item-wrapper">
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="features-item animation-item p-90-px tw-duration-300 position-relative h-100">
                    <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">01</span>
                    <span class="pb-60-px cursor-big animate__wobble">
                        <img src="assets/images/icons/features-icon1.svg" alt="">
                    </span>
                    <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Warehouse Facility</h5>
                    <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="features-item animation-item p-90-px tw-duration-300 position-relative h-100 bg-white common-shadow-two">
                    <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">02</span>
                    <span class="pb-60-px cursor-big animate__wobble">
                        <img src="assets/images/icons/features-icon2.svg" alt="">
                    </span>
                    <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Cost Effective Pricing</h5>
                    <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="features-item animation-item p-90-px tw-duration-300 position-relative h-100">
                    <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">03</span>
                    <span class="pb-60-px cursor-big animate__wobble">
                        <img src="assets/images/icons/features-icon3.svg" alt="">
                    </span>
                    <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Air Freight Facility</h5>
                    <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="features-item animation-item p-90-px tw-duration-300 position-relative h-100">
                    <span class="fw-bold tw-text-xl text-main-two-600 position-absolute top-0 tw-end-0 tw-mt-12 tw-me-12 font-heading cursor-small">04</span>
                    <span class="pb-60-px cursor-big animate__wobble">
                        <img src="assets/images/icons/features-icon4.svg" alt="">
                    </span>
                    <h5 class="tw-mb-7 cursor-big splitTextStyleTwo">Container Delivery</h5>
                    <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub unicorn treefish eulachon tidewater goby.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Features section End -->

</section>
<!-- ============================== Process and features section end ================================= -->