<!-- ============================== Project Three section start ============================== -->
<section class="project py-140">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap tw-gap-6 justify-content-between tw-mb-15">
            <div class="max-w-632-px text-start">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Safe Transportation & Logistics</span>
                <h2 class="splitTextStyleOne cursor-big tw-mb-8">Transport & Logistics projects that we provide</h2>
            </div>
            <a href="service.html" class="cursor-small btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-13 tw-py-505" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">View services</span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="view-w-100 position-relative z-1">
            <div class="project-slider swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="group position-relative tw-pb-12">
                            <div class="tw-rounded-xl overflow-hidden">
                                <img src="assets/images/thumbs/project-img1.png" alt="" class="w-100 h-100 object-fit-cover hover-scale-2 tw-duration-500">
                            </div>
                            <div class="position-absolute bottom-0 tw-start-50 tw--translate-x-50 w-100 tw-px-6">
                                <div class="bg-white position-relative z-1 common-shadow-five tw-py-11 tw-px-6 d-flex align-items-center tw-rounded-md tw-gap-4 w-100 group-hover-bg-main-600 tw-duration-500">
                                    <div class="flex-grow-1">
                                        <h5 class="cursor-big">
                                            <a href="project-details.html" class="hover-text-main-600 line-clamp-2 splitTextStyleTwo group-hover-text-white tw-duration-300">Sea Transportation</a>
                                        </h5>
                                        <span class="text-neutral-1000 cursor-small group-hover-text-white tw-duration-500">Domestic & Transportation</span>
                                    </div>
                                    <a href="project-details.html" class="cursor-big btn btn-main p-0 hover-style-one button--stroke tw-w-10 tw-h-10 d-flex justify-content-center align-items-center active--translate-y-2 rounded-circle tw-text-5 flex-shrink-0 group-hover-bg-white group-hover-text-main-600 tw-duration-500 hover-scale-2" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label"><i class="ph ph-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="group position-relative tw-pb-12">
                            <div class="tw-rounded-xl overflow-hidden">
                                <img src="assets/images/thumbs/project-img2.png" alt="" class="w-100 h-100 object-fit-cover hover-scale-2 tw-duration-500">
                            </div>
                            <div class="position-absolute bottom-0 tw-start-50 tw--translate-x-50 w-100 tw-px-6">
                                <div class="bg-white position-relative z-1 common-shadow-five tw-py-11 tw-px-6 d-flex align-items-center tw-rounded-md tw-gap-4 w-100 group-hover-bg-main-600 tw-duration-500">
                                    <div class="flex-grow-1">
                                        <h5 class="cursor-big">
                                            <a href="project-details.html" class="hover-text-main-600 line-clamp-2 splitTextStyleTwo group-hover-text-white tw-duration-300">Sea Transportation</a>
                                        </h5>
                                        <span class="text-neutral-1000 cursor-small group-hover-text-white tw-duration-500">Domestic & Transportation</span>
                                    </div>
                                    <a href="project-details.html" class="cursor-big btn btn-main p-0 hover-style-one button--stroke tw-w-10 tw-h-10 d-flex justify-content-center align-items-center active--translate-y-2 rounded-circle tw-text-5 flex-shrink-0 group-hover-bg-white group-hover-text-main-600 tw-duration-500 hover-scale-2" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label"><i class="ph ph-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="group position-relative tw-pb-12">
                            <div class="tw-rounded-xl overflow-hidden">
                                <img src="assets/images/thumbs/project-img3.png" alt="" class="w-100 h-100 object-fit-cover hover-scale-2 tw-duration-500">
                            </div>
                            <div class="position-absolute bottom-0 tw-start-50 tw--translate-x-50 w-100 tw-px-6">
                                <div class="bg-white position-relative z-1 common-shadow-five tw-py-11 tw-px-6 d-flex align-items-center tw-rounded-md tw-gap-4 w-100 group-hover-bg-main-600 tw-duration-500">
                                    <div class="flex-grow-1">
                                        <h5 class="cursor-big">
                                            <a href="project-details.html" class="hover-text-main-600 line-clamp-2 splitTextStyleTwo group-hover-text-white tw-duration-300">Sea Transportation</a>
                                        </h5>
                                        <span class="text-neutral-1000 cursor-small group-hover-text-white tw-duration-500">Domestic & Transportation</span>
                                    </div>
                                    <a href="project-details.html" class="cursor-big btn btn-main p-0 hover-style-one button--stroke tw-w-10 tw-h-10 d-flex justify-content-center align-items-center active--translate-y-2 rounded-circle tw-text-5 flex-shrink-0 group-hover-bg-white group-hover-text-main-600 tw-duration-500 hover-scale-2" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label"><i class="ph ph-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="group position-relative tw-pb-12">
                            <div class="tw-rounded-xl overflow-hidden">
                                <img src="assets/images/thumbs/project-img4.png" alt="" class="w-100 h-100 object-fit-cover hover-scale-2 tw-duration-500">
                            </div>
                            <div class="position-absolute bottom-0 tw-start-50 tw--translate-x-50 w-100 tw-px-6">
                                <div class="bg-white position-relative z-1 common-shadow-five tw-py-11 tw-px-6 d-flex align-items-center tw-rounded-md tw-gap-4 w-100 group-hover-bg-main-600 tw-duration-500">
                                    <div class="flex-grow-1">
                                        <h5 class="cursor-big">
                                            <a href="project-details.html" class="hover-text-main-600 line-clamp-2 splitTextStyleTwo group-hover-text-white tw-duration-300">Sea Transportation</a>
                                        </h5>
                                        <span class="text-neutral-1000 cursor-small group-hover-text-white tw-duration-500">Domestic & Transportation</span>
                                    </div>
                                    <a href="project-details.html" class="cursor-big btn btn-main p-0 hover-style-one button--stroke tw-w-10 tw-h-10 d-flex justify-content-center align-items-center active--translate-y-2 rounded-circle tw-text-5 flex-shrink-0 group-hover-bg-white group-hover-text-main-600 tw-duration-500 hover-scale-2" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label"><i class="ph ph-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="group position-relative tw-pb-12">
                            <div class="tw-rounded-xl overflow-hidden">
                                <img src="assets/images/thumbs/project-img4.png" alt="" class="w-100 h-100 object-fit-cover hover-scale-2 tw-duration-500">
                            </div>
                            <div class="position-absolute bottom-0 tw-start-50 tw--translate-x-50 w-100 tw-px-6">
                                <div class="bg-white position-relative z-1 common-shadow-five tw-py-11 tw-px-6 d-flex align-items-center tw-rounded-md tw-gap-4 w-100 group-hover-bg-main-600 tw-duration-500">
                                    <div class="flex-grow-1">
                                        <h5 class="cursor-big">
                                            <a href="project-details.html" class="hover-text-main-600 line-clamp-2 splitTextStyleTwo group-hover-text-white tw-duration-300">Sea Transportation</a>
                                        </h5>
                                        <span class="text-neutral-1000 cursor-small group-hover-text-white tw-duration-500">Domestic & Transportation</span>
                                    </div>
                                    <a href="project-details.html" class="cursor-big btn btn-main p-0 hover-style-one button--stroke tw-w-10 tw-h-10 d-flex justify-content-center align-items-center active--translate-y-2 rounded-circle tw-text-5 flex-shrink-0 group-hover-bg-white group-hover-text-main-600 tw-duration-500 hover-scale-2" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label"><i class="ph ph-arrow-right"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Project Three section End ============================== -->