<!-- ================================= Projects section start ===================================== -->
<section class="project half-bg-w-50 py-160 position-relative z-1 overflow-hidden">
    <img src="assets/images/thumbs/projects-shape-img.png" alt="" class="project-shape-img position-absolute tw-start-0 top-0 z-n1">
    
    <div class="container">
        <div class="d-flex align-items-center flex-wrap tw-gap-6 justify-content-between tw-mb-15">
            <div class="max-w-632-px text-start">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h1 class="splitTextStyleOne cursor-big tw-mb-8">Transport & Logistics projects that we have</h1>
            </div>
            <a href="#" class="cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-13 tw-py-505" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">View services</span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="view-w-100 position-relative z-1">
            <div class="project-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="group-item">
                            <div class="position-relative hover-overlay">
                                <img src="assets/images/thumbs/project-img1.png" alt="" class="w-100 h-100 object-fit-cover">
                                <a href="#" class="cursor-big tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 btn btn-main hover-style-one button--stroke tw-w-140-px tw-h-140-px d-flex justify-content-center align-items-center group active--translate-y-2 rounded-0 tw-px-13 tw-py-505 rounded-circle tw-text-9 position-absolute tw-start-50 top-50 translate-middle" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label"><i class="ph ph-arrow-down-right"></i></span>
                                </a>
                            </div>
                            <div class="tw-mt-8">
                                <span class="text-neutral-1000 tw-mb-5 cursor-small">Domestic & Transportation</span>
                                <h5 class="cursor-big">
                                    <a href="#" class="hover-text-main-600 line-clamp-2">The latest delivery management industry tips trends & hot</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group-item">
                            <div class="position-relative hover-overlay">
                                <img src="assets/images/thumbs/project-img2.png" alt="" class="w-100 h-100 object-fit-cover">
                                <a href="#" class="cursor-big tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 btn btn-main hover-style-one button--stroke tw-w-140-px tw-h-140-px d-flex justify-content-center align-items-center group active--translate-y-2 rounded-0 tw-px-13 tw-py-505 rounded-circle tw-text-9 position-absolute tw-start-50 top-50 translate-middle" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label"><i class="ph ph-arrow-down-right"></i></span>
                                </a>
                            </div>
                            <div class="tw-mt-8">
                                <span class="text-neutral-1000 tw-mb-5 cursor-small">Domestic & Transportation</span>
                                <h5 class="cursor-big">
                                    <a href="#" class="hover-text-main-600 line-clamp-2">Taking a new pragmatic approach to flight capacity limitations</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group-item">
                            <div class="position-relative hover-overlay">
                                <img src="assets/images/thumbs/project-img3.png" alt="" class="w-100 h-100 object-fit-cover">
                                <a href="#" class="cursor-big tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 btn btn-main hover-style-one button--stroke tw-w-140-px tw-h-140-px d-flex justify-content-center align-items-center group active--translate-y-2 rounded-0 tw-px-13 tw-py-505 rounded-circle tw-text-9 position-absolute tw-start-50 top-50 translate-middle" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label"><i class="ph ph-arrow-down-right"></i></span>
                                </a>
                            </div>
                            <div class="tw-mt-8">
                                <span class="text-neutral-1000 tw-mb-5 cursor-small">Domestic & Transportation</span>
                                <h5 class="cursor-big">
                                    <a href="#" class="hover-text-main-600 line-clamp-2">The latest delivery management industry tips trends & hot</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group-item">
                            <div class="position-relative hover-overlay">
                                <img src="assets/images/thumbs/project-img4.png" alt="" class="w-100 h-100 object-fit-cover">
                                <a href="#" class="cursor-big tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 btn btn-main hover-style-one button--stroke tw-w-140-px tw-h-140-px d-flex justify-content-center align-items-center group active--translate-y-2 rounded-0 tw-px-13 tw-py-505 rounded-circle tw-text-9 position-absolute tw-start-50 top-50 translate-middle" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label"><i class="ph ph-arrow-down-right"></i></span>
                                </a>
                            </div>
                            <div class="tw-mt-8">
                                <span class="text-neutral-1000 tw-mb-5 cursor-small">Domestic & Transportation</span>
                                <h5 class="cursor-big">
                                    <a href="#" class="hover-text-main-600 line-clamp-2">The latest delivery management industry tips trends & hot takes</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group-item">
                            <div class="position-relative hover-overlay">
                                <img src="assets/images/thumbs/project-img2.png" alt="" class="w-100 h-100 object-fit-cover">
                                <a href="#" class="cursor-big tw-invisible opacity-0 group-hover-item-visible group-hover-item-opacity-1 btn btn-main hover-style-one button--stroke tw-w-140-px tw-h-140-px d-flex justify-content-center align-items-center group active--translate-y-2 rounded-0 tw-px-13 tw-py-505 rounded-circle tw-text-9 position-absolute tw-start-50 top-50 translate-middle" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label"><i class="ph ph-arrow-down-right"></i></span>
                                </a>
                            </div>
                            <div class="tw-mt-8">
                                <span class="text-neutral-1000 tw-mb-5 cursor-small">Domestic & Transportation</span>
                                <h5 class="cursor-big">
                                    <a href="#" class="hover-text-main-600 line-clamp-2">Taking a new pragmatic approach to flight capacity limitations</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= Projects section end ===================================== -->