<!-- ================================ Quate Section Start ========================== -->
<section class="quate bg-img tw-mb-9 position-relative" data-background-image="assets/images/shapes/quate-bg-img.png">
    <img src="assets/images/thumbs/karen.png" alt="" class="updown-animation position-absolute bottom-0 tw-end-0">
    
    <div class="sgsdgsdg">
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="py-120">
                    <div class="">
                        <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                        <h2 class="splitTextStyleOne cursor-big text-white tw-mb-8">Transport & Logistics Services We are the best</h2>
                        <p class="cursor-small text-white">Transmds is the world's driving worldwide coordinations supplier — we uphold industry and exchange the</p>
                    </div>
                    <ul class="cursor-small d-flex flex-column tw-gap-3 tw-mt-14">
                        <li class="d-flex align-items-center tw-gap-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                            <span class="text-neutral-400 tw-text-lg">Preaching Worship An Online Family</span>
                        </li>
                        <li class="d-flex align-items-center tw-gap-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                            <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                            <span class="text-neutral-400 tw-text-lg">Preaching Worship An Online Family</span>
                        </li>
                    </ul>
                    <div class="tw-mt-15 d-flex align-items-center tw-gap-5">
                        <div class="tw-rounded-md overflow-hidden cursor-big" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                            <img src="assets/images/thumbs/quate-img.png" alt="" class="w-100 h-100 object-fit-cover">
                        </div>
                        <p class="tw-text-lg text-white fw-bold max-w-310-px cursor-small" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Leading global logistic and transport agency since <span class="text-main-600">1990</span> </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                <div class="clip-path-short position-relative tw-translate-y-35-px bg-main-600 tw-py-15 px-lg-5 tw-px-6 tw-mt-16 max-w-468-px ms-auto">
                    <h4 class="text-white tw-mb-8 cursor-big">Request a quote form</h4>
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-12">
                                <label for="personalInfo" class="cursor-small text-white tw-text-sm tw-mb-4">Personal information</label>
                                <input type="text" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" id="personalInfo" placeholder="Your Name">
                            </div>
                            <div class="col-sm-6">
                                <label for="Email" class="cursor-small text-white tw-text-sm tw-mb-4">Email</label>
                                <input type="email" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" id="Email" placeholder="Email">
                            </div>
                            <div class="col-sm-6">
                                <label for="Phone" class="cursor-small text-white tw-text-sm tw-mb-4">Phone</label>
                                <input type="text" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" id="Phone" placeholder="Phone">
                            </div>
                            <div class="col-sm-12">
                                <label for="deliveryInfo" class="cursor-small text-white tw-text-sm tw-mb-4">Delivery information</label>
                                <select id="deliveryInfo" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none form-select">
                                    <option value="" selected hidden>Delivery City</option>
                                    <option value="">Dhaka</option>
                                    <option value="">Chandpur</option>
                                    <option value="">Sylhet</option>
                                    <option value="">Ranngpur</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="FreightType" class="cursor-small text-white tw-text-sm tw-mb-4">Freight Type</label>
                                <select id="FreightType" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none form-select">
                                    <option value="" selected hidden>Freight Type</option>
                                    <option value="">Freight Type</option>
                                    <option value="">Freight Type</option>
                                    <option value="">Freight Type</option>
                                    <option value="">Freight Type</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="Incoterms" class="cursor-small text-white tw-text-sm tw-mb-4">Incoterms</label>
                                <select id="Incoterms" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none form-select">
                                    <option value="" selected hidden>Incoterms</option>
                                    <option value="">Incoterms</option>
                                    <option value="">Incoterms</option>
                                    <option value="">Incoterms</option>
                                    <option value="">Incoterms</option>
                                </select>
                            </div>
                            <div class="col-sm-12">
                                <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mt-4">
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border-white" type="checkbox" value="" id="Fragile">
                                        <label class="form-check-label text-white tw-text-sm fw-bold" for="Fragile">Fragile</label>
                                    </div>
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border-white" type="checkbox" value="" id="Expressdelivery">
                                        <label class="form-check-label text-white tw-text-sm fw-bold" for="Expressdelivery">Express delivery</label>
                                    </div>
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border-white" type="checkbox" value="" id="Insurance">
                                        <label class="form-check-label text-white tw-text-sm fw-bold" for="Insurance">Insurance</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="cursor-small btn btn-main-two hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-13 tw-py-505 w-100 tw-h-15 tw-mt-6" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Get A Quate</span>
                                </button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ Quate Section End ========================== -->