<!-- =========================== Quote Three Section Start ================================= -->
<section class="quote-three d-xl-flex">
    <div class="lg-w-60 w-100 pt-60 position-relative z-1">
        <img src="assets/images/shapes/moon-shape.png" alt="" class="moon-shape position-absolute top-50 tw-start-0 tw-mb-17 d-md-block d-none">
        <img src="assets/images/shapes/banner--three-plane.png" alt="" class="quote-three-plane position-absolute tw-end-0 top-0 tw-mt-14 d-md-block d-none">
        <img src="assets/images/shapes/quote-three-bg.png" alt="" class="position-absolute top-0 tw-start-0 w-100 h-100 z-n1">

        <div class="tw-pt-7 tw-pe-130-px max-w-840-px ms-auto">
            <div class=" container">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h2 class="splitTextStyleOne cursor-big tw-mb-8 text-white">We ensure safety secure transportation & delivery</h2>
    
                <div class="bg-white common-shadow-four tw-translate-y-76-px">
                    <div class="bg-main-600 tw-p-4 text-center">
                        <h6 class="tw-text-lg text-white cursor-big">Request a quote</h6>
                    </div>
                    <form action="#" class="tw-p-48-px">
                        <div class="row gy-4">
                            <div class="col-sm-12">
                                <h6 class="tw-text-base cursor-small">Personal information</h6>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Full name">
                            </div>
                            <div class="col-sm-4">
                                <input type="email" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Email address">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Subject">
                            </div>
                            <div class="col-sm-12">
                                <h6 class="tw-text-base cursor-small">Shipment Data</h6>
                            </div>
                            <div class="col-sm-4">
                                <select class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0 form-select shadow-none">
                                    <option value="" hidden selected>Freight Type</option>
                                    <option value="">Freight Type One</option>
                                    <option value="">Freight Type Two</option>
                                    <option value="">Freight Type Three</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="email" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="City of depture">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Delivery City">
                            </div>
                            <div class="col-sm-3">
                                <select class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0 form-select shadow-none">
                                    <option value="" hidden selected>Incoterms</option>
                                    <option value="">Incoterms One</option>
                                    <option value="">Incoterms Two</option>
                                    <option value="">Incoterms Three</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Weight">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Weight">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="cursor-small tw-p-4 bg-neutral-50 w-100 border border-neutral-50 focus-border-main-600 focus-outline-0 tw-placeholder-text-main-two-600 focus-tw-placeholder-text-hidden tw-duration-500 tw-placeholder-transition-3 rounded-0" placeholder="Weight">
                            </div>
                            <div class="col-sm-12">
                                <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-my-4">
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border-main-two-600" type="checkbox" value="" id="Fragile">
                                        <label class="form-check-label tw-text-sm fw-bold" for="Fragile">Fragile</label>
                                    </div>
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border-main-two-600" type="checkbox" value="" id="Expressdelivery">
                                        <label class="form-check-label tw-text-sm fw-bold" for="Expressdelivery">Express delivery</label>
                                    </div>
                                    <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                        <input class="form-check-input border-main-two-600" type="checkbox" value="" id="Insurance">
                                        <label class="form-check-label tw-text-sm fw-bold" for="Insurance">Insurance</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="cursor-small btn btn-main-two hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-4 tw-py-505 w-100 tw-h-15" data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">Request For a Quote</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="lg-w-40 w-100 position-relative tw-max-h-778-p">
        <img src="assets/images/thumbs/quote-three-img.png" alt="" class="w-100 h-100 object-fit-cover">
        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-light-animation cursor-big tw-w-75-px tw-h-75-px d-inline-flex justify-content-center align-items-center bg-main-600 text-white hover-text-main-two-700 rounded-circle tw-text-xl position-absolute tw-start-50 tw--translate-middle top-50">
            <i class="ph-fill ph-play"></i>
        </a>
    </div>
</section>
<!-- =========================== Quote Three Section end ================================= -->