<!-- ================================ quote Two section start ====================================-->
<section class="quote-two d-xl-flex">
    <div class="xl-w-50 pt-140 position-relative z-1">
        <img src="assets/images/shapes/quote-two-bg.png" alt="" class="position-absolute top-0 tw-start-0 w-100 h-75 z-n1">
        <img src="assets/images/shapes/plan-location.png" alt="" class="plan-location position-absolute tw-start-0 bottom-0 tw-mb-160-px tw-ms-4 z-n1">
        <img src="assets/images/shapes/curve-arrow-left.png" alt="" class="position-absolute tw-end-0 bottom-0 tw-mb-180-px tw-me-11 z-n1 animate__wobble__two">
        
        <div class="container">
            <div class="tw-ps-32-percent px-xxl-0 px-4">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h2 class="splitTextStyleOne cursor-big tw-mb-9">We Provide Full Assistance Freight & Warehousing</h2>
                <p class="cursor-small text-neutral-900">A full administration printing background. Print shirts for yourself or your online business Beautiful, customizable template,</p>
                <a href="javascript:void(0)" class="text-main-600 fw-semibold d-flex align-items-center tw-gap-4 hover-text-main-800 tw-mt-11 cursor-small">
                    <span class="text-decoration-underline hover-underline-none">More service</span>
                    <i class="ph ph-arrow-right"></i>
                </a>

                <div class="bg-white tw-rounded-lg tw-p-205 max-w-468-px tw-mt-11" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300">
                    <div class="position-relative bg-main-600 tw-py-15 tw-px-6 tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0 ">
                        <h4 class="text-white tw-mb-8 cursor-big">Request a quote form</h4>
                        <form action="#">
                            <div class="row gy-4">
                                <div class="col-sm-12">
                                    <label for="personalInfo" class="cursor-small text-white tw-text-sm tw-mb-4">Personal information</label>
                                    <input type="text" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none" id="personalInfo" placeholder="Your Name">
                                </div>
                                <div class="col-sm-6">
                                    <label for="Email" class="cursor-small text-white tw-text-sm tw-mb-4">Email</label>
                                    <input type="email" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none" id="Email" placeholder="Email">
                                </div>
                                <div class="col-sm-6">
                                    <label for="Phone" class="cursor-small text-white tw-text-sm tw-mb-4">Phone</label>
                                    <input type="text" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none" id="Phone" placeholder="Phone">
                                </div>
                                <div class="col-sm-12">
                                    <label for="deliveryInfo" class="cursor-small text-white tw-text-sm tw-mb-4">Delivery information</label>
                                    <select id="deliveryInfo" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none form-select">
                                        <option value="" selected="" hidden="">Delivery City</option>
                                        <option value="">Dhaka</option>
                                        <option value="">Chandpur</option>
                                        <option value="">Sylhet</option>
                                        <option value="">Ranngpur</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="FreightType" class="cursor-small text-white tw-text-sm tw-mb-4">Freight Type</label>
                                    <select id="FreightType" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none form-select">
                                        <option value="" selected="" hidden="">Freight Type</option>
                                        <option value="">Freight Type</option>
                                        <option value="">Freight Type</option>
                                        <option value="">Freight Type</option>
                                        <option value="">Freight Type</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="Incoterms" class="cursor-small text-white tw-text-sm tw-mb-4">Incoterms</label>
                                    <select id="Incoterms" class="cursor-big tw-px-5 tw-py-3 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none form-select">
                                        <option value="" selected="" hidden="">Incoterms</option>
                                        <option value="">Incoterms</option>
                                        <option value="">Incoterms</option>
                                        <option value="">Incoterms</option>
                                        <option value="">Incoterms</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <div class="d-flex align-items-center tw-gap-6 flex-wrap tw-mt-4">
                                        <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                            <input class="form-check-input border-white" type="checkbox" value="" id="Fragile">
                                            <label class="form-check-label text-white tw-text-sm fw-bold" for="Fragile">Fragile</label>
                                        </div>
                                        <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                            <input class="form-check-input border-white" type="checkbox" value="" id="Expressdelivery">
                                            <label class="form-check-label text-white tw-text-sm fw-bold" for="Expressdelivery">Express delivery</label>
                                        </div>
                                        <div class="form-check common-check cursor-small d-flex tw-gap-205 mb-0">
                                            <input class="form-check-input border-white" type="checkbox" value="" id="Insurance">
                                            <label class="form-check-label text-white tw-text-sm fw-bold" for="Insurance">Insurance</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="cursor-small btn btn-main-two hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 tw-rounded-md tw-px-13 tw-py-505 w-100 tw-h-15 tw-mt-6" data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">Get A Quate</span>
                                    </button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="xl-w-50 bg-main-two-600 tw-p-100-px pb-0 position-relative z-1">
        <img src="assets/images/shapes/bg-pattern.png" alt="" class="position-absolute top-0 tw-start-0 tw-end-0 bottom-0 w-100 h-100 z-n1">
        
        <div class="d-flex flex-column tw-gap-8">
            <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <span class=" rectangle-shape-three d-sm-flex d-none"></span>
                <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                    <img src="assets/images/icons/service-icon5.svg" alt="" class="animate__swing">
                </span>


                <div class="max-w-310-px">
                    <h4 class="tw-mb-6 cursor-big splitTextStyleOne">Air Transportation</h4>
                    <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                    <div class="tw-mt-8">
                        <ul class="cursor-small d-flex flex-column tw-gap-2">
                            <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                            </li>
                        </ul>
                    </div>
                    
                    <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <span class=" rectangle-shape-three d-sm-flex d-none">
                    <img src="assets/images/thumbs/rect-img.png" alt="" class="w-100 h-100 object-fit-cover">
                </span>
                <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                    <img src="assets/images/icons/service-icon5.svg" alt="" class="animate__swing">
                </span>

                <div class="max-w-310-px">
                    <h4 class="tw-mb-6 cursor-big splitTextStyleOne">Train Transportation</h4>
                    <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                    <div class="tw-mt-8">
                        <ul class="cursor-small d-flex flex-column tw-gap-2">
                            <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                            </li>
                        </ul>
                    </div>
                    
                    <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <span class=" rectangle-shape-three d-sm-flex d-none"></span>
                <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                    <img src="assets/images/icons/service-icon5.svg" alt="" class="animate__swing">
                </span>

                <div class="max-w-310-px">
                    <h4 class="tw-mb-6 cursor-big splitTextStyleOne">Flight Transportation</h4>
                    <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                    <div class="tw-mt-8">
                        <ul class="cursor-small d-flex flex-column tw-gap-2">
                            <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                            </li>
                            <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                            </li>
                        </ul>
                    </div>
                    
                    <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================ quote Two section end ====================================-->