    <!--request-quote-area start-->
    <div class="request-quote-area pb-120 tw-mt--172-px"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
     <div class="container">
         <div class="request-quote-inner bg-white common-shadow-eleven position-relative">
             <ul class="nav nav-pills" id="pills-tab" role="tablist">
                 <li class="nav-item" role="presentation">
                     <button class="nav-link text-white active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><img class="tw-me-4" src="assets/images/shapes/request-five-icon1.png" alt="icon">REQUEST A QUOTE</button>
                 </li>
                 <li class="nav-item" role="presentation">
                     <button class="nav-link text-white" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img class="tw-me-4" src="assets/images/shapes/request-five-icon2.png" alt="icon"> TRACK & TRACE</button>
                 </li>
             </ul>
             <div class="tab-content" id="pills-tabContent">
                 <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-lg-8">
                            <h6 class="tw-text-base tw-mb-4">Personal Information :</h6>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="mb-md-3">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="mb-md-3">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="mb-md-3">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>   
                            <h6 class="tw-text-base tw-mt-16 tw-mb-4">Shipment Information :</h6>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <select class="nice-select single-select cursor-big tw-px-5 bg-transparent tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none">
                                            <option>Freight Type</option>
                                            <option value="1">Some option</option>
                                            <option value="2">Another option</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="City of Departure">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Delivery City">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="tw-mb-5">
                                        <select class="nice-select single-select cursor-big tw-px-5 bg-transparent tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none">
                                            <option>Incotems</option>
                                            <option value="1">Some option</option>
                                            <option value="2">Another option</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Weight">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Height">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Weight">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Height">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <ul class="single-check-list">
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label text-black" for="flexCheckDefault">
                                            Freight
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                        <label class="form-check-label text-black" for="flexCheckDefault1">
                                            Packaging
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                        <label class="form-check-label text-black" for="flexCheckDefault2">
                                            Express Delivery
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                        <label class="form-check-label text-black" for="flexCheckDefault3">
                                            Road Freight
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                        <label class="form-check-label text-black" for="flexCheckDefault4">
                                            Air Freight
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            <a href="service.html" class="cursor-small btn btn-main hover-style-one button--stroke tw-py-405 w-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label"> Request A Quote </span>
                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4 align-self-end">
                            <div class="quote-wrap bg-main-600 tw-ms-7 tw-p-40-px">
                                <h4 class="text-white tw-mb-4">How Can We Help You!</h4>
                                <p class="text-white tw-mb-10">Completely transform sticky ideas without leveraged quality vectors. Continually negotiate compelling partnerships before granular customer service. Objectively.</p>
                                <a  class="cursor-small btn bg-white text-black hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-4 tw-py-505 tw-h-15" href="contact.html">
                                   <span class="button__flair"></span>
                                   <span class="button__label">Contact Us</span>
                                </a>
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row">
                        <div class="col-lg-8">
                            <h6 class="tw-text-base tw-mb-4">Personal Information :</h6>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="mb-md-3">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="mb-md-3">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="mb-md-3">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>   
                            <h6 class="tw-text-base tw-mt-16 tw-mb-4">Shipment Information :</h6>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <select class="nice-select single-select cursor-big tw-px-5 bg-transparent tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none">
                                            <option>Freight Type</option>
                                            <option value="1">Some option</option>
                                            <option value="2">Another option</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="City of Departure">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Delivery City">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="tw-mb-5">
                                        <select class="nice-select single-select cursor-big tw-px-5 bg-transparent tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none">
                                            <option>Incotems</option>
                                            <option value="1">Some option</option>
                                            <option value="2">Another option</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Weight">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Height">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Weight">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="mb-md-3">
                                                <input class="cursor-big tw-px-5 tw-py-3 tw-placeholder-text-main-two-600 tw-border-100 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden rounded-0 shadow-none" type="text" placeholder="Height">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <ul class="single-check-list">
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                        <label class="form-check-label text-black" for="flexCheckDefault5">
                                            Freight
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
                                        <label class="form-check-label text-black" for="flexCheckDefault6">
                                            Packaging
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
                                        <label class="form-check-label text-black" for="flexCheckDefault7">
                                            Express Delivery
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8">
                                        <label class="form-check-label text-black" for="flexCheckDefault8">
                                            Road Freight
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check single-check-wrap">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault9">
                                        <label class="form-check-label text-black" for="flexCheckDefault9">
                                            Air Freight
                                        </label>
                                    </div>
                                </li>
                            </ul>
                           <a href="service.html" class="cursor-small btn btn-main hover-style-one w-100 button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label"> Request A Quote </span>
                                <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                    <i class="ph-bold ph-check"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4 align-self-end">
                            <div class="quote-wrap bg-main-600 tw-ms-7 tw-p-40-px">
                                <h4 class="text-white tw-mb-4">How Can We Help You!</h4>
                                <p class="text-white tw-mb-10">Completely transform sticky ideas without leveraged quality vectors. Continually negotiate compelling partnerships before granular customer service. Objectively.</p>
                                <a  class="cursor-small btn bg-white text-black hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-4 tw-py-505 tw-h-15" href="contact.html">
                                   <span class="button__flair"></span>
                                   <span class="button__label">Contact Us</span>
                                </a>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <!--request-quote-area end-->