<!-- ================================= Services Two section start ==================================== -->
<section class="py-140">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap tw-gap-6 justify-content-between tw-mb-15">
            <div class="max-w-756-px text-start">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Safe Transportation & Logistics</span>
                <h1 class="splitTextStyleOne cursor-big tw-mb-8 tw-text-56-px">We Provide Full Assistance Freight & Warehousing</h1>
                <p class="text-neutral-1000 cursor-small tw-mt-9 max-w-610-px tw-text-xl">A full administration printing background. Print shirts for yourself or your online business Beautiful, customizable template,</p>
            </div>
            <a href="service.html" class="cursor-small btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-13 tw-py-505" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">View services</span>
            </a>
        </div>

        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <span class=" rectangle-shape-three d-sm-flex d-none  bg-neutral-100"></span>
                    <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                        <img src="assets/images/icons/service-icon4.svg" alt="" class="animate__swing">
                    </span>
                    <div class="max-w-310-px">
                        <h4 class="tw-mb-6 cursor-big splitTextStyleOne line-clamp-1">Cargo Ship Frieght</h4>
                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                        <div class="tw-mt-8">
                            <ul class="cursor-small d-flex flex-column tw-gap-2">
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                                </li>
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                                </li>
                            </ul>
                        </div>
                        
                        <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <span class=" rectangle-shape-three d-sm-flex d-none  bg-neutral-100">
                        <img src="assets/images/thumbs/rect-img.png" alt="" class="w-100 h-100 object-fit-cover">
                    </span>
                    <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                        <img src="assets/images/icons/service-icon5.svg" alt="" class="animate__swing">
                    </span>
    
                    <div class="max-w-310-px">
                        <h4 class="tw-mb-6 cursor-big splitTextStyleOne line-clamp-1">Train Transportation</h4>
                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                        <div class="tw-mt-8">
                            <ul class="cursor-small d-flex flex-column tw-gap-2">
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                                </li>
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                                </li>
                            </ul>
                        </div>
                        
                        <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <span class=" rectangle-shape-three d-sm-flex d-none  bg-neutral-100"></span>
                    <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                        <img src="assets/images/icons/service-icon6.svg" alt="" class="animate__swing">
                    </span>
    
                    <div class="max-w-310-px">
                        <h4 class="tw-mb-6 cursor-big splitTextStyleOne line-clamp-1">Flight Transportation</h4>
                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                        <div class="tw-mt-8">
                            <ul class="cursor-small d-flex flex-column tw-gap-2">
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                                </li>
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                                </li>
                            </ul>
                        </div>
                        
                        <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="bg-white tw-p-60-px position-relative animation-item common-shadow-five" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <span class=" rectangle-shape-three d-sm-flex d-none  bg-neutral-100"></span>
                    <span class="tw-w-108-px tw-h-108-px bg-white rounded-circle common-shadow-four position-absolute top-50 tw--translate-y-50 tw-end-0 tw-me-23-percent d-sm-flex d-none justify-content-center align-items-center">
                        <img src="assets/images/icons/service-icon7.svg" alt="" class="animate__swing">
                    </span>
    
                    <div class="max-w-310-px">
                        <h4 class="tw-mb-6 cursor-big splitTextStyleOne line-clamp-1">Maritime transportation</h4>
                        <p class="text-neutral-1000 cursor-small">Sed ut perspiciatis unde is voluptatem accusant</p>
                        <div class="tw-mt-8">
                            <ul class="cursor-small d-flex flex-column tw-gap-2">
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Fast Delivery & secure package</span>
                                </li>
                                <li class="d-flex align-items-center tw-gap-4 aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                    <span class="text-main-600 d-flex"><i class="ph-bold ph-check"></i></span>
                                    <span class="text-neutral-1000 fw-medium">Safety & Privacy Security</span>
                                </li>
                            </ul>
                        </div>
                        
                        <a href="service-details.html" class="cursor-small tw-mt-6 btn btn-neutral-100 hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-pill tw-py-305 tw-px-8" data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label"><i class="ph-bold ph-arrow-up-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= Services Two section End ==================================== -->