<section class="service-six-area position-relative z-1">
    <div class="container container-six">
        <div class="row justify-content-end">
            <div class="col-xl-12">
                <div>
                    <h6 class="section-six-subtitle tw-pb-3 fw-normal font-heading tw-text-lg text-main-six-2-600 tw-mb-12">/ Our Services</h6>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="pb-120">
                    <h2 class="section-six-title tw-text-12 font-manrope fw-bolder text-white">WHERE RELIABILITY MEETS INNOVATION WITH IN LOGISTICS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="service-six-wrapper tw-mb-22" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="service-six-thumb text-center position-relative z-1">
                        <a href="service-details.html"><img src="assets/images/thumbs/service-six-thumb1.jpg" alt="thumb"></a>
                        <div class="service-six-btn position-absolute">
                            <span class="tw-w-22 tw-h-22 lh-1 d-inline-flex align-items-center justify-content-center bg-main-six-600 rounded-circle"><img src="assets/images/icons/service-six-icon1.svg" alt="icon"></span>
                        </div>
                    </div>
                    <div class="service-six-content tw-px-10 tw-pb-10">
                        <h4 class="text-white font-manrope tw-text-2xl tw-mb-4"><a href="service-details.html">AIR FREIGHT</a></h4>
                        <p class="service-six-paragraph text-white tw-text-lg">This includes paperwork like transport contracts for a customs declarations, bills of lading.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="service-six-wrapper tw-mb-22" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="service-six-thumb text-center position-relative z-1">
                        <a href="service-details.html"><img src="assets/images/thumbs/service-six-thumb2.jpg" alt="thumb"></a>
                        <div class="service-six-btn position-absolute">
                            <span class="tw-w-22 tw-h-22 lh-1 d-inline-flex align-items-center justify-content-center bg-main-six-600 rounded-circle"><img src="assets/images/icons/service-six-icon2.svg" alt="icon"></span>
                        </div>
                    </div>
                    <div class="service-six-content tw-px-10 tw-pb-10">
                        <h4 class="text-white font-manrope tw-text-2xl tw-mb-4"><a href="service-details.html">AIR FREIGHT</a></h4>
                        <p class="service-six-paragraph text-white tw-text-lg">This includes paperwork like transport contracts for a customs declarations, bills of lading.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="service-six-wrapper tw-mb-22" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="service-six-thumb text-center position-relative z-1">
                        <a href="service-details.html"><img src="assets/images/thumbs/service-six-thumb3.jpg" alt="thumb"></a>
                        <div class="service-six-btn position-absolute">
                            <span class="tw-w-22 tw-h-22 lh-1 d-inline-flex align-items-center justify-content-center bg-main-six-600 rounded-circle"><img src="assets/images/icons/service-six-icon3.svg" alt="icon"></span>
                        </div>
                    </div>
                    <div class="service-six-content tw-px-10 tw-pb-10">
                        <h4 class="text-white font-manrope tw-text-2xl tw-mb-4"><a href="service-details.html">AIR FREIGHT</a></h4>
                        <p class="service-six-paragraph text-white tw-text-lg">This includes paperwork like transport contracts for a customs declarations, bills of lading.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="service-six-wrapper tw-mb-22" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="service-six-thumb text-center position-relative z-1">
                        <a href="service-details.html"><img src="assets/images/thumbs/service-six-thumb4.jpg" alt="thumb"></a>
                        <div class="service-six-btn position-absolute">
                            <span class="tw-w-22 tw-h-22 lh-1 d-inline-flex align-items-center justify-content-center bg-main-six-600 rounded-circle"><img src="assets/images/icons/service-six-icon4.svg" alt="icon"></span>
                        </div>
                    </div>
                    <div class="service-six-content tw-px-10 tw-pb-10">
                        <h4 class="text-white font-manrope tw-text-2xl tw-mb-4"><a href="service-details.html">AIR FREIGHT</a></h4>
                        <p class="service-six-paragraph text-white tw-text-lg">This includes paperwork like transport contracts for a customs declarations, bills of lading.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-six-bg-shape position-absolute z-n1">
        <img src="assets/images/shapes/service-six-bg-shape.png" alt="shape">
    </div>
</section>