<!-- ============================= Service Three section start =================================== -->
<section class="service-three pt-140 overflow-hidden">
    <div class="container">
        <div class="max-w-856-px mx-auto text-center tw-pb-16 tw-mb-6">
            <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Safe Transportation & Logistics</span>
            <h1 class="splitTextStyleOne cursor-big">Fastest & Secured Logistics Solution & services</h1>
        </div>

        <div class="position-relative">
            <div class="service-three-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="service-three-item tw-pb-13 overflow-hidden position-relative group">
                            <a href="service-details.html" class="triangle-before position-relative w-100 h-100 p-2 bg-white overflow-hidden">
                                <img src="assets/images/thumbs/service-three-img1.png" alt="" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="service-three-item__content tw-duration-500 tw-ps-4 position-absolute bottom-0 tw-start-0 tw-end-0 w-100">
                                <div class="bg-white triangle-two-before position-relative z-1 border-bottom border-main-600 common-shadow-five two tw-py-405 tw-mx-32-px d-flex align-items-start tw-gap-405 tw-pe-6">
                                    <span class="tw-h-85-px tw-w-85-px bg-main-600 tw-rounded d-flex justify-content-center align-items-center tw--ms-16-px cursor-big flex-shrink-0 group-hover-bg-main-two-600 tw-duration-500">
                                        <img src="assets/images/icons/service-three-icon1.svg" alt="">
                                    </span>
                                    <div class="tw-py-605 flex-grow-1">
                                        <h6 class="tw-mb-8 cursor-big tw-text-lg">
                                            <a href="service-details.html" class="line-clamp-2 hover-text-main-600">Air Transportation </a>
                                        </h6>
                                        <p class="text-neutral-1000 cursor-small line-clamp-3">Find information for people with disabilities and their families</p>
                                        <a href="service-details.html" class="cursor-big d-flex align-items-center tw-gap-3 text-main-two-600 fw-semibold tw-mt-4 hover-text-main-600">
                                            Explore More
                                            <span class=""><img src="assets/images/icons/arrow-long.svg" alt=""></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="service-three-item tw-pb-13 overflow-hidden position-relative group">
                            <a href="service-details.html" class="triangle-before position-relative w-100 h-100 p-2 bg-white overflow-hidden">
                                <img src="assets/images/thumbs/service-three-img2.png" alt="" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="service-three-item__content tw-duration-500 tw-ps-4 position-absolute bottom-0 tw-start-0 tw-end-0 w-100">
                                <div class="bg-white triangle-two-before position-relative z-1 border-bottom border-main-600 common-shadow-five two tw-py-405 tw-mx-32-px d-flex align-items-start tw-gap-405 tw-pe-6">
                                    <span class="tw-h-85-px tw-w-85-px bg-main-600 tw-rounded d-flex justify-content-center align-items-center tw--ms-16-px cursor-big flex-shrink-0 group-hover-bg-main-two-600 tw-duration-500">
                                        <img src="assets/images/icons/service-three-icon2.svg" alt="">
                                    </span>
                                    <div class="tw-py-605 flex-grow-1">
                                        <h6 class="tw-mb-8 cursor-big tw-text-lg">
                                            <a href="service-details.html" class="line-clamp-2 hover-text-main-600">Train Transportation </a>
                                        </h6>
                                        <p class="text-neutral-1000 cursor-small line-clamp-3">Find information for people with disabilities and their families</p>
                                        <a href="service-details.html" class="cursor-big d-flex align-items-center tw-gap-3 text-main-two-600 fw-semibold tw-mt-4 hover-text-main-600">
                                            Explore More
                                            <span class=""><img src="assets/images/icons/arrow-long.svg" alt=""></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="service-three-item tw-pb-13 overflow-hidden position-relative group">
                            <a href="service-details.html" class="triangle-before position-relative w-100 h-100 p-2 bg-white overflow-hidden">
                                <img src="assets/images/thumbs/service-three-img3.png" alt="" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="service-three-item__content tw-duration-500 tw-ps-4 position-absolute bottom-0 tw-start-0 tw-end-0 w-100">
                                <div class="bg-white triangle-two-before position-relative z-1 border-bottom border-main-600 common-shadow-five two tw-py-405 tw-mx-32-px d-flex align-items-start tw-gap-405 tw-pe-6">
                                    <span class="tw-h-85-px tw-w-85-px bg-main-600 tw-rounded d-flex justify-content-center align-items-center tw--ms-16-px cursor-big flex-shrink-0 group-hover-bg-main-two-600 tw-duration-500">
                                        <img src="assets/images/icons/service-three-icon3.svg" alt="">
                                    </span>
                                    <div class="tw-py-605 flex-grow-1">
                                        <h6 class="tw-mb-8 cursor-big tw-text-lg">
                                            <a href="service-details.html" class="line-clamp-2 hover-text-main-600">Cargo transportation</a>
                                        </h6>
                                        <p class="text-neutral-1000 cursor-small line-clamp-3">Find information for people with disabilities and their families</p>
                                        <a href="service-details.html" class="cursor-big d-flex align-items-center tw-gap-3 text-main-two-600 fw-semibold tw-mt-4 hover-text-main-600">
                                            Explore More
                                            <span class=""><img src="assets/images/icons/arrow-long.svg" alt=""></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="service-three-item tw-pb-13 overflow-hidden position-relative group">
                            <a href="service-details.html" class="triangle-before position-relative w-100 h-100 p-2 bg-white overflow-hidden">
                                <img src="assets/images/thumbs/service-three-img2.png" alt="" class="w-100 h-100 object-fit-cover">
                            </a>
                            <div class="service-three-item__content tw-duration-500 tw-ps-4 position-absolute bottom-0 tw-start-0 tw-end-0 w-100">
                                <div class="bg-white triangle-two-before position-relative z-1 border-bottom border-main-600 common-shadow-five two tw-py-405 tw-mx-32-px d-flex align-items-start tw-gap-405 tw-pe-6">
                                    <span class="tw-h-85-px tw-w-85-px bg-main-600 tw-rounded d-flex justify-content-center align-items-center tw--ms-16-px cursor-big flex-shrink-0 group-hover-bg-main-two-600 tw-duration-500">
                                        <img src="assets/images/icons/service-three-icon2.svg" alt="">
                                    </span>
                                    <div class="tw-py-605 flex-grow-1">
                                        <h6 class="tw-mb-8 cursor-big tw-text-lg">
                                            <a href="service-details.html" class="line-clamp-2 hover-text-main-600">Train Transportation </a>
                                        </h6>
                                        <p class="text-neutral-1000 cursor-small line-clamp-3">Find information for people with disabilities and their families</p>
                                        <a href="service-details.html" class="cursor-big d-flex align-items-center tw-gap-3 text-main-two-600 fw-semibold tw-mt-4 hover-text-main-600">
                                            Explore More
                                            <span class=""><img src="assets/images/icons/arrow-long.svg" alt=""></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cursor-big service-three-button-prev tw-w-14 tw-h-14 rounded-circle tw-text-xl text-white bg-main-600 tw-mt-705 hover-bg-main-600 d-flex justify-content-center align-items-center tw-duration-300 position-absolute top-50 tw--translate-y-50 tw-end-full tw-me-8">
                <i class="ph ph-arrow-left"></i>
            </div>
            <div class="cursor-big service-three-button-next tw-w-14 tw-h-14 rounded-circle tw-text-xl text-white bg-main-600 tw-mt-705 hover-bg-main-600 d-flex justify-content-center align-items-center tw-duration-300 position-absolute top-50 tw--translate-y-50 tw-start-full tw-ms-8">
                <i class="ph ph-arrow-right"></i> 
            </div>
        </div>

    </div>
</section>
<!-- ============================= Service Three section End =================================== -->