<section class="pb-120 overflow-hidden">
     <div class="container">
          <div class="row align-items-center">
               <div class="col-xl-6 col-lg-8 col-md-7">
                    <div class="tw-mb-6"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                         <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Services</span>
                         <h1 class="splitTextStyleOne cursor-big tw-mb-8">Our Service For You</h1>
                    </div>
               </div>
               <div class="col-xl-6 col-lg-4 col-md-5">
                    <div class="d-flex justify-content-end"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                         <a href="service.html" class="cursor-small btn btn-main hover-style-one button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                              <span class="button__flair"></span>
                              <span class="button__label"> View All Services</span>
                              <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                  <i class="ph-bold ph-check"></i>
                              </span>
                          </a>
                    </div>
               </div>
          </div>
          <div class="row gx-0">
               <div class="col-xxl-12">
                   <div class="service-four-slider tw-mx--30-px position-relative overflow-hidden"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                       <div class="service-four-active tw-m-30-25-px swiper-container">
                           <div class="swiper-wrapper">

                              <!-- Items 1 -->
                              <div class="service-four-wrapper swiper-slide bg-img tw-rounded-lg tw-p-36-px position-relative z-1" data-background-image="assets/images/thumbs/service-four-thumb.png">
                                   <div class="tw-mb-6">
                                        <span><img src="assets/images/shapes/service-four-icon1.png" alt="icon"></span>
                                   </div>
                                   <h5 class="service-four-title tw-mb-4 tw-transition-common"><a href="service-details.html">Sea Transportation</a></h5>
                                   <p class="service-four-paragraph tw-border-bottom tw-mb-6 tw-pb-6 tw-transition-common">Energistically reconceptualize ubiquitous solution wherea market-driven expertise. Synergistical empower parallel processes with highly efficient infomediaries.</p>
                                   <div>
                                        <a class="service-four-button d-flex align-items-center justify-content-between fw-bold text-main-600" href="service-details.html">Read More <span class="tw-w-26-px tw-h-26-px line-height-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-100 tw-text-sm rounded-circle"><i class="ph ph-arrow-right"></i></span></a>
                                   </div>
                                   <div class="service-four-shape position-absolute top-0 end-0">
                                        <img src="assets/images/shapes/service-four-icon11.png" alt="">
                                   </div>
                              </div>

                              <!-- Items 2 -->
                              <div class="service-four-wrapper swiper-slide bg-img tw-rounded-lg tw-p-36-px position-relative z-1" data-background-image="assets/images/thumbs/service-four-thumb.png">
                                   <div class="tw-mb-6">
                                        <span><img src="assets/images/shapes/service-four-icon2.png" alt="icon"></span>
                                   </div>
                                   <h5 class="service-four-title tw-mb-4 tw-transition-common"><a href="service-details.html">Air Transportation</a></h5>
                                   <p class="service-four-paragraph tw-border-bottom tw-mb-6 tw-pb-6 tw-transition-common">Energistically reconceptualize ubiquitous solution wherea market-driven expertise. Synergistical empower parallel processes with highly efficient infomediaries.</p>
                                   <div>
                                        <a class="service-four-button d-flex align-items-center justify-content-between fw-bold text-main-600" href="service-details.html">Read More <span class="tw-w-26-px tw-h-26-px line-height-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-100 tw-text-sm rounded-circle"><i class="ph ph-arrow-right"></i></span></a>
                                   </div>
                                   <div class="service-four-shape position-absolute top-0 end-0">
                                        <img src="assets/images/shapes/service-four-icon22.png" alt="">
                                   </div>
                              </div>

                              <!-- Items 3 -->
                              <div class="service-four-wrapper swiper-slide bg-img tw-rounded-lg tw-p-36-px position-relative z-1" data-background-image="assets/images/thumbs/service-four-thumb.png">
                                   <div class="tw-mb-6">
                                        <span><img src="assets/images/shapes/service-four-icon3.png" alt="icon"></span>
                                   </div>
                                   <h5 class="service-four-title tw-mb-4 tw-transition-common"><a href="service-details.html">Warehousing</a></h5>
                                   <p class="service-four-paragraph tw-border-bottom tw-mb-6 tw-pb-6 tw-transition-common">Energistically reconceptualize ubiquitous solution wherea market-driven expertise. Synergistical empower parallel processes with highly efficient infomediaries.</p>
                                   <div>
                                        <a class="service-four-button d-flex align-items-center justify-content-between fw-bold text-main-600" href="service-details.html">Read More <span class="tw-w-26-px tw-h-26-px line-height-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-100 tw-text-sm rounded-circle"><i class="ph ph-arrow-right"></i></span></a>
                                   </div>
                                   <div class="service-four-shape position-absolute top-0 end-0">
                                        <img src="assets/images/shapes/service-four-icon33.png" alt="">
                                   </div>
                              </div>

                              <!-- Items 1 -->
                              <div class="service-four-wrapper swiper-slide bg-img tw-rounded-lg tw-p-36-px position-relative z-1" data-background-image="assets/images/thumbs/service-four-thumb.png">
                                   <div class="tw-mb-6">
                                        <span><img src="assets/images/shapes/service-four-icon1.png" alt="icon"></span>
                                   </div>
                                   <h5 class="service-four-title tw-mb-4 tw-transition-common"><a href="service-details.html">Sea Transportation</a></h5>
                                   <p class="service-four-paragraph tw-border-bottom tw-mb-6 tw-pb-6 tw-transition-common">Energistically reconceptualize ubiquitous solution wherea market-driven expertise. Synergistical empower parallel processes with highly efficient infomediaries.</p>
                                   <div>
                                        <a class="service-four-button d-flex align-items-center justify-content-between fw-bold text-main-600" href="service-details.html">Read More <span class="tw-w-26-px tw-h-26-px line-height-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-100 tw-text-sm rounded-circle"><i class="ph ph-arrow-right"></i></span></a>
                                   </div>
                                   <div class="service-four-shape position-absolute top-0 end-0">
                                        <img src="assets/images/shapes/service-four-icon11.png" alt="">
                                   </div>
                              </div>

                              <!-- Items 2 -->
                              <div class="service-four-wrapper swiper-slide bg-img tw-rounded-lg tw-p-36-px position-relative z-1" data-background-image="assets/images/thumbs/service-four-thumb.png">
                                   <div class="tw-mb-6">
                                        <span><img src="assets/images/shapes/service-four-icon2.png" alt="icon"></span>
                                   </div>
                                   <h5 class="service-four-title tw-mb-4 tw-transition-common"><a href="service-details.html">Air Transportation</a></h5>
                                   <p class="service-four-paragraph tw-border-bottom tw-mb-6 tw-pb-6 tw-transition-common">Energistically reconceptualize ubiquitous solution wherea market-driven expertise. Synergistical empower parallel processes with highly efficient infomediaries.</p>
                                   <div>
                                        <a class="service-four-button d-flex align-items-center justify-content-between fw-bold text-main-600" href="service-details.html">Read More <span class="tw-w-26-px tw-h-26-px line-height-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-100 tw-text-sm rounded-circle"><i class="ph ph-arrow-right"></i></span></a>
                                   </div>
                                   <div class="service-four-shape position-absolute top-0 end-0">
                                        <img src="assets/images/shapes/service-four-icon22.png" alt="">
                                   </div>
                              </div>

                              <!-- Items 3 -->
                              <div class="service-four-wrapper swiper-slide bg-img tw-rounded-lg tw-p-36-px position-relative z-1" data-background-image="assets/images/thumbs/service-four-thumb.png">
                                   <div class="tw-mb-6">
                                        <span><img src="assets/images/shapes/service-four-icon3.png" alt="icon"></span>
                                   </div>
                                   <h5 class="service-four-title tw-mb-4 tw-transition-common"><a href="service-details.html">Warehousing</a></h5>
                                   <p class="service-four-paragraph tw-border-bottom tw-mb-6 tw-pb-6 tw-transition-common">Energistically reconceptualize ubiquitous solution wherea market-driven expertise. Synergistical empower parallel processes with highly efficient infomediaries.</p>
                                   <div>
                                        <a class="service-four-button d-flex align-items-center justify-content-between fw-bold text-main-600" href="service-details.html">Read More <span class="tw-w-26-px tw-h-26-px line-height-1 d-inline-flex align-items-center justify-content-center bg-main-600 text-white rounded-100 tw-text-sm rounded-circle"><i class="ph ph-arrow-right"></i></span></a>
                                   </div>
                                   <div class="service-four-shape position-absolute top-0 end-0">
                                        <img src="assets/images/shapes/service-four-icon33.png" alt="">
                                   </div>
                              </div>

                           </div>
                       </div>
                       <div class="service-four-dots text-center dots-color tw-mt-15">
                         <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                         <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                         <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                     </div>
                   </div>
               </div>
          </div>
     </div>
</section>