<!-- ============================== Team section start ============================== -->
<section class="team py-140 overflow-hidden">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap tw-gap-6 justify-content-between tw-mb-15">
            <div class="max-w-632-px text-start">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h1 class="splitTextStyleOne cursor-big tw-mb-8">Behind the scene who help us lot of</h1>
            </div>
            <a href="service.html" class="cursor-small btn btn-main hover-style-three button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-13 tw-py-505" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">View services</span>
            </a>
        </div>

        <div class="view-w-100 position-relative z-1">
            <div class="team-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img1.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Leslie Alexander</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">GRAPHIC DESIGNER</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img2.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Mehedi Hasan</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">UX/UI designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img3.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Robiul Hasan</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">Front-end developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img1.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Riad Hasan</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">UX/Ui designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img5.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Alex</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">GRAPHIC DESIGNER</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img3.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Robiul Hasan</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">Front-end developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
                        <div class="team-item group group-item">
                            <div class="position-relative tw-rounded-32-px tw-rounded-bl-0 overflow-hidden">
                                <a href="team-details.html" class="w-100 tw-h-400-px">
                                    <img src="assets/images/thumbs/team-img1.png" alt="" class="w-100 h-100 object-fit-cover">
                                </a>
                                <div class="socails-share position-absolute bottom-0 tw-start-0 d-inline-block ">
                                    <button class="tw-h-17 tw-w-17 bg-main-600 text-white tw-text-2xl group-hover-bg-main-two-600 tw-duration-300 cursor-big tw-rounded-lg tw-rounded-bl-0 tw-rounded-br-0  tw-rounded-tl-0 ">
                                        <i class="ph-fill ph-share-network"></i>
                                    </button>
                                    <ul class="bg-white tw-py-205 tw-px-5 d-flex align-items-center tw-gap-5 position-absolute bottom-0 tw-start-full tw-invisible group-hover-item-visible tw-duration-300 clip-w-0 group-hover-clip-w-full">
                                        <li>
                                            <a href="https://wwww.twitter.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-twitter-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.facebook.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-facebook-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.instagram.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-bold ph-instagram-logo"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://wwww.youtube.com" class="tw-text-base text-neutral-1000 hover-text-main-two-600 hover-scale-20 cursor-small"><i class="ph-fill ph-youtube-logo"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center tw-mt-6">
                                <h5 class="tw-mb-1 cursor-big">
                                    <a href="team-details.html" class="hover-text-main-600 line-clamp-1">Riad Hasan</a>
                                </h5>
                                <span class="tw-text-sm text-main-600 text-uppercase cursor-small">UX/Ui designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Team section end ============================== -->