<section class="testimonial-six-area position-relative z-1">
    <div class="testimonial-six-bg position-absolute z-n1 bg-img" data-background-image="assets/images/thumbs/testimonial-six-bg.jpg"></div>
    <div class="container container-six">
        <div class="row">
            <div class="col-xl-5">
                <div class="testimonial-six-content tw-me-16" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div>
                        <h6 class="section-six-subtitle tw-pb-3 fw-normal font-heading tw-text-lg text-main-six-2-600 tw-mb-12">/ Our Testimonials</h6>
                    </div>
                    <div>
                        <h2 class="section-six-title font-manrope fw-bolder tw-text-12 text-white">456K+ CLIENTS LOVE US WITH OUR BEST SERVICES</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="overflow-hidden" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                            <div class="testimonial-six-slider position-relative">
                                <div class="testimonial-six-active tw-mb-12 swiper-container">
                                    <div class="swiper-wrapper">
    
                                        <!-- Items 1 -->
                                        <div class="bg-main-six-600 tw-py-16 tw-px-18 position-relative z-1 swiper-slide">
                                            <div class="tw-mb-10">
                                                <p class="font-heading text-white tw-text-2xl fw-medium">““We’ve been working with Logistick for over a year now, and I can confidently say they’ve become an essential part of our supply chain. Their delivery process is fast, secure, and incredibly well-organized. We especially appreciate the real-time tracking and responsive customer support — it makes a huge difference.”</p>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-4">
                                                <div>
                                                    <img src="assets/images/thumbs/testimonial-six-img.png" alt="img">
                                                </div>
                                                <div>
                                                    <h6 class="font-heading tw-text-lg fw-medium text-white">William John</h6>
                                                    <p class="font-heading fw-medium text-white">Small Business Owner</p>
                                                </div> 
                                            </div>
                                            <div class="testimonial-six-quate position-absolute">
                                                <span class="tw-w-24 tw-h-24 lh-1 d-inline-flex align-items-center justify-content-center bg-white text-main-six-600 tw-text-18"><i class="ph ph-quotes"></i></span>
                                            </div>
                                        </div>
    
                                        <!-- Items 1 -->
                                        <div class="bg-main-six-600 tw-py-16 tw-px-18 position-relative z-1 swiper-slide">
                                            <div class="tw-mb-10">
                                                <p class="font-heading text-white tw-text-2xl fw-medium">““We’ve been working with Logistick for over a year now, and I can confidently say they’ve become an essential part of our supply chain. Their delivery process is fast, secure, and incredibly well-organized. We especially appreciate the real-time tracking and responsive customer support — it makes a huge difference.”</p>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-4">
                                                <div>
                                                    <img src="assets/images/thumbs/testimonial-six-img.png" alt="img">
                                                </div>
                                                <div>
                                                    <h6 class="font-heading tw-text-lg fw-medium text-white">William John</h6>
                                                    <p class="font-heading fw-medium text-white">Small Business Owner</p>
                                                </div> 
                                            </div>
                                            <div class="testimonial-six-quate position-absolute">
                                                <span class="tw-w-24 tw-h-24 lh-1 d-inline-flex align-items-center justify-content-center bg-white text-main-six-600 tw-text-18"><i class="ph ph-quotes"></i></span>
                                            </div>
                                        </div>
    
                                        <!-- Items 1 -->
                                        <div class="bg-main-six-600 tw-py-16 tw-px-18 position-relative z-1 swiper-slide">
                                            <div class="tw-mb-10">
                                                <p class="font-heading text-white tw-text-2xl fw-medium">““We’ve been working with Logistick for over a year now, and I can confidently say they’ve become an essential part of our supply chain. Their delivery process is fast, secure, and incredibly well-organized. We especially appreciate the real-time tracking and responsive customer support — it makes a huge difference.”</p>
                                            </div>
                                            <div class="d-flex align-items-center tw-gap-4">
                                                <div>
                                                    <img src="assets/images/thumbs/testimonial-six-img.png" alt="img">
                                                </div>
                                                <div>
                                                    <h6 class="font-heading tw-text-lg fw-medium text-white">William John</h6>
                                                    <p class="font-heading fw-medium text-white">Small Business Owner</p>
                                                </div> 
                                            </div>
                                            <div class="testimonial-six-quate position-absolute">
                                                <span class="tw-w-24 tw-h-24 lh-1 d-inline-flex align-items-center justify-content-center bg-white text-main-six-600 tw-text-18"><i class="ph ph-quotes"></i></span>
                                            </div>
                                        </div>
    
    
    
                                    </div>
                                </div>
                                <div class="testimonial-six-dots dots-color">
                                    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                                    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>