<!-- =============================== Testimonials section three start ========================= -->
<section class="bg-neutral-50 py-140 position-relative z-1">
    <img src="assets/images/shapes/pattern-bg-two.png" alt="" class="position-absolute bottom-0 tw-start-0 z-n1 w-100">
    
    <div class="container">
       
        <div class="row gy-4">
            <div class="col-lg-7 pe-lg-5">
                <div class="">
                    <div class="">
                        <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">Safe Transportation & Logistics</span>
                        <h1 class="splitTextStyleOne cursor-big tw-mb-8">What our client's says about our services</h1>
                    </div>

                    <div class="testimonials-three-content-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bg-neutral-50">
                                    <p class="h4 fw-normal tw-leading-18 text-main-two-600 cursor-big">Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to their excellent service competitive pricing</p>
                                    <span class="tw-my-10 border-bottom border-neutral-200 d-block"></span>
        
                                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-2">
                                        <div class="">
                                            <h5 class="tw-mb-2 cursor-big">Robiul Hasan</h5>
                                            <span class="text-neutral-900 cursor-small">Front End Developer</span>
                                        </div>
                                        <ul class="d-flex align-items-center tw-gap-2 cursor-small">
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-neutral-50">
                                    <p class="h4 fw-normal tw-leading-18 text-main-two-600 cursor-big">Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to their excellent service competitive pricing</p>
                                    <span class="tw-my-10 border-bottom border-neutral-200 d-block"></span>
        
                                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-2">
                                        <div class="">
                                            <h5 class="tw-mb-2 cursor-big">Mehedi Hasan</h5>
                                            <span class="text-neutral-900 cursor-small">UX/Ui Designer</span>
                                        </div>
                                        <ul class="d-flex align-items-center tw-gap-2 cursor-small">
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="bg-neutral-50">
                                    <p class="h4 fw-normal tw-leading-18 text-main-two-600 cursor-big">Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to their excellent service competitive pricing</p>
                                    <span class="tw-my-10 border-bottom border-neutral-200 d-block"></span>
        
                                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-2">
                                        <div class="">
                                            <h5 class="tw-mb-2 cursor-big">Robert J. Hare</h5>
                                            <span class="text-neutral-900 cursor-small">Sr. Product Manager</span>
                                        </div>
                                        <ul class="d-flex align-items-center tw-gap-2 cursor-small">
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-lg-block d-none">
                <div class="swiper testimonials-three-thumbs-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="position-relative tw-me-11 tw-mt-11">
                                <div class="mask-shape style-two d-flex position-relative">
                                    <img src="assets/images/thumbs/about-img.png" alt="Testimonials Image" class="w-100 h-100 object-fit-cover">
                                </div>
                                <span class="tw-w-90-px tw-h-90-px bg-main-600 rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-end-0 tw--me-45-px tw--mt-45-px cursor-big">
                                    <img src="assets/images/icons/quate-icon.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="position-relative tw-me-11 tw-mt-11">
                                <div class="mask-shape style-two d-flex position-relative">
                                    <img src="assets/images/thumbs/about-img.png" alt="Testimonials Image" class="w-100 h-100 object-fit-cover">
                                </div>
                                <span class="tw-w-90-px tw-h-90-px bg-main-600 rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-end-0 tw--me-45-px tw--mt-45-px cursor-big">
                                    <img src="assets/images/icons/quate-icon.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="position-relative tw-me-11 tw-mt-11">
                                <div class="mask-shape style-two d-flex position-relative">
                                    <img src="assets/images/thumbs/about-img.png" alt="Testimonials Image" class="w-100 h-100 object-fit-cover">
                                </div>
                                <span class="tw-w-90-px tw-h-90-px bg-main-600 rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-end-0 tw--me-45-px tw--mt-45-px cursor-big">
                                    <img src="assets/images/icons/quate-icon.svg" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="d-flex align-items-center tw-gap-5 justify-content-center tw-mt-15">
            <button type="button" class="cursor-small tw-h-13 tw-w-13 active-scale-09 rounded-circle bg-white text-main-600 hover-bg-main-600 hover-text-white tw-duration-500 tw-text-lg d-flex justify-content-center align-items-center testimonials-three-btn-prev">
                <i class="ph ph-arrow-left"></i>
            </button>
            <button type="button" class="cursor-small tw-h-13 tw-w-13 active-scale-09 rounded-circle bg-white text-main-600 hover-bg-main-600 hover-text-white tw-duration-500 tw-text-lg d-flex justify-content-center align-items-center testimonials-three-btn-next">
                <i class="ph ph-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
<!-- =============================== Testimonials section three End ========================= -->