<!-- ============================== Testimonials Two Start ============================== -->
<section class="py-140 bg-neutral-50 overflow-hidden">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap tw-gap-6 justify-content-between tw-mb-15">
            <div class="max-w-632-px text-start">
                <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
                <h2 class="splitTextStyleOne cursor-big tw-mb-8 h1">What our client's says about our services</h2>
            </div>
            <a href="service.html" class="cursor-small btn btn-main hover-style-one button--stroke d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 rounded-0 tw-px-13 tw-py-505" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">View services</span>
            </a>
        </div>
        
        <div class="view-w-100 position-relative z-1">
            <div class="row gy-4 gx-5">

                <div class="col-lg-3">
                    <div class="tw-pb-8 position-relative h-100">
                        <div class="bg-white tw-rounded-xl tw-p-205 h-100">
                            <div class="position-relative tw-rounded-xl overflow-hidden h-100" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                                <img src="assets/images/thumbs/testimonails-two-img.png" alt="" class="w-100 h-100 object-fit-cover">
                            </div>
                            <div class="bg-white cursor-big common-shadow-two tw-rounded-md d-flex justify-content-center align-items-center position-absolute top-0 tw-w-108-px tw-h-108-px tw-mt-6 tw--ms-54-px" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                                <img src="assets/images/icons/quote-two-icon.svg" alt="">
                            </div>
                            <div class="tw-p-10 tw-pe-130-px tw--translate-x-30-px bg-main-600 position-absolute tw-start-0 bottom-0 tw-rounded-md tw--ms-38-px" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                                <h2 class="h1 text-white tw-mb-4 font-body cursor-big">25+</h2>
                                <div class="d-flex flex-column tw-gap-1 align-items-start">
                                    <span class="text-white fw-medium cursor-small">Years Of Experience</span>
                                    <img src="assets/images/shapes/line-shape.png" alt="">
                                </div>
                                <div class="cursor-small before-border position-relative tw-p-205 bg-white d-inline-flex align-items-start tw-gap-1 position-absolute top-0 tw-end-0 tw-mt-205 tw-me-205 z-1">
                                    <span class="tw-text-xl fw-semibold text-main-600">4.9</span>
                                    <span class="tw-text-xl fw-semibold text-main-600 d-flex tw--translate-y-4-px"><i class="ph-fill ph-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="testimonials-two-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                                <div class="text-center ">
                                    <div class="testimonials-two__content common-shadow-six bg-white tw-rounded-2xl tw-pt-15 tw-pb-84-px tw-px-4 border border-white hover-border-main-600 tw-duration-300">
                                        <span class="tw-mb-8 cursor-small">
                                            <img src="assets/images/icons/quote-three-icon.svg" alt="">
                                        </span>
                                        <p class="tw-text-md text-main-two-600 cursor-small max-w-318-px mx-auto tw-leading-loose">are so beguiled and demorali ed by the tech of pleasure of the moment Dislike men who are so beguiled and demoraliz worlds ed by the charms of </p>
                                        <ul class="tw-mt-7 d-inline-flex tw-gap-1 cursor-small">
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="tw--mt-45-px position-relative">
                                        <div class="bg-white rounded-circle tw-w-90-px tw-h-90-px common-shadow-six tw-p-105 d-inline-flex">
                                            <img src="assets/images/thumbs/testi-img1.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                                        </div>
                                        <h6 class="tw-text-lg tw-mt-4 cursor-big">Robiul Hasan</h6>
                                        <span class="tw-mt-105 text-main-600 cursor-small">Front End Developer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                                <div class="text-center ">
                                    <div class="testimonials-two__content common-shadow-six bg-white tw-rounded-2xl tw-pt-15 tw-pb-84-px tw-px-4 border border-white hover-border-main-600 tw-duration-300">
                                        <span class="tw-mb-8 cursor-small">
                                            <img src="assets/images/icons/quote-three-icon.svg" alt="">
                                        </span>
                                        <p class="tw-text-md text-main-two-600 cursor-small max-w-318-px mx-auto tw-leading-loose">are so beguiled and demorali ed by the tech of pleasure of the moment Dislike men who are so beguiled and demoraliz worlds ed by the charms of </p>
                                        <ul class="tw-mt-7 d-inline-flex tw-gap-1 cursor-small">
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="tw--mt-45-px position-relative">
                                        <div class="bg-white rounded-circle tw-w-90-px tw-h-90-px common-shadow-six tw-p-105 d-inline-flex">
                                            <img src="assets/images/thumbs/testi-img2.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                                        </div>
                                        <h6 class="tw-text-lg tw-mt-4 cursor-big">Mehedi Hasan</h6>
                                        <span class="tw-mt-105 text-main-600 cursor-small">Ceo & Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                                <div class="text-center ">
                                    <div class="testimonials-two__content common-shadow-six bg-white tw-rounded-2xl tw-pt-15 tw-pb-84-px tw-px-4 border border-white hover-border-main-600 tw-duration-300">
                                        <span class="tw-mb-8 cursor-small">
                                            <img src="assets/images/icons/quote-three-icon.svg" alt="">
                                        </span>
                                        <p class="tw-text-md text-main-two-600 cursor-small max-w-318-px mx-auto tw-leading-loose">are so beguiled and demorali ed by the tech of pleasure of the moment Dislike men who are so beguiled and demoraliz worlds ed by the charms of </p>
                                        <ul class="tw-mt-7 d-inline-flex tw-gap-1 cursor-small">
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="tw--mt-45-px position-relative">
                                        <div class="bg-white rounded-circle tw-w-90-px tw-h-90-px common-shadow-six tw-p-105 d-inline-flex">
                                            <img src="assets/images/thumbs/testi-img4.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                                        </div>
                                        <h6 class="tw-text-lg tw-mt-4 cursor-big">Alex</h6>
                                        <span class="tw-mt-105 text-main-600 cursor-small">Ceo & Founder</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                                <div class="text-center ">
                                    <div class="testimonials-two__content common-shadow-six bg-white tw-rounded-2xl tw-pt-15 tw-pb-84-px tw-px-4 border border-white hover-border-main-600 tw-duration-300">
                                        <span class="tw-mb-8 cursor-small">
                                            <img src="assets/images/icons/quote-three-icon.svg" alt="">
                                        </span>
                                        <p class="tw-text-md text-main-two-600 cursor-small max-w-318-px mx-auto tw-leading-loose">are so beguiled and demorali ed by the tech of pleasure of the moment Dislike men who are so beguiled and demoraliz worlds ed by the charms of </p>
                                        <ul class="tw-mt-7 d-inline-flex tw-gap-1 cursor-small">
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-lg d-flex"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="tw--mt-45-px position-relative">
                                        <div class="bg-white rounded-circle tw-w-90-px tw-h-90-px common-shadow-six tw-p-105 d-inline-flex">
                                            <img src="assets/images/thumbs/testi-img3.png" alt="" class="w-100 h-100 object-fit-cover rounded-circle">
                                        </div>
                                        <h6 class="tw-text-lg tw-mt-4 cursor-big">Cameron Williamson</h6>
                                        <span class="tw-mt-105 text-main-600 cursor-small">Ceo & Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Testimonials Two End ============================== -->