<!-- ================================ Testimonials and brand section start =================================  -->
 <section class="testimonials-brand pb-140 tw-mt-9 position-relative z-1">
    <img src="assets/images/shapes/testimonials-brand-bg.png" alt="" class="position-absolute bottom-0 tw-start-0 tw-end-0 z-n1 w-100 h-75">
    <img src="assets/images/shapes/moon-shape.png" alt="" class="moon-shape position-absolute bottom-0 tw-start-0 z-n1 tw-mb-17">

    <!-- Testimonials start -->
    <div class="tw-container-1380-px tw-px-4 mx-auto">
        <div class="testimonials-box bg-white shadow">

            <div class="testimonials-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide bg-white">
                        <div class="row gy-4">
                            <div class="col-md-4 xs-d-block d-none">
                                <div class="position-relative max-w-318-px tw-me-11 tw-mt-11">
                                    <div class="mask-shape d-flex position-relative">
                                        <img src="assets/images/thumbs/about-img.png" alt="Testimonials Image">
                                    </div>
                                    <span class="tw-w-90-px tw-h-90-px bg-main-600 rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-end-0 tw--me-45-px tw--mt-45-px cursor-big">
                                        <img src="assets/images/icons/quate-icon.svg" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ps-xxl-5">
                                    <p class="xl-tw-text-3xl tw-text-xl fw-bold text-main-two-600 cursor-big">Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to their excellent service competitive pricing</p>
                                    <span class="tw-my-10 border-bottom border-neutral-100 d-block"></span>
        
                                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-2">
                                        <div class="">
                                            <h5 class="tw-mb-2 cursor-big">Robert J. Hare</h5>
                                            <span class="text-neutral-900 cursor-small">Sr. Product Manager</span>
                                        </div>
                                        <ul class="d-flex align-items-center tw-gap-2 cursor-small">
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide bg-white">
                        <div class="row gy-4">
                            <div class="col-md-4 xs-d-block d-none">
                                <div class="position-relative max-w-318-px tw-me-11 tw-mt-11">
                                    <div class="mask-shape d-flex position-relative">
                                        <img src="assets/images/thumbs/about-img.png" alt="Testimonials Image">
                                    </div>
                                    <span class="tw-w-90-px tw-h-90-px bg-main-600 rounded-circle d-flex justify-content-center align-items-center position-absolute top-0 tw-end-0 tw--me-45-px tw--mt-45-px cursor-big">
                                        <img src="assets/images/icons/quate-icon.svg" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="ps-xxl-5">
                                    <p class="xl-tw-text-3xl tw-text-xl fw-bold text-main-two-600 cursor-big">Climb the mountain not to plant your flag but to embrace the ways challenge, enjoy the air, and behold the. Climb it see the world, not so the world can see you. This is due to their excellent service competitive pricing</p>
                                    <span class="tw-my-10 border-bottom border-neutral-100 d-block"></span>
        
                                    <div class="d-flex align-items-center justify-content-between flex-wrap tw-gap-2">
                                        <div class="">
                                            <h5 class="tw-mb-2 cursor-big">Robert J. Hare</h5>
                                            <span class="text-neutral-900 cursor-small">Sr. Product Manager</span>
                                        </div>
                                        <ul class="d-flex align-items-center tw-gap-2 cursor-small">
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                            <li class="text-star tw-text-base"><i class="ph-fill ph-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Testimonials End -->


    <!-- Brand Start -->
     <div class="container">
         <div class="tw-mt-17">
            <div class="left-right-line text-center position-relative z-1">
                <p class="d-inline-block tw-text-xl fw-bold text-main-two-600 tw-px-10 bg-bg-color cursor-small">Trusted and funded by more then <span class="text-main-600">900</span> companies</p>
            </div>

            <div class="tw-mt-12">
                <div class="brand-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img1.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img2.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img3.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img4.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img5.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                        <div class="swiper-slide me-0" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500"> 
                            <div class="text-center cursor-big">
                                <img src="assets/images/thumbs/brand-img2.png" alt="" class="max-w-175-px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
    <!-- Brand End -->
 </section>
<!-- ================================ Testimonials and brand section End =================================  -->