<!-- ============================ Header Top Start ==================================== -->
<div class="header-six-top-bg position-relative z-1 d-xl-block d-none">
    <div class="container tw-container-1554-px">
        <div class="d-flex align-items-center justify-content-between tw-gap-6">
            <div>
                <span class="text-white tw-text-sm fw-medium font-heading">Logistick – The most optimal consulting
                    solution <a class="text-white fw-bold text-decoration-underline" href="javascript:void(0)">Hire
                        Us.</a></span>
            </div>

            <div class="d-flex align-items-center tw-gap-6">
                <div class="cursor-small d-flex align-items-center tw-gap-2 tw-py-205">
                    <span class="text-white d-flex"><i class="ph-bold ph-envelope"></i></span>
                    <a href="mailto:support@example.com"
                        class="text-white xl-tw-text-sm tw-text-xs fw-medium hover--translate-x-05 hover-text-main-600 tw-transition-all font-heading">support@example.com</a>
                </div>
                <div class="cursor-small d-flex align-items-center tw-gap-2 tw-py-205">
                    <span class="text-white d-flex"><i class="ph-bold ph-clock"></i></span>
                    <a href="javascript:void(0)"
                        class="text-white xl-tw-text-sm tw-text-xs fw-medium hover--translate-x-05 hover-text-main-600 tw-transition-all font-heading">Mon
                        - Fri: 09am - 07pm</a>
                </div>
                <div class="cursor-small d-flex align-items-center tw-gap-2 tw-py-205">
                    <span class="text-white d-flex"><i class="ph-bold ph-map-pin"></i></span>
                    <span class="text-white xl-tw-text-sm tw-text-xs fw-medium font-heading">55 Main Street, 2nd block,
                        Malborne, Australia</span>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- ============================ Header Top End ==================================== -->