<!-- ============================ Track order section start ================================ -->
<div class="track-order overflow-hidden position-relative z-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">   
    <img src="assets/images/shapes/track-order-bg.png" alt="" class="track-order-bg position-absolute tw-end-0 top-0 bottom-0 z-n1 h-100">

    <div class="container">
        <div class="d-flex tw-gap-176-px position-relative">
            <a href="contact.html" class="d-1300-px-block d-none flex-shrink-0 cursor-small btn btn-main hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 fw-semibold tw-px-54-px rounded-pill tw-px-8 tw-py-4 position-absolute tw-start-0 bottom-0 tw-ms-7" data-block="button">
                <span class="button__flair"></span>
                <span class="button__label">Consult with us</span>
            </a>
            
            <div class="d-1300-px-block d-none tw-max-h-240-px tw-max-w-240-px rounded-circle overflow-hidden border tw-border-8 border-white">
                <img src="assets/images/thumbs/track-order-img.png" alt="" class="w-100 h-100 object-fit-cover">
            </div>
            
            <form action="#" class="tw-py-15 aos-init aos-animate flex-grow-1">
                <label for="track" class="text-white tw-text-lg fw-bold tw-mb-3 cursor-small">Track your shipment</label>
                <div class="d-flex tw-gap-5">
                    <input type="text" class="cursor-big tw-px-7 tw-py-505 bg-white tw-placeholder-text-main-two-600 border-0 focus-outline-0 w-100 tw-placeholder-transition-2 focus-tw-placeholder-text-hidden tw-rounded-md shadow-none flex-grow-1" placeholder="Enter your tracking id" id="track">
                    <button type="submit" class="flex-shrink-0 cursor-small btn btn-main hover-style-two button--stroke d-inline-flex align-items-center justify-content-center tw-gap-2 group active--translate-y-2 fw-semibold tw-px-54-px" data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">Track order</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ============================ Track order section end ================================ -->