<!-- =========================== Transport way Start ============================== -->
 <section class="transport-way pt-160 position-relative overflow-hidden">
    <img src="assets/images/shapes/about-plane.png" alt="" class="cursor-big about-plane position-absolute tw-start-0 bottom-0 tw-mb-705">

    <div class="container">
        <div class="max-w-756-px mx-auto text-center tw-pb-16 tw-mb-6">
            <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
            <h1 class="splitTextStyleOne cursor-big">Introducing The most Modern way of Transportation</h1>
        </div>

        <div class="row gy-5">

            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="transport-way-item text-center">
                    <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center tw-transition-all tw-duration-300">
                        <img src="assets/images/icons/transport-way-icon1.svg" alt="">
                    </span>
                    <h3 class="cursor-big tw-py-6 w-100 tw-px-4 rounded-pill text-center bg-main-100-gradient-one">560</h3>
                    <h6 class="cursor-small tw-mt-10">Main Warehouses</h6>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="transport-way-item text-center">
                    <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center bg-main-two-600">
                        <img src="assets/images/icons/transport-way-icon2.svg" alt="">
                    </span>
                    <h3 class="cursor-big tw-py-6 w-100 tw-px-4 rounded-pill text-center bg-main-100-gradient-two">100%</h3>
                    <h6 class="cursor-small tw-mt-10">Supply Engineers</h6>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="transport-way-item text-center">
                    <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center">
                        <img src="assets/images/icons/transport-way-icon3.svg" alt="">
                    </span>
                    <h3 class="cursor-big tw-py-6 w-100 tw-px-4 rounded-pill text-center bg-main-100-gradient-three">3m+</h3>
                    <h6 class="cursor-small tw-mt-10">Countries Covered</h6>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <div class="transport-way-item text-center">
                    <span class="transport-way-item__icon cursor-big tw-w-95-px tw-h-95-px bg-main-600 rounded-circle tw-rounded-bl-0 d-inline-flex justify-content-center align-items-center">
                        <img src="assets/images/icons/transport-way-icon4.svg" alt="">
                    </span>
                    <h3 class="cursor-big tw-py-6 w-100 tw-px-4 rounded-pill text-center bg-main-100-gradient-four">30+</h3>
                    <h6 class="cursor-small tw-mt-10">Total Services</h6>
                </div>
            </div>

        </div>
    </div>
 </section>
<!-- =========================== Transport way End ============================== -->