<!-- =============================== Transport Way Section Start ================================ -->
<section class="py-160 bg-img position-relative overflow-hidden" data-background-image="assets/images/shapes/transport-way-bg.png">
    <img src="assets/images/shapes/plane-down.png" alt="" class="plan-down position-absolute tw-start-0 top-0">
    <img src="assets/images/shapes/biman-line.png" alt="" class="cursor-small d-lg-block d-none position-absolute tw-end-0 top-50 tw--translate-y-50 tw-me-15">
    
    <div class="container">
        <div class="max-w-810-px mx-auto text-center tw-mb-15">
            <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-main-600 tw-mb-305">safe transportation & Logistics</span>
            <h1 class="splitTextStyleOne cursor-big tw-mb-8">Introducing The most Modern way of Transportation</h1>
        </div>

        <div class="transport-way-item-wrapper">
            <div class="row gy-4">
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                    <div class="transport-card position-relative">
                        <div class="transport-way-item animation-item position-relative">
                            <div class="half-bg-white z-1 position-relative">
                                <span class="transport-way-item__icon cursor-big bg-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-ms-10 tw-duration-300">
                                    <img src="assets/images/icons/tranport-way-icon1.svg" alt="" class="animate__heartBeat">
                                </span>
                            </div>
                            <div class="bg-white tw-px-10 tw-py-15 tw-pt-8 position-relative">
                                <img src="assets/images/shapes/curve-arrow-right.png" alt="" class="position-absolute top-0 tw-end-0 tw-me-15 animate__wobble__two z-1">
                                <h5 class="splitTextStyleTwo tw-mb-5 cursor-big max-w-200-px">Replenishment and picking</h5>
                                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="transport-card position-relative">
                        <div class="transport-way-item animation-item position-relative">
                            <div class="half-bg-white z-1 position-relative">
                                <span class="transport-way-item__icon cursor-big bg-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-ms-10 tw-duration-300 bg-main-two-600">
                                    <img src="assets/images/icons/tranport-way-icon2.svg" alt="" class="animate__heartBeat">
                                </span>
                            </div>
                            <div class="bg-white tw-px-10 tw-py-15 tw-pt-8 position-relative">
                                <img src="assets/images/shapes/curve-arrow-right.png" alt="" class="position-absolute top-0 tw-end-0 tw-me-15 animate__wobble__two z-1">
                                <h5 class="splitTextStyleTwo tw-mb-5 cursor-big max-w-200-px">Warehousing operation</h5>
                                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="transport-card position-relative">
                            <div class="transport-way-item animation-item position-relative">
                            <div class="half-bg-white z-1 position-relative">
                                <span class="transport-way-item__icon cursor-big bg-main-600 tw-w-114-px tw-h-114-px d-flex justify-content-center align-items-center rounded-circle tw-ms-10 tw-duration-300">
                                    <img src="assets/images/icons/tranport-way-icon3.svg" alt="" class="animate__heartBeat">
                                </span>
                            </div>
                            <div class="bg-white tw-px-10 tw-py-15 tw-pt-8 position-relative">
                                <h5 class="splitTextStyleTwo tw-mb-5 cursor-big max-w-200-px">Transportation Processing</h5>
                                <p class="text-neutral-1000 cursor-small">Temperate ocean-bass sea chub bass sea chub treefish eulachon tidewater goby.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Transport Way Section End ================================ -->