<section class="py-120 position-relative z-1" style="background: #080C24;">
     <div class="video-five-bg position-absolute h-100 top-0 end-0 z-1">
          <img class="w-100 h-100 object-fit-cover" src="assets/images/thumbs/video-five-bg.png" alt="bg">
          <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-inherit-animation cursor-big tw-w-75-px tw-h-75-px d-inline-flex justify-content-center align-items-center bg-main-600 text-white hover-text-main-two-700 rounded-circle tw-text-xl position-absolute tw-start-50 tw--translate-middle top-50">
               <i class="ph-fill ph-play"></i>
          </a>
     </div>
     <div class="container">
          <div class="row">
               <div class="col-xl-6 col-lg-7 col-md-7">
                    <div class="call-to-action-four-wrapper tw-p-40-50-px tw-ml-30-px bg-img position-relative z-1" data-background-image="assets/images/shapes/video-five-box-shape.png">
                         <div class="mb-3">
                              <span class="splitTextStyleTwo cursor-small tw-text-xl fw-bold fst-italic text-decoration-underline text-white tw-mb-305"> Let’s Talk </span>
                              <h2 class="tw-text-60-px splitTextStyleOne cursor-big tw-mb-8 text-white"> Let’s Talk You Need Any Help?</h2>
                         </div>
                         <div class="call-to-action-four-call-item d-flex gap-3 mb-4">
                              <div class="call-to-action-four-call-icon">
                                  <a class="tw-w-50-px tw-h-50-px d-inline-flex align-items-center justify-content-center bg-white text-main-600 rounded-circle line-height-1 tw-text-2xl" href="tel:+025757576560"><i class="ph ph-phone-call"></i></a>
                              </div>
                              <div class="call-to-action-four-call-number">
                                  <span class="d-block text-white fw-bold mb-1">Have Any Question</span>
                                  <a class="text-white fw-bold mb-2 hover-text-underline" href="tel:+025757576560">+025 757 576 560</a>
                              </div>
                          </div>
                         <div>
                              <a href="service.html" class="cursor-small btn btn-main-two hover-style-two button--stroke tw-py-405 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2" data-block="button">
                                   <span class="button__flair"></span>
                                   <span class="button__label"> Contact Us</span>
                                   <span class="tw-w-7 tw-h-7 bg-white text-main-600 tw-text-sm tw-rounded d-flex justify-content-center align-items-center position-relative group-hover-bg-main-600 group-hover-text-white tw-duration-500">
                                       <i class="ph-bold ph-check"></i>
                                   </span>
                               </a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>