<!-- ========================= Video section start ============================== -->
<div class="overflow-hidden pt-140">
    <div class="container">
        <div class="position-relative">
            <img src="assets/images/thumbs/video_bg.png" alt="" class="w-100 h-100 object-fit-cover tw-rounded-xl tw-min-h-300-px">
            <div class="position-absolute top-50 tw-start-50 translate-middle z-1 text-center w-100">
                <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg" class="play-button bg-light-animation cursor-big tw-w-75-px tw-h-75-px position-relative d-inline-flex justify-content-center align-items-center bg-main-600 text-white hover-text-main-two-700 active-scale-094 rounded-circle tw-text-xl">
                    <i class="ph-fill ph-play"></i>
                </a>
                <h2 class="font-pacifico h1 text-white cursor-big tw-mt-12 fw-medium">Watch Video</h2>
            </div>
        </div>
    </div>
</div>
<!-- ========================= Video section End ============================== -->