/* Inset class start */
.tw-start {
    &-0 {
        inset-inline-start: 0;
    }
    &-auto {
        inset-inline-start: auto;
    }
}
.tw-end {
    &-0 {
        inset-inline-end: 0;
    }
    &-auto {
        inset-inline-end: auto;
    }
}

/* Inset class End */