/* Max width Css Class Start */
.max-w {
    &-100-px {
        max-width: 100px;
    }
    &-190-px {
        max-width: 190px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-210-px {
        max-width: 210px;
    }
    &-260-px {
        max-width: 260px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-520-px {
        max-width: 520px;
    }
    &-632-px {
        max-width: 632px;
    }
    &-756-px {
        max-width: 756px;
    }
    &-810-px {
        max-width: 810px;
    }
}
/* Max width Css Class End */