/* Max width Css Class Start */
.max-w {
    &-100-px {
        max-width: 100px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-520-px {
        max-width: 520px;
    }
}
/* Max width Css Class End */