/* ================================= Padding Css Start =========================== */
@each $property, $value in $spaces {
  .tw-p-#{$property} {
    padding: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-px-#{$property} {
    padding-inline: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-py-#{$property} {
    padding-block: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-ps-#{$property} {
    padding-inline-start: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-pe-#{$property} {
    padding-inline-end: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-pt-#{$property} {
    padding-block-start: var(--size-#{$property});
  }
}

@each $property, $value in $spaces {
  .tw-pb-#{$property} {
    padding-block-end: var(--size-#{$property});
  }
}


.tw {
  &-pe {
    &-130-px {
      padding-inline-end: 130px;
    }
  }
  &-pt-76-px {
    padding-top: 76px;
  }
  
}


.py-160 {
  padding-block-start: 100px;
  padding-block-end: 100px;
  @media (min-width: 576px) {
    padding-block-start: 130px;
    padding-block-end: 130px;
  }
  @media (min-width: 992px) {
    padding-block-start: 160px;
    padding-block-end: 160px;
  }
}

.pt-160 {
  padding-block-start: 100px;
  @media (min-width: 576px) {
    padding-block-start: 130px;
  }
  @media (min-width: 992px) {
    padding-block-start: 160px;
  }
}

.pb-160 {
  padding-block-end: 100px;
  @media (min-width: 576px) {
    padding-block-end: 130px;
  }
  @media (min-width: 992px) {
    padding-block-end: 160px;
  }
}

.py-120 {
  padding-block-start: 60px;
  padding-block-end: 60px;
  @media (min-width: 576px) {
    padding-block-start: 80px;
    padding-block-end: 80px;
  }
  @media (min-width: 992px) {
    padding-block-start: 120px;
    padding-block-end: 120px;
  }
}
.pt-120 {
    padding-block-start: 60px;
    @media (min-width: 576px) {
      padding-block-start: 80px;
    }
    @media (min-width: 992px) {
    padding-block-start: 120px;
  }
}
.pb-120 {
    padding-block-end: 60px;
    @media (min-width: 576px) {
      padding-block-end: 80px;
    }
    @media (min-width: 992px) {
      padding-block-end: 120px;
    }
}
.py-60 {
    padding-block-start: 30px;
    padding-block-end: 30px;
    @media (min-width: 576px) {
      padding-block-start: 40px;
      padding-block-end: 40px;
    }
    @media (min-width: 992px) {
      padding-block-start: 60px;
      padding-block-end: 60px;
    }
}
.pt-60 {
    padding-block-start: 30px;
    @media (min-width: 576px) {
      padding-block-start: 40px;
    }
    @media (min-width: 992px) {
      padding-block-start: 60px;
    }
}
  .pb-60 {
    padding-block-end: 30px;
    @media (min-width: 576px) {
      padding-block-end: 40px;
    }
    @media (min-width: 992px) {
      padding-block-end: 60px;
    }
}
/* ================================= Padding Css End =========================== */
