/* blur Css start */
.bg-dark-blur {
    background-color: #222a2c4a;
    backdrop-filter: blur(10px);
}
.bg-white-blur {
    background-color:rgba(255, 255, 255, 0.44);
    backdrop-filter: blur(40px);
}
/* blur Css End */