.contact-six {
    &-area {
        background: #f3f8ff;
    }
    &-left {
        @include lg-screen {
            padding-block-end: 30px;
        }
    }
    &-thumb {
        & img {
            max-width: inherit;
            @include md-screen {
                width: 100%;
            }
        }
    }
}